Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  bin/repo-setup
  config/vim/autoload/utils.vim
  config/vim/vimrc
Due: none

WIP
  bin/check-external-mention.sh
  bin/system-monitor.py
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, ruff-check, ruff-format, statix

WIP
  config/vim/vimrc
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/vim/autoload/utils.vim
  config/vim/vimrc
Due: none

WIP
  config/vim/autoload/utils.vim
  config/vim/vimrc
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

add tmux-a2a-postman skill with MD040 fixes
  config/agents/skills/tmux-a2a-postman/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  config/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
Due: none

WIP
  config/vim/autoload/utils.vim
Due: none

WIP
  config/zeno/config.yaml
Due: none

fix: use top-level additionalContext in UserPromptSubmit hook
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  config/vim/dpp/vim.toml
  flake.nix
  nix/flake-parts/default.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/agent-skills.nix
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
  nix/home-manager/modules/efm-langserver.nix
  nix/home-manager/modules/mcp-servers.nix
  nix/home-manager/modules/npm.nix
  nix/home-manager/modules/tmux.nix
  nix/home-manager/modules/vscode.nix
  nix/home-manager/modules/zsh.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

WIP
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  config/vim/dpp/lazy.toml
  nix/home-manager/default.nix
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  config/agents/skills/nix/SKILL.md
  config/vim/dpp/nvim.toml
  config/vim/dpp/vim.toml
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/efm-langserver.nix
  nix/nix-darwin/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

add skhd
  nix/nix-darwin/default.nix
Due: alejandra, statix

skhd: change app switching modifier from Ctrl to Alt for ergonomics
  nix/nix-darwin/default.nix
Due: alejandra, statix

WIP
  .github/dependabot.yml
  renovate.json
Due: none

renovate: use stabilityDays and automerge, drop minimumReleaseAge
  renovate.json
Due: none

WIP
  config/zsh/prompt.zsh
Due: none

enhance
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

enhance plan workflow with ExecPlan pattern and milestone-driven structure
  config/agents/skills/orchestrator/SKILL.md
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: rumdl-check, rumdl-fmt

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix OSC 52 clipboard: use tmux load-buffer -w instead of /dev/tty
  config/vim/autoload/utils.vim
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

WIP
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

switch VDE tools from nix run to nix profile for instant startup
  Makefile
  config/vde/layout.yml
  nix/home-manager/default.nix
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

WIP
  nix/home-manager/default.nix
  nix/home-manager/pkgs/gogcli.nix
Due: alejandra, statix
