Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore(home-manager): remove aws-sam-cli from packages
  nix/home-manager/default.nix
Due: alejandra, statix

refactor(scripts): move internal helpers out of bin (#214)
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/modules/tmux.nix
  scripts/ghq/ghq-fzf-preview
  scripts/google/spreadsheet-to-md.gs
  scripts/tmux/system-load
  scripts/tmux/tmux-session-index
  scripts/validation/validate-skill-description-length.sh
  scripts/validation/validate-skill-frontmatter.sh
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-trigger-matrix.sh
  scripts/validation/validate-skill-waza.sh
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/trigger-validation.json
Due: alejandra, rumdl-check, rumdl-fmt, statix

ci(skills): add release readiness in scripts layout (#214)
  .github/workflows/ci.yaml
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-release-readiness.sh
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

refactor(scripts): align release readiness with helper move (#180)
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/modules/tmux.nix
  scripts/ghq/ghq-fzf-preview
  scripts/google/spreadsheet-to-md.gs
  scripts/tmux/system-load
  scripts/tmux/tmux-session-index
  scripts/validation/validate-skill-description-length.sh
  scripts/validation/validate-skill-frontmatter.sh
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-release-readiness.sh
  scripts/validation/validate-skill-trigger-matrix.sh
  scripts/validation/validate-skill-waza.sh
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/trigger-validation.json
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

docs(skills): annotate private runtime examples (#214)
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/references/waza-publishing.md
Due: rumdl-check, rumdl-fmt

refactor(scripts): keep release readiness on issue 180 (#214)
  .github/workflows/ci.yaml
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-release-readiness.sh
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

refactor(scripts): leave private scan content unchanged (#214)
  scripts/validation/validate-skill-private-content.sh
Due: none

chore(darwin): install VS Code through Homebrew (#208)
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/modules/vscode.nix
Due: alejandra, statix

style(nvim): move option block before plugin setup
  config/nvim/nvim/init.lua
Due: none

fix(nvim): disable netrw and set buffer options early
  config/nvim/nvim/init.lua
Due: none

fix(agents): route codex bash denials through shared hook
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/deny-bash-design.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/denied-bash-commands.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(nvim): disable ambiwidth setting
  config/nvim/nvim/init.lua
Due: none

feat(apps): add markdown-formatter profile package
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

ci(skills): make releases v-tag driven
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-release-all.md
  skills/classification.yaml
Due: actionlint, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, zizmor

fix(worktree): allow copied envrc in issue worktrees
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
Due: rumdl-check, rumdl-fmt

ci(skills): enforce release readiness in pre-commit (#180)
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  skills/agent-harness-engineering/references/claude-workspace-trust.md
  skills/classification.yaml
  skills/dbt-local/references/preserved-guidance.md
  skills/drawio-local/references/preserved-guidance.md
  skills/restricted-bigquery-dbt-environment/references/preserved-guidance.md
  skills/skill-description-index/references/preserved-guidance.md
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

fix(worktree): guard issue direnv auto-allow
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: rumdl-check, rumdl-fmt

fix(worktree): block generated envrc auto-allow
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(nvim): highlight trailing whitespace in matches
  config/nvim/nvim/init.lua
Due: none

ci(skills): keep release validation in ci workflow (#180)
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

chore(flake): update home-manager and nix-darwin inputs
  flake.lock
  flake.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

Install VS Code through Homebrew on macOS (#216)
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/modules/vscode.nix
Due: alejandra, statix

chore(vde): set editor title for default panes
  config/vde/layout.yml
Due: none

Move internal helper scripts out of bin (#217)
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/modules/tmux.nix
  scripts/ghq/ghq-fzf-preview
  scripts/google/spreadsheet-to-md.gs
  scripts/tmux/system-load
  scripts/tmux/tmux-session-index
  scripts/validation/validate-skill-description-length.sh
  scripts/validation/validate-skill-frontmatter.sh
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-trigger-matrix.sh
  scripts/validation/validate-skill-waza.sh
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/trigger-validation.json
Due: alejandra, rumdl-check, rumdl-fmt, statix

Make shared PreToolUse hook the command-deny authority (#215)
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/deny-bash-design.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/denied-bash-commands.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(home-manager): set XDG_CONFIG_HOME for pnpm install
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

fix(darwin): run skhd from Homebrew tap
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(nix-darwin): clarify Accessibility permission for skhd
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(skills): resolve release readiness conflict (#180)
  skills/classification.yaml
Due: none

chore(flake): update flake inputs and disable home-manager nixpkgs release check
  flake.lock
  nix/home-manager/default.nix
Due: alejandra, statix

docs: apply markdown formatter for CI
  config/tmux-a2a-postman/postman.md
  docs/agent-hooks-architecture.md
  docs/clipboard-strategy.md
  docs/deny-bash-design.md
  nix/home-manager/agents/README.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-harness-engineering/references/workspace-vde-layout-internals.md
Due: rumdl-check, rumdl-fmt

style(nvim): remove commented ambiwidth setting
  config/nvim/nvim/init.lua
Due: none

docs(skills): add durable task tracking guidance
  config/tmux-a2a-postman/postman.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/classification.yaml
  skills/durable-task-tracking/SKILL.md
  skills/durable-task-tracking/references/task-artifact-method.md
Due: rumdl-check, rumdl-fmt

refactor(nvim): remove unused keymaps
  config/nvim/nvim/init.lua
Due: none

feat(home-manager): add global writing quality tools
  config/vale/.vale.ini
  nix/home-manager/default.nix
  skills/classification.yaml
  skills/english-writing-quality/SKILL.md
  skills/english-writing-quality/references/vale-and-harper.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

refactor(claude): remove statusline config
  docs/agent-hooks-architecture.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/scripts/claude-statusline.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
  skills/agent-harness-engineering/references/claude-code.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): fence skill description index output
  skills/skill-description-index/references/preserved-guidance.md
  skills/skill-description-index/scripts/agent-skill-description-index.sh
Due: rumdl-check, rumdl-fmt

docs(skills): clarify Waza validation layers
  skills/agent-skills-management/references/waza-publishing.md
Due: rumdl-check, rumdl-fmt
