Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore(flake): update flake.lock
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

docs(storage): document storage hygiene skill bridge
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

refactor(skills): fold workspace trust into agent harness
  nix/home-manager/agents/README.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/claude-workspace-trust.md
  skills/claude-workspace-trust-fix/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agents): update workspace trust reference
  nix/home-manager/agents/default.nix
Due: alejandra, statix

chore(flake): update flake inputs
  flake.lock
Due: none

docs: remove bash command example from Ubuntu installer instructions
  README.md
Due: rumdl-check, rumdl-fmt

chore(postman): update command references from get-health to get-status
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  flake.lock
  nix/home-manager/modules/tmux.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake.lock): update mcp-servers-nix and tmux-a2a-postman
  flake.lock
Due: none

docs: fix Ubuntu Nix upgrade instructions
  README.md
Due: rumdl-check, rumdl-fmt

docs: clarify Nix repair steps
  README.md
Due: rumdl-check, rumdl-fmt

docs: nest macOS recovery under Nix upgrade
  README.md
Due: rumdl-check, rumdl-fmt

docs: avoid Nix manual profile conflict
  README.md
Due: rumdl-check, rumdl-fmt

docs: remove Ubuntu installer rerun path
  README.md
Due: rumdl-check, rumdl-fmt

chore(flake): update mcp-servers-nix
  flake.lock
Due: none

refactor(nvim): consolidate init configuration
  config/nvim/nvim-minimal/init.vim
  config/nvim/nvim/init.lua
  config/vim/vimrc
Due: none

feat(skills): add review comment drafting skill
  skills/create-review-comment/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(vim): simplify vim bootstrap
  bin/repo-setup
  config/nvim/nvim/init.lua
  config/vim/autoload/utils.vim
  config/vim/vimrc
Due: none

refactor(config): consolidate nvim and vim path setup in nix
  config/nvim/nvim/init.lua
  nix/home-manager/default.nix
Due: alejandra, statix

chore(vim): remap - key to open parent directory in non-nvim
  config/vim/vimrc
Due: none

chore(darwin): install macskk dictionaries without dpp
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(vim): remove dpp configuration
  config/vim/dpp/ddc.toml
  config/vim/dpp/ddu.toml
  config/vim/dpp/denops.toml
  config/vim/dpp/dpp.toml
  config/vim/dpp/dpp.ts
  config/vim/dpp/dpp.vim
  config/vim/dpp/lazy.toml
  config/vim/dpp/nvim.toml
  config/vim/dpp/skkdict.utf8
  config/vim/dpp/vim.toml
  config/vim/vimrc
Due: none

refactor(vim): remove unused snippets, keymaps, and variables, simplify with $MYVIMRC
  config/nvim/nvim/init.lua
  config/vim/snippet/markdown.json
  config/vim/snippet/sh.json
  config/vim/vimrc
Due: none

refactor(nix): use symlink function for nvim and vim configs
  nix/home-manager/default.nix
Due: alejandra, statix

chore(nvim): add lazy-lock.json
  config/nvim/nvim/lazy-lock.json
Due: none

chore(nvim): remove obsolete config files
  config/nvim/nvim-as-fileviewer/init.lua
  config/nvim/nvim-minimal/init.vim
Due: none

refactor(vim): remove unused edit mapping and signcolumn setting
  config/vim/vimrc
Due: none

chore(flake): update lock file
  flake.lock
Due: none

fix(agents): skip add-dir README frontmatter
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
Due: none

docs(agents): document Codex WAL mitigation
  skills/agent-harness-engineering/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

docs(postman): clarify role identity headings
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(agents): add hourly Codex WAL checkpoint timer
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(skills): rename skill-index to skill-description-index and harden triggers
  nix/home-manager/agents/README.md
  skills/skill-description-index/SKILL.md
  skills/skill-description-index/scripts/agent-skill-description-index.sh
  skills/skill-index/SKILL.md
Due: rumdl-check, rumdl-fmt

style(skills): restore intended h1/h2 heading levels in skill-description-index
  skills/skill-description-index/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(skills): consolidate tmux and using-git-worktrees into agent-workspace
  docs/worktree-tool-evaluation.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/boot-failure-modes.md
  skills/agent-workspace/references/tmux-pane-operations.md
  skills/agent-workspace/references/vde-layout-internals.md
  skills/agent-workspace/references/worktree-workflow.md
  skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): narrow postman infrastructure guidance
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/boot-failure-modes.md
  skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(tmux): simplify pane border format and adjust status display
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

feat(vim): restore window-resize keybindings (h/j/k/l)
  config/vim/vimrc
Due: none
