Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix: apply nixfmt multi-line format to gogcli.nix argument list
  nix/home-manager/pkgs/gogcli.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
  config/vim/vimrc
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  bin/system-load
  config/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/modules/claude-code.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  nix/home-manager/default.nix
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  flake.lock
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  .claude/CLAUDE.md
  .codex/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  nix/home-manager/default.nix
Due: alejandra, statix

feat: add session-reflect skill
  config/agents/skills/session-reflect/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: pin llm-agents.nix as flake input and update nix-profile target
  Makefile
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
  nix/flake-parts/modules/llm-agents.nix
Due: alejandra, statix

feat(ubuntu): add claude-code via nixpkgs-unstable home.packages
  Makefile
  flake.lock
  flake.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

feat: add AI tools declaratively via shared home-manager module (M6)
  flake.lock
  flake.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
Due: alejandra, statix

fix: add cache.numtide.com substituter to commonNixSettings
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  flake.lock
  flake.nix
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

WIP
  Makefile
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  config/vim/vimrc
Due: none

WIP
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  flake.lock
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
Due: none

WIP
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/postman.toml
Due: none

fix: apply a2a-role-auditor findings to nodes/*.toml (PONG + routing clarity)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

fix: correct orchestrator.toml routing — no guardian-boss edge exists
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

WIP
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

WIP
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

feat: add drawio CLI to shared home-manager packages
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  config/agents/AGENTS.md
  config/agents/skills/databricks-local/SKILL.md
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  flake.lock
  flake.nix
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/agents/skills/draw-io/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
  nix/nix-darwin/default.nix
Due: alejandra, statix

WIP
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

WIP
  config/agents/AGENTS.md
  config/agents/skills/databricks-local/SKILL.md
  config/agents/skills/dbt-local/SKILL.md
  config/agents/skills/jupyter-notebook/SKILL.md
  config/agents/skills/terraform/SKILL.md
  config/agents/skills/terraform/examples/module-skeleton/README.md
  config/agents/skills/terraform/examples/module-skeleton/main.tf
  config/agents/skills/terraform/examples/module-skeleton/versions.tf
Due: rumdl-check, rumdl-fmt

WIP
  config/agents/AGENTS.md
  config/agents/rules/python.md
  config/agents/skills/python/examples/pyproject.toml
  nix/home-manager/modules/claude-code.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/agents/scripts/claude-pretooluse-write-deny.sh
Due: none

WIP
  config/vde/layout.yml
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
