Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

chore(codex): disable apps feature
  nix/home-manager/agents/codex/default.nix
Due: alejandra, statix

chore(codex): allow selected app connectors
  nix/home-manager/agents/codex/default.nix
Due: alejandra, statix

chore(flake): bump locked inputs
  flake.lock
Due: none

feat(ubuntu): add Docker socket helper
  README.md
  bin/ubuntu/docker-engine-socket.sh
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update pinned dependencies
  flake.lock
Due: none

chore(darwin): disable monitorcontrol package
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

Fix Homebrew cleanup activation
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(home-manager): bump nodejs and pnpm
  nix/home-manager/default.nix
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

style(nvim): use TermCursor for date and command highlights
  config/nvim/nvim/init.lua
Due: none

chore(flake): update locked dependencies
  flake.lock
Due: none

style(docs): format guardian policy evaluation (#224)
  docs/codex-guardian-policy-template-evaluation.md
Due: rumdl-check, rumdl-fmt

refactor(tmux): consolidate config
  config/tmux/tmux.conf
  nix/home-manager/default.nix
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): simplify status bar configuration
  config/tmux/tmux.conf
Due: none

feat(tmux): set default pane titles via hooks
  config/tmux/tmux.conf
Due: none

Remove tmux session index status
  config/tmux/tmux.conf
  scripts/tmux/tmux-session-index
Due: none

Simplify tmux status configuration
  config/tmux/tmux.conf
Due: none

chore(home-manager): regroup packages under nixpkgs and other tools
  nix/home-manager/default.nix
Due: alejandra, statix

chore(tmux): remove pane resize key bindings
  config/tmux/tmux.conf
Due: none

chore(tmux): adjust status bar quoting and reload binding
  config/tmux/tmux.conf
Due: none

chore(tmux): reorder config and add reload binding
  config/tmux/tmux.conf
Due: none

style(tmux): add spacing between status segments
  config/tmux/tmux.conf
Due: none

style(tmux): simplify status bar formatting
  config/tmux/tmux.conf
Due: none

style(tmux): highlight current window with bold underline
  config/tmux/tmux.conf
Due: none

fix(tmux): adjust status and window label formatting
  config/tmux/tmux.conf
Due: none

Evaluate Codex guardian policy template (#230)
  docs/codex-guardian-policy-template-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(review): map repo review boundaries (#241)
  docs/repo-ai-operating-contract.md
  docs/repo-ai-review-boundaries.md
Due: rumdl-check, rumdl-fmt

docs(ci): evaluate zizmor code scanning path (#209)
  docs/zizmor-sarif-code-scanning-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(agents): specify execution-layer smoke test (#239)
  docs/agent-execution-layer-smoke-test.md
Due: rumdl-check, rumdl-fmt

docs(agents): evaluate Claude containment lessons (#236)
  docs/claude-containment-agent-harness-evaluation.md
Due: rumdl-check, rumdl-fmt

fix(nix): add cleanup preview paths (#238)
  README.md
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): document Codex auto-review boundaries (#240)
  docs/codex-auto-review-local-boundaries.md
Due: rumdl-check, rumdl-fmt

fix(agents): scan substitutions in stripped messages (#203)
  docs/deny-bash-design.md
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  tests/codex-deny-inert-text.sh
Due: rumdl-check, rumdl-fmt

fix(nix): harden cleanup command defaults (#238)
  README.md
  bin/cleanup-safe-caches.sh
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

test(agents): cover backtick substitutions (#203)
  tests/codex-deny-inert-text.sh
Due: none

docs(agents): correct auto-review launcher source (#240)
  docs/codex-auto-review-local-boundaries.md
Due: rumdl-check, rumdl-fmt

docs(ci): record release workflow write scope (#209)
  docs/zizmor-sarif-code-scanning-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(review): separate boss and human approval (#241)
  docs/repo-ai-operating-contract.md
  docs/repo-ai-review-boundaries.md
Due: rumdl-check, rumdl-fmt

fix(tmux): escape command separator in reload binding
  config/tmux/tmux.conf
Due: none

feat(ubuntu): add Docker socket helper (#242)
  README.md
  bin/ubuntu/docker-engine-socket.sh
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(readme): align Nix upgrade formatting (#238)
  README.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
