Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix(a2a): add messaging protocol to worker and worker-alt templates
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

chore(flake): update drawio-mcp and tmux-a2a-postman
  flake.lock
Due: none

fix(tmux-a2a-postman): add 5 protocol fixes to agent role templates
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

style(repo-status): replace emoji indicators for insertions and deletions
  bin/repo-status
Due: none

feat(prompt): add SSH remote indicator and simplify devshell display
  config/zsh/prompt.zsh
  flake.lock
Due: none

style(zsh): change remote indicator to globe and update prompt styling
  config/zsh/prompt.zsh
Due: none

feat(vim): add ai-orchestrator-status snippet
  config/vim/snippet/markdown.json
Due: none

chore(flake): update flake dependencies
  flake.lock
Due: none

feat(snippet): add instruction to ai-orchestrator-status snippet
  config/vim/snippet/markdown.json
Due: none

fix(userpromptsubmit): explicitly target current tmux pane
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
Due: none

docs(vim): improve ai-orchestrator-status snippet structure
  config/vim/snippet/markdown.json
Due: none

feat(hooks): inject usage metrics into UserPromptSubmit context
  nix/home-manager/agents/scripts/claude-statusline.sh
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
Due: none

chore(lock): update nix-index-database and tmux-a2a-postman
  flake.lock
Due: none

chore(deps): update tmux-a2a-postman
  flake.lock
Due: none

docs(agents): remove vault references from documentation
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/skills/claude-workspace-trust-fix/SKILL.md
Due: rumdl-check, rumdl-fmt

chore: add actrun as flake input
  flake.lock
  flake.nix
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

docs(readme): add Ubuntu user management section
  .github/README.md
Due: rumdl-check, rumdl-fmt

docs(readme): reorder badges and remove forks badge
  .github/README.md
Due: rumdl-check, rumdl-fmt

docs: remove redundant badges from README
  .github/README.md
Due: rumdl-check, rumdl-fmt

refactor: rename mkoutput to mkmd and use mktemp
  .claude/settings.local.json
  bin/mkmd
  bin/repo-setup
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/rules/bash.md
  nix/home-manager/agents/scripts/claude-precompact-save.sh
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/orchestrator/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(mkmd): simplify project resolution and add MKMD_BASE_DIR
  bin/mkmd
Due: none

docs(AGENTS): add draft dir to mkmd table
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

style(agents): indent working files table
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

docs(tmux-a2a-postman): update messaging commands and health check procedures
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.toml
  flake.lock
Due: none

chore(flake): update flake.lock
  flake.lock
Due: none

chore: update flake.lock
  flake.lock
Due: none

docs(agents): remove detailed file reference documentation
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

feat(tmux-a2a-postman): consolidate config into postman.toml + postman.md
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
Due: rumdl-check, rumdl-fmt

chore(.claude): remove settings.local.json
  .claude/settings.local.json
Due: none

chore: update flake dependencies
  flake.lock
Due: none

chore(flake.lock): update tmux-a2a-postman
  flake.lock
Due: none

chore(flake): bump tmux-a2a-postman
  flake.lock
Due: none

refactor(tmux-a2a-postman): reduce postman.md template size by 37%
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

refactor(tmux-a2a-postman): enhance role descriptions and slim common_template
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

refactor(tmux-a2a-postman): improve on_join and remove skill restriction from common
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

style(tmux-a2a-postman): add parent node name prefix to all h3/h4 headings
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake): update llm-agents.nix and tmux-a2a-postman
  flake.lock
Due: none

feat(postman): add message_footer to postman.md
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
