Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore(flake): update locked inputs
  flake.lock
Due: none

docs(skills): add release cleanup classification memo (#168)
  docs/agent-skill-management.md
  docs/dotfiles-operating-concepts.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

chore(flake): bump locked dependencies
  flake.lock
Due: none

feat(ubuntu): add root LVM expansion helper
  README.md
  bin/ubuntu/extend-root-lvm.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

style(kitty): tidy shortcuts and adjust opacity
  config/kitty/kitty.conf
Due: none

docs(skills): add release cleanup classification memo (#168) (#181)
  docs/agent-skill-management.md
  docs/dotfiles-operating-concepts.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

chore(skills): add private content scan gate (#169)
  bin/validate-skill-private-content.sh
  config/tmux-a2a-postman/postman.md
  docs/agent-skill-management.md
  nix/flake-parts/modules/pre-commit.nix
  skills/classification.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): scan staged private content blobs (#169)
  bin/validate-skill-private-content.sh
Due: none

fix(skills): record scan scope exceptions (#169)
  bin/validate-skill-private-content.sh
  docs/agent-skill-management.md
  docs/dotfiles-operating-concepts.md
  skills/agent-skill-management/SKILL.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

fix(zsh): make snippets portable and composable
  config/zsh/snippet.zsh
Due: none

chore(skills): normalize Agent Skills metadata (#170)
  bin/validate-skill-private-content.sh
  docs/agent-skills-management.md
  docs/dotfiles-operating-concepts.md
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/README.md
  skills/agent-skills-management/SKILL.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agent-harness): migrate orchestrator role runbook (#171)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/classification.yaml
  skills/orchestrator/SKILL.md
  skills/orchestrator/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

chore(skills): consolidate programming skill target (#173)
  skills/bash/SKILL.md
  skills/bash/references/preserved-guidance.md
  skills/classification.yaml
  skills/markdown/SKILL.md
  skills/markdown/references/preserved-guidance.md
  skills/nix/SKILL.md
  skills/nix/references/preserved-guidance.md
  skills/programming/SKILL.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/markdown-authoring.md
  skills/programming/references/nix-package-workflow.md
  skills/programming/references/python-development.md
  skills/programming/references/tdd-tidy-first.md
  skills/python/SKILL.md
  skills/python/references/preserved-guidance.md
  skills/tdd-tidy-first/SKILL.md
  skills/tdd-tidy-first/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agent-harness): update plan-design orchestrator pointers (#171)
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

fix(repo-setup): initialize generated envrc (#184)
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
  tests/repo-setup-smoke.sh
Due: rumdl-check, rumdl-fmt

fix(repo-setup): preserve PR envrc trust gate (#184)
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
  tests/repo-setup-smoke.sh
Due: rumdl-check, rumdl-fmt

docs(worktree): clarify envrc copy policy (#184)
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
  tests/repo-setup-smoke.sh
Due: rumdl-check, rumdl-fmt

docs(postman): align node templates with current skills
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(skills): align private-content gate with main (#169)
  config/tmux-a2a-postman/postman.md
  config/zsh/snippet.zsh
Due: rumdl-check, rumdl-fmt

fix(skills): keep postman skill paths mergeable (#169)
  bin/validate-skill-private-content.sh
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

Add private-content scan gate for Agent Skills cleanup (#169) (#183)
  bin/validate-skill-private-content.sh
  config/tmux-a2a-postman/postman.md
  docs/agent-skill-management.md
  docs/dotfiles-operating-concepts.md
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-skill-management/SKILL.md
  skills/classification.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): align naming PR with merged scan gate (#170)
  bin/validate-skill-private-content.sh
  config/tmux-a2a-postman/postman.md
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): align orchestrator role PR with scan gate (#171)
  bin/validate-skill-private-content.sh
  config/tmux-a2a-postman/postman.md
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(github): document PR conflict resolution policy (#170)
  skills/github/SKILL.md
  skills/github/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lockfile dependencies
  flake.lock
Due: none

fix(zsh): align snippets with main for PR conflict (#170)
  config/zsh/snippet.zsh
Due: none

chore(flake): align lockfile with main for PR conflict (#170)
  flake.lock
Due: none

chore(flake): align lockfile with main for PR conflict (#171)
  flake.lock
Due: none

fix(home-manager): remove missing ccusage-codex package (#189)
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): preserve singular management surfaces for mergeability (#170)
  docs/agent-skill-management.md
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
Due: rumdl-check, rumdl-fmt

fix(skills): preserve singular management surfaces for mergeability (#171)
  docs/agent-skill-management.md
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
Due: rumdl-check, rumdl-fmt

Normalize Agent Skills naming and metadata (#170) (#185)
  docs/agent-skills-management.md
  docs/dotfiles-operating-concepts.md
  nix/home-manager/agents/README.md
  skills/agent-skills-management/SKILL.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/github/SKILL.md
  skills/github/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agent-harness): expose orchestrator runbook handoff (#171)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
Due: rumdl-check, rumdl-fmt
