Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  agents/rules/default.rules
  config/vde/layout.yml
Due: none

feat: Nix SSOT for prohibited bash commands
  agents/rules/default.rules
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
  nix/home-manager/modules/prohibited-bash-commands.nix
Due: alejandra, statix

WIP
  agents/skills/vault-management/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
Due: none

WIP
  agents/skills/atlassian/SKILL.md
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: rumdl-check, rumdl-fmt

docs: sync skills table, add workspace-trust-fix note, git add prerequisite, Nix safety rules
  agents/AGENTS.md
  agents/skills/nix/SKILL.md
Due: rumdl-check, rumdl-fmt

docs: add pre-flight check and structured output format to subagent-review
  agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: add hooks/examples with nix untracked-files pre-build hook
  hooks/examples/README.md
  hooks/examples/pretooluse-nix-untracked.json
  hooks/examples/pretooluse-nix-untracked.sh
Due: rumdl-check, rumdl-fmt

WIP
  bin/kill-stale-agents
Due: none

feat: add create-draft prohibition in common_template (i9wa4/tmux-a2a-postman#181)
  config/tmux-a2a-postman/postman.toml
Due: none

feat: add dropped_ball_timeout for reviewer nodes (i9wa4/tmux-a2a-postman#182)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

feat: add Auditor Check 7 (on_join anachronism) and Check 8 (create-draft instruction) (i9wa4/tmux-a2a-postman#183, i9wa4/tmux-a2a-postman#184)
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix: remove anachronistic PONG instruction from all node on_join fields (i9wa4/tmux-a2a-postman#185)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

fix: add explicit routing constraints to guardian template (i9wa4/tmux-a2a-postman#186)
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

feat: add messenger fallback timer to orchestrator template (i9wa4/tmux-a2a-postman#188)
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

fix: add pre-approval verification instruction to reviewer nodes
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

feat: add Auditor Check 9 for pre-approval verification
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

fix: invert Auditor Check 1 post-1fbd73f (PONG removal)
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

fix: add hook/permission error escalation protocol to implementation nodes
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

feat: add routing prohibitions to common_template
  config/tmux-a2a-postman/postman.toml
Due: none

feat: add orchestrator DONE completion signal
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

feat: add role boundary enforcement and slash command guard to common_template
  config/tmux-a2a-postman/postman.toml
Due: none

feat: add messenger DONE signal handler
  config/tmux-a2a-postman/nodes/messenger.toml
Due: none

WIP
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

feat: add guardian watchdog protocol to orchestrator and guardian
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

feat: enhance auditor Check 4 edge validation and add Check 10 draft_template disclaimer (#215, #216)
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: add per-node slash command context to boss/guardian/critic templates (#223)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

WIP
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

feat: add flooding advisory to messenger template (#227)
  config/tmux-a2a-postman/nodes/messenger.toml
Due: none

feat: auditor Check 11 — dropped_ball_timeout configured (#231)
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/rules/git-github.md
Due: rumdl-check, rumdl-fmt

feat: add help command reference to on_join for all 7 nodes (#232)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

feat: add auditor Check B-I8 protocol reminder presence (#233)
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/a2a-role-auditor/SKILL.md
Due: rumdl-check, rumdl-fmt

fix: scope pgrep to current user in kill-stale-agents
  bin/kill-stale-agents
Due: none
