Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

feat(skk): provision SKK dicts to XDG_DATA_HOME and macSKK
  config/vim/dpp/ddc.toml
  nix/home-manager/default.nix
  nix/home-manager/modules/skk.nix
Due: alejandra, statix

fix(skk): darwin-only macSKK copy, revert ddc.toml to dpp cache paths
  config/vim/dpp/ddc.toml
  nix/home-manager/modules/skk.nix
Due: alejandra, statix

fix(skk): copy SKK-JISYO.L only to macSKK Dictionaries
  nix/home-manager/modules/skk.nix
Due: alejandra, statix

refactor(skk): inline macSKK activation into darwin.nix, delete skk.nix
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/skk.nix
Due: alejandra, statix

fix(darwin): correct macSKK dictionary path to sandboxed location
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

refactor(agents): rename prompt contracts skill (#0)
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/skills/prompt-contracts-local/SKILL.md
  nix/home-manager/agents/skills/prompt-contracts-local/references/prompt-blocks.md
  nix/home-manager/agents/skills/prompt-contracts-local/references/resume-handoff.md
  nix/home-manager/agents/skills/prompt-contracts-local/references/review-output-contract.md
Due: rumdl-check, rumdl-fmt

docs(readme): use autolink syntax for bare URL references
  README.md
Due: rumdl-check, rumdl-fmt

chore(darwin): disable maccy cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

refactor(zsh): simplify z and zi navigation (#0)
  config/zsh/jump.zsh
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(zeno): flatten wr snippet command (#0)
  config/zeno/config.yaml
Due: none

fix(agents): harden deny-bash wrapper detection (#0)
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
  nix/home-manager/agents/scripts/codex-pretooluse-deny-bash.sh
Due: none

fix(zsh): rename tmux sessions for z and zi (#0)
  config/zsh/jump.zsh
  config/zsh/zinit.zsh
Due: none

chore(flake): update flake.lock
  flake.lock
Due: none

chore(vde): upgrade model version from gpt-5.4 to gpt-5.5
  config/vde/layout.yml
Due: none

chore(deps): update home-manager
  flake.lock
Due: none

chore(vde): remove vim commands and upgrade effort to xhigh
  config/vde/layout.yml
Due: none

chore(flake): update flake lock
  flake.lock
Due: none

config: add subagent deployment guidance to postman.md
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

config(postman): enforce skill file reading before task execution
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(postman): embed 7 skill files into common_template (§2.16-§2.22)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(darwin): add jinmei, assoc, and emoji SKK dictionaries to macSKK sync
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

docs: add agent-skill-management.md documenting skill embedding strategy
  docs/agent-skill-management.md
Due: rumdl-check, rumdl-fmt

chore: update flake.lock dependencies
  flake.lock
Due: none

chore(flake.lock): update databricks-official-skills and home-manager
  flake.lock
Due: none

chore(claude-code): enable subprocess env scrubbing and reconcile optimizer log
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(postman): add §2.23 non-interactive bash discipline
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(deny-bash): anchor multi-token regex at trailing word boundary
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

feat(deny-bash): also block git branch --delete long form
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

feat(deny-bash): allow-list bypass for postman wrapper
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
Due: alejandra, statix

feat(deny-bash): strip -m value before regex (preserves --amend deny)
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
Due: alejandra, statix

docs(deny-bash): describe the design philosophy and processing pipeline
  docs/deny-bash-design.md
Due: rumdl-check, rumdl-fmt

docs(agents): add config philosophy and cross-link from related docs
  docs/agent-config-philosophy.md
  docs/deny-bash-design.md
  docs/dotfiles-operating-concepts.md
Due: rumdl-check, rumdl-fmt

fix(claude-hooks): unbreak PreToolUse pipeline and tighten role/regex
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/scripts/claude-detect-project.sh
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
Due: alejandra, statix

fix(claude-hooks): switch deny-bash sed delimiter from | to #
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
Due: none

fix(claude-code): disable CLAUDE_CODE_SUBPROCESS_ENV_SCRUB
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(claude-hooks): remove observability and handoff hooks
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/scripts/claude-detect-project.sh
  nix/home-manager/agents/scripts/claude-observe.sh
  nix/home-manager/agents/scripts/claude-precompact-save.sh
  nix/home-manager/agents/scripts/claude-sessionstart-reload.sh
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(codex-hooks): drop session/stop/post-review hooks for symmetry
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/scripts/codex-posttooluse-review.sh
  nix/home-manager/agents/scripts/codex-sessionstart-reload.sh
  nix/home-manager/agents/scripts/codex-stop-save.sh
Due: alejandra, statix

docs(agents): add agent-hooks-architecture.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
Due: rumdl-check, rumdl-fmt

refactor(agents): consolidate pretooluse-deny-bash to a single shared script
  docs/agent-hooks-architecture.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(codex-optimizer): align SKILL.md with hook reduction and consolidation
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
