Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

fix(claude): handle ISO 8601 resets_at in statusline script
  nix/home-manager/agents/scripts/claude-statusline.sh
Due: none

test(worktree): remove temporary smoke test (#204)
  tests/issue-worktree-create-current-branch-smoke.sh
Due: none

Update Codex CLI 0.132 harness tracking
  docs/agent-hooks-architecture.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(worktree): base issue worktrees on current branch (#204) (#207)
  bin/issue-worktree-create
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

refactor(git): reduce branch safety scope (#205)
  bin/git-branch-publication-guard
  bin/install-git-branch-publication-guard
  bin/issue-worktree-create
  bin/repo-setup
  docs/worktree-development.md
  nix/home-manager/modules/git.nix
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/github/SKILL.md
  skills/github/references/preserved-guidance.md
  tests/git-branch-publication-guard-smoke.sh
  tests/install-git-branch-publication-guard-smoke.sh
  tests/issue-worktree-create-publication-safety-smoke.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(git): guard issue branch publication (#205) (#210)
  config/tmux-a2a-postman/postman.md
  docs/worktree-development.md
  nix/home-manager/modules/git.nix
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/github/SKILL.md
  skills/github/references/preserved-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(skills): remove duplicate management surface (#206)
  bin/validate-skill-private-content.sh
  docs/agent-skill-management.md
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
  skills/classification.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

test(skills): add consolidated trigger validation (#178)
  bin/validate-skill-trigger-matrix.sh
  docs/agent-skill-trigger-validation.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

test(skills): record consolidated trigger results (#178)
  bin/validate-skill-trigger-matrix.sh
  docs/agent-skill-trigger-validation.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

feat(skills): add release-all workflow gate (#180)
  .github/workflows/agent-skills-release-all.yaml
  bin/validate-skill-private-content.sh
  bin/validate-skill-release-readiness.sh
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

docs(skills): add Atlassian skill
  skills/atlassian/SKILL.md
  skills/atlassian/references/usage.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

feat(pnpm): add devcontainer CLI support
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

Remove duplicate Agent Skills management surface (#211)
  bin/validate-skill-private-content.sh
  docs/agent-skill-management.md
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
  skills/classification.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(nvim): remove custom quote toggle and adjust highlight matches
  config/nvim/nvim/init.lua
Due: none

Add consolidated Agent Skills trigger validation (#212)
  bin/validate-skill-trigger-matrix.sh
  docs/agent-skill-trigger-validation.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

ci(skills): run release readiness in ci (#180)
  .github/workflows/agent-skills-release-all.yaml
  .github/workflows/ci.yaml
  bin/validate-skill-private-content.sh
  bin/validate-skill-trigger-matrix.sh
  config/nvim/nvim/init.lua
  docs/agent-skill-management.md
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/modules/pnpm.nix
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
  skills/atlassian/SKILL.md
  skills/atlassian/references/usage.md
  skills/classification.yaml
  skills/trigger-validation.json
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

chore(darwin): disable visual studio code cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

fix(darwin): auto-update Homebrew metadata on switch
  nix/nix-darwin/default.nix
Due: alejandra, statix

style(nvim): reorganize option setup
  config/nvim/nvim/init.lua
Due: none

refactor(nvim): simplify clipboard command and adjust default colorscheme
  config/nvim/nvim/init.lua
Due: none

chore(nvim): bump fzf-lua lockfile
  config/nvim/nvim/lazy-lock.json
Due: none

fix(nvim): stop redefining linked highlight groups
  config/nvim/nvim/init.lua
Due: none

fix(nvim): use CursorLine for highlight matches
  config/nvim/nvim/init.lua
Due: none

fix(nvim): stop highlighting trailing whitespace
  config/nvim/nvim/init.lua
Due: none

fix(nvim): stop highlighting tabs in cursor line matches
  config/nvim/nvim/init.lua
Due: none

fix(nvim): remove fzf-lua default title override
  config/nvim/nvim/init.lua
Due: none

style(nvim): move auto_reload timer below option setup
  config/nvim/nvim/init.lua
Due: none

refactor(nvim): move plugin setup before options
  config/nvim/nvim/init.lua
Due: none

chore(nvim): always enable termguicolors
  config/nvim/nvim/init.lua
Due: none

chore(nvim): remove redundant rg config
  config/nvim/nvim/init.lua
Due: none

fix(nvim): move termguicolors setup before auto-reload timer
  config/nvim/nvim/init.lua
Due: none

Shorten oil statusline home paths
  config/nvim/nvim/init.lua
Due: none

refactor(nix): make pkgs unstable
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/flake-parts/modules/waza.nix
  nix/home-manager/default.nix
Due: alejandra, statix

ci(skills): avoid tokened nix fetches on PRs (#180)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci(skills): remove nix token backup on PRs (#180)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

chore(vde): remove agent pane from layout
  config/vde/layout.yml
Due: none

chore(flake): update flake inputs
  flake.lock
Due: none

chore(ubuntu): remove unused wslu package
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

chore(flake.lock): update tmux-a2a-postman lock
  flake.lock
Due: none

fix(nix): handle stable waza release lookup
  nix/packages/waza-nix-update.sh
  nix/packages/waza.nix
Due: alejandra, statix
