Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

fix(agents): update stale reviewerGen comment to reviewGen in claude-code.nix and codex-cli.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

chore(vde): migrate from claude to codex with updated CLI parameters
  config/vde/layout.yml
Due: none

Clarify subagent-review parallel launch flow
  nix/home-manager/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(lock): update tmux-a2a-postman
  flake.lock
Due: none

Document review skill generation pipeline
  nix/home-manager/agents/review/gen.nix
Due: alejandra, statix

Rename review skill generator module
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/review/review-artifacts-gen.nix
Due: alejandra, statix

Add Claude handoff resume context
  nix/home-manager/agents/scripts/claude-precompact-save.sh
  nix/home-manager/agents/scripts/claude-sessionstart-reload.sh
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(postman): enable allow_shell_templates
  config/tmux-a2a-postman/postman.toml
Due: none

chore(flake.lock): update llm-agents.nix and tmux-a2a-postman
  flake.lock
Due: none

feat(agents): add TDD and Tidy First guidance
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/rules/github.md
  nix/home-manager/agents/skills/tdd-tidy-first/SKILL.md
Due: rumdl-check, rumdl-fmt

Consolidate review wrapper under review SSOT
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(deps): update mcp-servers-nix
  flake.lock
Due: none

chore: update flake.lock
  flake.lock
Due: none

fix(codex-cli): skip repos with unsafe TOML key characters
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

feat(agents): implement plan-uRIjA5 milestones P/1/2/3/4
  nix/home-manager/agents/CLAUDE.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/instruction-artifacts.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/agents/scripts/claude-detect-project.sh
  nix/home-manager/agents/scripts/claude-observe.sh
  nix/home-manager/agents/scripts/claude-statusline.sh
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/modules/npm.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(home-manager): add aws-sam-cli
  nix/home-manager/default.nix
Due: alejandra, statix

docs(postman): clarify footer routing hints vs edges graph authority
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(agents): implement plan-uRIjA5 milestones P/1/2/3/4 (#119)
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/CLAUDE.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/instruction-artifacts.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/agents/scripts/claude-detect-project.sh
  nix/home-manager/agents/scripts/claude-observe.sh
  nix/home-manager/agents/scripts/claude-statusline.sh
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/modules/npm.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(agents): add gh-prism and Codex hooks
  flake.lock
  flake.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/scripts/codex-pretooluse-deny-bash.sh
  nix/home-manager/agents/scripts/codex-sessionstart-reload.sh
  nix/home-manager/agents/scripts/codex-stop-save.sh
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/default.nix
  nix/home-manager/modules/gh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update flake inputs
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

feat(agents): tighten harness repair loops
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
  nix/home-manager/agents/scripts/codex-posttooluse-review.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(postman): align role guidance with live runtime
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(postman): tighten compact status guidance
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(agents): deny tmux pane-title renames
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

fix(postman): clarify live routing guidance
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(config): enable terminal bell notifications
  config/kitty/kitty.conf
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

style(config): reduce background opacity to 0.6
  config/ghostty/config
  config/kitty/kitty.conf
Due: none

docs(agents): add postman docs and refresh review refs
  docs/tmux-a2a-postman-ai-contract.md
  docs/tmux-a2a-postman-concepts.md
  nix/home-manager/agents/review/refs/frontmatter-cc-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cc.md
  nix/home-manager/agents/review/refs/frontmatter-cx-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cx.md
  nix/home-manager/agents/review/refs/review-core-post.md
  nix/home-manager/agents/review/refs/step2-cc-deep.md
  nix/home-manager/agents/review/refs/step2-cc.md
  nix/home-manager/agents/review/refs/step2-cx-deep.md
  nix/home-manager/agents/review/refs/step2-cx.md
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lock files and add freee-mcp MCP server
  flake.lock
  nix/home-manager/agents/mcp-servers.nix
Due: alejandra, statix

fix(homebrew): enable greedyCasks to fix Chrome update deadlock
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix): move obsidian/drawio to Homebrew casks and shorten GC retention
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(system-load): add disk usage percentage to output
  bin/system-load
Due: none

feat(system-load): add disk usage percentage to tmux status line
  bin/system-load
Due: none

docs(postman): align wait escalation guidance
  docs/tmux-a2a-postman-ai-contract.md
  docs/tmux-a2a-postman-concepts.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update llm-agents.nix
  flake.lock
Due: none

refactor(nix-darwin): remove disableGoogleUpdater activation script
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(agents): broaden repo operating docs
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  docs/tmux-a2a-postman-ai-contract.md
  docs/tmux-a2a-postman-concepts.md
Due: rumdl-check, rumdl-fmt

feat(apps): add manual cleanup command
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix
