Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore(prompt): disable repo status display
  config/zsh/prompt.zsh
Due: none

docs(postman): add Persona / Language / Scope to common_template
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake): update inputs and remove import-tree dependency
  flake.lock
Due: none

fix(repo-status): increase branch name truncation limit to 20 characters
  bin/repo-status
Due: none

refactor(agents): drop instruction-artifacts; postman.md is the only contract source
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/CLAUDE.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/instruction-artifacts.nix
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): collapse subagent and review tooling into one SSOT
  .github/scripts/ai-runtime-poc-smoke.sh
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/families/default.nix
  nix/home-manager/agents/families/render-codex-agents.nix
  nix/home-manager/agents/families/review/family.nix
  nix/home-manager/agents/families/subagents/family.nix
  nix/home-manager/agents/families/subagents/metadata.nix
  nix/home-manager/agents/install-manifest.nix
  nix/home-manager/agents/review/refs/review-core-post.md
  nix/home-manager/agents/review/refs/review-core-pre.md
  nix/home-manager/agents/review/review-artifacts-gen.nix
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/denied-bash-commands.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/shared/mcp-servers.nix
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
  nix/home-manager/agents/subagents/reviewer-architecture.md
  nix/home-manager/agents/subagents/reviewer-code.md
  nix/home-manager/agents/subagents/reviewer-data.md
  nix/home-manager/agents/subagents/reviewer-historian.md
  nix/home-manager/agents/subagents/reviewer-qa.md
  nix/home-manager/agents/subagents/reviewer-security.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(home-manager): drop vde-tmux-manager package
  nix/home-manager/default.nix
Due: alejandra, statix

fix(agents): make `_metadata.nix` pure by accepting `lib` from caller
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
Due: alejandra, statix

chore(vde): increase worker effort level to high
  config/vde/layout.yml
Due: none

refactor(apps): inline update flake app, drop update-flake.py
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/update-flake.py
Due: alejandra, ruff-check, ruff-format, statix

feat(agents): add kepano/obsidian-skills as a skill source
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

refactor(update): move zinit self-update + plugin update into apps.nix
  config/zeno/config.yaml
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore(zeno): add --parallel flag to ghq update command
  config/zeno/config.yaml
Due: none

fix(apps): guard switch against profile-shadowed tools
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore(codex): update tier1 model to gpt-5.5
  nix/home-manager/agents/subagents/_metadata.nix
Due: alejandra, statix

chore(agents): update codex tier2 model to gpt-5.5
  nix/home-manager/agents/subagents/_metadata.nix
Due: alejandra, statix

agents: keep only context7 MCP server
  flake.lock
  flake.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/mcp-servers.nix
  nix/home-manager/agents/subagents/_metadata.nix
  nix/home-manager/agents/subagents/super-codex-reviewer.md
  nix/home-manager/modules/npm.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

agents: simplify docs and config surface
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/deny-bash-design.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  docs/storage-hygiene.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/denied-bash-commands.nix
  nix/home-manager/agents/shared/mcp-servers.nix
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(ci): verify current Codex reviewer in smoke test
  .github/scripts/ai-runtime-poc-smoke.sh
Due: none

chore(agents): disable gh telemetry and align plans
  config/tmux-a2a-postman/postman.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/modules/gh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(ddc): change on_event trigger to VimEnter
  config/vim/dpp/ddc.toml
Due: none

chore: update flake.lock
  flake.lock
Due: none

docs(mermaid-local): add section on width and layout issues with graph TD
  nix/home-manager/agents/skills/mermaid-local/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update dependency locks
  flake.lock
Due: none

chore(deps): update tmux-a2a-postman
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman dependency
  flake.lock
Due: none

refactor(nix): move agent binaries from Home Manager to nix profile
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/default.nix
Due: alejandra, statix

chore(nix): bump flake inputs, move azure-cli to stable, add deadnix
  flake.lock
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/default.nix
Due: alejandra, statix

chore(vim): remove vim-qfreplace plugin
  config/vim/dpp/lazy.toml
Due: none

docs(postman): add hierarchical numbering to section headers
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(nix): remove unused darwin argument
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): update inputs
  flake.lock
Due: none

chore(deps): update flake.lock and reorder nodejsPackage
  flake.lock
  nix/home-manager/default.nix
Due: alejandra, statix

refactor(nix): consolidate ai agent cli installation into home-manager
  flake.lock
  nix/flake-parts/default.nix
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/llm-agents.nix
  nix/home-manager/default.nix
Due: alejandra, statix

chore(postman): align dotfiles with current postman
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/modules/tmux.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(postman): align critic role config
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

Add Context7 CLI skill without MCP
  nix/home-manager/agents/README.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/mcp-servers.nix
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/find-docs/SKILL.md
  nix/home-manager/modules/npm.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(postman): add skill_path configuration
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump tmux-a2a-postman
  flake.lock
Due: none

Simplify zoxide navigation
  config/zsh/jump.zsh
  config/zsh/zinit.zsh
  config/zsh/zoxide.zsh
  docs/worktree-development.md
  nix/home-manager/modules/zsh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix
