Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/.gitignore
  agents/skills/subagent-review/SKILL.md
  agents/subagents/researcher-tech.md
  agents/subagents/reviewer-architecture.md
  agents/subagents/reviewer-code.md
  agents/subagents/reviewer-data.md
  agents/subagents/reviewer-historian.md
  agents/subagents/reviewer-qa.md
  agents/subagents/reviewer-security.md
Due: rumdl-check, rumdl-fmt

WIP
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

WIP
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  config/zeno/config.yaml
Due: none

fix(tmux-a2a-postman): fix node template issues found by a2a-role-auditor
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

WIP
  agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

feat(lazygit): add AI-assisted commit message generation with custom keybinding
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

docs(git): add scope to Conventional Commits format and clarify commit types
  agents/skills/git/SKILL.md
  nix/home-manager/modules/lazygit.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

config(tmux): disable Alt+arrow window navigation keybindings
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

refactor(mcp-servers): use nix-managed drawio-mcp instead of npx
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(claude-code): correct comment and bootstrap .claude.json on fresh machine
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

feat(tmux-a2a-postman): add session validation and standard replies to all node templates (#251 follow-up)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

fix(mcp-servers): correct stale uvx/npx comment in manualServers
  nix/home-manager/agents/mcp-servers.nix
Due: alejandra, statix

chore(flake): update flake inputs
  flake.lock
Due: none

chore(lazygit): remove loading text from AI commit command
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

chore(skills): rename draw-io skill to drawio-local with enhanced documentation
  agents/AGENTS.md
  agents/skills/drawio-local/SKILL.md
  agents/skills/drawio-local/references/aws-icons.md
  agents/skills/drawio-local/references/color-palette.md
  agents/skills/drawio-local/references/layout-guidelines.md
  agents/skills/drawio-local/scripts/convert-drawio-to-png.sh
  agents/skills/drawio-local/scripts/find_aws_icon.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

feat(drawio-local): add SVG lint script, diagram taxonomy, and enhanced best practices
  agents/skills/drawio-local/SKILL.md
  agents/skills/drawio-local/scripts/check-drawio-svg-overlaps.mjs
Due: rumdl-check, rumdl-fmt

chore(tmux-a2a-postman): remove context-id parameter and add standard reply templates
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/postman.toml
Due: none

chore(tmux-a2a-postman): update flake lock
  flake.lock
Due: none

chore(tmux): disable tmux-a2a-postman keybindings
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
Due: none

feat(nix): add nvim-as-fileviewer profile
  config/nvim/nvim-as-fileviewer/init.lua
  config/nvim/nvim/init.vim
  config/vim/vimrc
  nix/home-manager/default.nix
Due: alejandra, statix

refactor(nix): generate nvim app configs dynamically
  nix/home-manager/default.nix
Due: alejandra, statix

feat(nvim): bootstrap oil.nvim in fileviewer profile
  config/nvim/nvim-as-fileviewer/init.lua
Due: none

refactor(nvim): use lazy.nvim for plugin management
  config/nvim/nvim-as-fileviewer/init.lua
Due: none

refactor(agents): simplify drawio-mcp configuration
  flake.lock
  nix/home-manager/agents/agent-skills.nix
Due: alejandra, statix

refactor(agents): rename prohibited-bash-commands to denied-bash-commands
  agents/rules/github.md
  agents/scripts/claude-pretooluse-bash-deny.sh
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): simplify denied-bash-commands entries
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): extract denied-bash-commands into framework module
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): use .* join for hookRegex to match flags in any position
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): replace claudeGlob with deny flag, auto-derive glob from argv
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): rename deny flag to claudeSettingsJson for clarity
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): simplify deny hook, make patterns file path configurable
  agents/scripts/claude-pretooluse-bash-deny.sh
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
