Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix(lazygit): snapshot staged index for AI commit (#149)
  bin/lazygit-ai-commit
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

refactor(lazygit): inline AI commit command (#150)
  bin/lazygit-ai-commit
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

Tables realigned, columns stretch to hold their space — whitespace finds its peace.
  .github/README.md
Due: rumdl-check, rumdl-fmt

chore: relocate README to root and update flake.lock
  README.md
  flake.lock
Due: rumdl-check, rumdl-fmt

chore(agents): pin claude code and codex versions (#0)
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/llm-agents.nix
  nix/home-manager/agents/default.nix
  nix/lib/claude-code-pin.nix
  nix/lib/codex-pin.nix
  nix/lib/pinned-claude-code.nix
  nix/lib/pinned-codex.nix
Due: alejandra, statix

refactor(nix): drop codex version pin to reuse llm-agents cache
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/llm-agents.nix
  nix/home-manager/agents/default.nix
Due: alejandra, statix

chore(flake.lock) update
  flake.lock
Due: none

chore(vde-layout): update
  config/vde/layout.yml
Due: none

chore(vde-layout): fix
  config/vde/layout.yml
Due: none

chore(claude): disable scrub
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

fix(codex): restore fd-based trust_level entries for ghq repos (#0)
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

fix(codex): correct managed-block condition and fd-pipe brace (#151)
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

fix(codex): clear preserved_text when managed block exists
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

docs: add Nix upgrade procedure to README (#2.6)
  README.md
Due: rumdl-check, rumdl-fmt

docs: move Upgrade Nix from common setup to daily usage section
  README.md
Due: rumdl-check, rumdl-fmt

chore(vde-layout) fix tmux-a2a-postman activation command
  config/vde/layout.yml
Due: none

Locks shift in the night Home-manager rev advances Nix flake holds the truth
  flake.lock
Due: none

fix(codex): fully own config.toml to prevent duplicate-key break
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

docs(readme): split Upgrade Nix by OS for declarative ownership
  README.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update
  flake.lock
Due: none

chore(flake.nix) update
  flake.lock
Due: none

fix(lazygit): correct claude flag order for commit-msg generation
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

docs(agents): codify markdown checklist workflow (#135)
  config/vim/snippet/markdown.json
  docs/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

feat(tmux-a2a-postman): require markdown checklist proof (#139)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(claude): bound built-in session retention (#142)
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/home-manager/agents/claude-code.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(tmux-a2a-postman): clarify reply wait policy (#139)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(flake): refresh drifting lock inputs (#139)
  flake.lock
Due: none

refactor(agents): remove Claude/Codex version pinning (#126)
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/llm-agents.nix
  nix/home-manager/agents/default.nix
  nix/lib/claude-code-pin.nix
  nix/lib/codex-pin.nix
  nix/lib/pinned-claude-code.nix
  nix/lib/pinned-codex.nix
Due: alejandra, statix

fix(agents): harden safe-default launchers (#129)
  config/vde/layout.yml
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

fix(lazygit): preserve staged snapshot for AI commits (#149)
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

feat(storage): define umbrella retention policy (#140)
  bin/ubuntu/storage-pressure-report.sh
  config/vde/layout.yml
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(vde-monitor): prune pane logs on startup (#143)
  bin/ubuntu/storage-pressure-report.sh
  config/vde/layout.yml
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

docs(codex): define 50-day session retention policy (#144)
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(worktree): align worktree-remove with managed cleanup flow (#145)
  bin/worktree-remove
  config/zeno/config.yaml
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

docs(worktree): clarify tmux cwd selection flow (#137)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

refactor(subagents): generate family-local metadata (#146)
  nix/home-manager/agents/families/subagents/family.nix
  nix/home-manager/agents/families/subagents/metadata.nix
  nix/home-manager/agents/subagents/researcher-tech.md
  nix/home-manager/agents/subagents/super-codex-reviewer.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(vde): consolidate safe/unsafe preset variants
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

refactor(agents): share install manifest across runtimes (#126)
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/install-manifest.nix
Due: alejandra, statix

docs(agents): clarify editing surface (#138)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/families/default.nix
  nix/home-manager/agents/install-manifest.nix
  nix/home-manager/agents/instruction-artifacts.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): mention subagent metadata seam (#138)
  nix/home-manager/agents/README.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
