Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  config/claude/scripts/pretooluse-write-deny.sh
Due: none

WIP
  config/agents/AGENTS.md
  config/agents/scripts/precompact-save.sh
  config/agents/scripts/pretooluse-bash-deny.sh
  config/agents/scripts/pretooluse-write-deny.sh
  config/agents/scripts/sessionstart-reload.sh
  config/agents/scripts/statusline.sh
  config/agents/subagents/researcher-tech.md
  config/agents/subagents/reviewer-architecture.md
  config/agents/subagents/reviewer-code.md
  config/agents/subagents/reviewer-data.md
  config/agents/subagents/reviewer-historian.md
  config/agents/subagents/reviewer-qa.md
  config/agents/subagents/reviewer-security.md
  config/claude/ccnote.md
  config/zsh/.zshenv
  nix/home/codex.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/claude/.gitignore
  config/claude/rules
  config/codex/.gitignore
Due: none

WIP
  config/agents/AGENTS.md
  config/vim/rc/details.vim
  config/vim/rc/local.default.vim
  nix/home/agent-skills.nix
  nix/home/default.nix
  nix/home/git.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/agents/AGENTS.md
  config/claude/settings.json
  config/zsh/.zshenv
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  flake.lock
Due: none

WIP
  CONTRIBUTING.md
  Makefile
  bin/nix-flake-diff.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

WIP
  config/codex/config.common.toml
Due: none

WIP
  flake.lock
  flake.nix
  nix/home/agent-skills.nix
Due: alejandra, statix

WIP
  config/vim/dpp/ddc.toml
Due: none

WIP
  nix/darwin/default.nix
Due: alejandra, statix

WIP
  config/claude/settings.json
Due: none

WIP
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  nix/home/agent-skills.nix
Due: alejandra, statix

WIP
  config/agents/skills/orchestrator/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  config/zeno/config.yaml
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
Due: none

WIP
  config/agents/rules/bash.md
  config/agents/scripts/precompact-save.sh
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/agents/skills/daily-report/SKILL.md
  config/agents/skills/github/SKILL.md
  config/agents/skills/orchestrator/SKILL.md
  config/agents/skills/slack/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/settings.hooks.json
  config/claude/settings.json
Due: none

WIP
  config/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  config/vde/layout.yml
Due: none

WIP
  config/tmux/tmux.conf
  config/zsh/.gitignore
  config/zsh/.zshrc
  config/zsh/tmux.zsh
Due: none

WIP
  config/tmux/tmux.conf
Due: none

WIP
  bin/set-a2a-node
  config/vde/layout.yml
Due: none

WIP
  bin/set-a2a-node
  config/claude/settings.json
  config/vde/layout.yml
Due: none

WIP
  flake.lock
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/vde/monitor/config.json
Due: none

WIP
  nix/darwin/default.nix
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/agents/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
  config/tmux-a2a-postman/postman.toml
  config/vim/rc/details.vim
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/vim/rc/details.vim
Due: none

WIP
  config/agents/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
