Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

feat(zsh): show zoxide scores in zi (#0)
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(flake): update llm-agents.nix
  flake.lock
Due: none

fix(zsh): avoid direnv loads during zi scan (#0)
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

fix(zsh): name tmux sessions for worktrees (#0)
  config/zsh/zinit.zsh
Due: none

refactor(zsh): extract jump commands to config/zsh (#0)
  config/zsh/jump.zsh
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

fix(zsh): simplify worktree tmux session names (#0)
  config/zsh/zinit.zsh
Due: none

fix(zsh): avoid worktree session name collisions (#0)
  config/zsh/zinit.zsh
Due: none

docs(worktree): align workflow doc with current behavior (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(zsh): stabilize worktree session names (#0)
  config/zsh/zinit.zsh
Due: none

docs(worktree): fix tmux naming note (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(zsh): simplify worktree session name to plain truncation (#0)
  config/zsh/zinit.zsh
Due: none

fix(zsh): restore simple worktree session names (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(bin): use pr-{number}-{branch} naming for PR worktrees (#0)
  bin/pr-worktree-create
Due: none

docs(worktree): align pr review flow with local branch naming (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

docs(worktree): fix pr review flow wording (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

feat(zsh): rename tmux session on jump to match worktree naming (#0)
  config/zsh/jump.zsh
Due: none

fix(tmux): restore pane resize keybindings (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(flake): update flake inputs
  flake.lock
Due: none

chore(flake): update flake.lock
  flake.lock
Due: none

fix(zsh): guard tmux rename-session behind successful vtm project switch
  config/zsh/jump.zsh
Due: none

fix(zsh): shorten worktree tmux session suffix to 10 chars (#0)
  config/zsh/jump.zsh
  config/zsh/zinit.zsh
Due: none

fix(tmux): use two status lines on ssh sessions (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(flake): update llm-agents.nix and tmux-a2a-postman inputs
  flake.lock
Due: none

fix(tmux): revert unsupported ssh status toggle (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(zsh): preserve worktree issue prefixes in tmux sessions (#0)
  config/zsh/jump.zsh
  config/zsh/zinit.zsh
Due: none

fix(tmux): set ssh tmux status to two lines (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

docs(worktree): align tmux session naming docs with code (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(tmux): show postman health on ssh lower status line (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(flake): update dependencies
  flake.lock
Due: none

fix(zsh): remove vtm from jump worktree flow (#0)
  config/zsh/jump.zsh
Due: none

docs(worktree): remove vtm from jump flow docs (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(nix): install vtm via Nix and remove npm package (#0)
  nix/home-manager/default.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(nix): skip direnv-2.37.1 checkPhase to unblock darwin-rebuild (#0)
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix): stop homebrew auto-upgrades to end fights with self-updaters (#0)
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): update dependencies
  flake.lock
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(codex): align project trust keys with project_trust_key() format (#0)
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

docs(agents): switch persona from Columbo to Master Yoda (#0)
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

chore(deps): update databricks-official-skills
  flake.lock
Due: none

fix(postman): use current tmux-a2a-postman commands (#0)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt
