Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, sqlfmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

ghalint:
  name: ghalint
  entry: mise exec -- ghalint run
  language: system

ghatm:
  name: ghatm
  entry: mise exec -- ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

ruff-check:
  name: ruff check
  entry: mise exec -- uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: mise exec -- uv run ruff format
  language: system

sqlfmt:
  name: sqlfmt
  entry: mise exec -- uv run sqlfmt
  language: system

[create-pull-request] automated change
  flake.lock
Due: none

WIP
  .github/workflows/update-flake.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/workflows/pre-commit-nix.yaml
  bin/nix-flake-diff.py
  flake.lock
Due: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format

WIP
  uv.lock
Due: none

feat: nix-darwin セットアップ完了 (#69)
  README.md
  darwin/configuration.nix
  flake.lock
  flake.nix
Due: none

WIP
  README.md
  dot.zshrc
  home/home.nix
Due: none

feat(nix): neovim-nightly-overlay + vim-overlay で最新版を管理 (#69)
  darwin/configuration.nix
  dot.zshenv
  flake.lock
  flake.nix
  home/home.nix
Due: none

docs: --impure フラグを追加、skip-worktree 手順を削除 (#69)
  README.md
Due: none

WIP
  README.md
  flake.nix
  home/home.nix
Due: none

fix: suppress jq broken pipe error in update-flake.yaml
  .github/workflows/update-flake.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix(ci): release notes 取得の pipefail 対策 + Renovate スタイル
  .github/workflows/update-flake.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat: macOS システム設定を nix-darwin で宣言的に管理 (#69)
  README.md
  darwin/configuration.nix
  flake.nix
Due: none

feat: home-manager で dotfiles シンボリンクを管理 (#69)
  dot.config/git/ignore
  home/home.nix
Due: none

WIP
  darwin/configuration.nix
Due: none

fix(ci): release notes 取得時の 404 エラー処理を修正
  .github/workflows/update-flake.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix: sudo 実行時の HOME 環境変数問題を修正 (#69)
  flake.nix
Due: none

refactor: decouple pre-commit from mise and improve update-flake workflow
  .github/workflows/pre-commit-nix.yaml
  .github/workflows/update-flake.yaml
  .pre-commit-config.yaml
  flake.lock
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat: home-manager 統合と user.nix パターン導入 (#69)
  .gitignore
  README.md
  flake.lock
  flake.nix
  home/home.nix
  user.nix.example
Due: none

WIP
  .dockerignore
  dot.config/git/ignore
  dot.config/zeno/config.yaml
  dot.zshenv
  dot.zshrc
  home/home.nix
Due: none

downgrade
  flake.lock
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  sqlfmt: any of: \.sql$
