Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, sqlfmt, stylua, actionlint, ghalint, ghatm, pinact, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      # ========================================
      # Local tools (alphabetical order)
      # ========================================
      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention
        language: system
        stages: [commit-msg]
        always_run: true

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      # ========================================
      # mise tools (alphabetical order)
      # ========================================
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: mise exec -- ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: mise exec -- ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  .pre-commit-config.yaml
  flake.nix
Due: none

WIP
  nix/home.nix
Due: none

WIP
  .pre-commit-config.yaml
Due: none

WIP
  nix/darwin.nix
  nix/editorconfig.nix
  nix/git.nix
Due: none

WIP
  dot.zshenv
Due: none

WIP
  bin/confluence-to-md.py
  bin/databricks-libs.py
  bin/nix-custom-diff.py
  bin/nix-pkgs-diff.py
Due: ruff-check, ruff-format

WIP
  bin/repo-setup
  dot.config/claude/settings.json
Due: none

WIP
  dot.config/claude/settings.json
Due: none

WIP
  dot.config/claude/CLAUDE.md
Due: none

WIP
  dot.config/claude/commands/my-code-review.md
  dot.config/claude/settings.json
Due: none

WIP
  CONTRIBUTING.md
  dot.config/claude/rules/nix.md
  dot.zshenv
  dot.zshrc
  nix/home.nix
  nix/packages/pinact.nix
  nix/packages/rumdl.nix
Due: none

WIP
  dot.config/vim/dpp/lazy.toml
Due: none

WIP
  nix/darwin.nix
Due: none

add wezterm-zoo
  dot.config/wezterm/wezterm.lua
  dot.config/wezterm/zoo.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm.lua
  dot.config/wezterm/zoo.lua
Due: stylua

WIP
  dot.config/wezterm/zoo.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm-zoo.lua
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm-zoo.lua
Due: stylua

WIP
  .pre-commit-config.yaml
  dot.config/claude/settings.json
Due: none

WIP
  .envrc
Due: none

WIP
  .github/workflows/pre-commit-nix-arm.yaml
  .github/workflows/pre-commit-nix-x64.yaml
  .pre-commit-config.yaml
  dot.config/claude/settings.json
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat: Add tech-researcher agent
  dot.config/claude/CLAUDE.md
  dot.config/claude/agents/tech-researcher.md
Due: none

WIP
  .github/workflows/pre-commit-nix-arm.yaml
  .github/workflows/pre-commit-nix-x64.yaml
  nix/darwin.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  dot.config/claude/rules/git.md
Due: none

WIP
  dot.config/claude/skills/daily-report/SKILL.md
Due: none

nixd
  dot.config/vim/dpp/nvim.toml
  dot.config/vim/dpp/vim.toml
  nix/home.nix
  nix/vscode.nix
Due: none

WIP
  dot.config/wezterm/wezterm-zoo.lua
  dot.config/wezterm/wezterm.lua
  flake.lock
  flake.nix
  nix/home.nix
Due: stylua

WIP
  bin/repo-status
Due: none

WIP
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  Makefile
Due: none

WIP
  dot.zshenv
  dot.zshrc
Due: none

WIP
  dot.config/tmux/tmux.conf
  dot.zshrc
Due: none
