Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  config/codex/generate-config.sh
  nix/codex.nix
Due: alejandra, statix

WIP
  config/claude/settings.json
  config/scripts/orchestrator-readonly.sh
  config/scripts/restore-context.sh
  config/scripts/status-reminder.sh
  config/scripts/worker-reminder.sh
Due: none

WIP
  config/claude/.gitignore
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/claude/scripts/reload-claude-md.sh
Due: none

WIP
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/orchestrator/references/code.md
  config/claude/skills/orchestrator/references/communication.md
  config/claude/skills/orchestrator/references/delta-communication.md
  config/claude/skills/orchestrator/references/plan.md
  config/claude/skills/orchestrator/references/pull-request.md
  config/claude/skills/orchestrator/references/review.md
  config/claude/skills/orchestrator/references/subagent.md
  config/claude/skills/orchestrator/references/worker-comm.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/orchestrator/references/communication.md
  config/claude/skills/orchestrator/references/subagent.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/orchestrator/references/code.md
  config/claude/skills/orchestrator/references/plan.md
  config/claude/skills/orchestrator/references/pull-request.md
  config/claude/skills/orchestrator/references/review.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/settings.json
Due: none

WIP
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

WIP
  config/zeno/config.yaml
Due: none

WIP
  bin/repo-setup
Due: none

WIP
  config/claude/skills/orchestrator/SKILL.md
  config/vim/dpp/lazy.toml
Due: rumdl-check, rumdl-fmt

WIP
  bin/repo-setup
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/confluence-to-md/SKILL.md
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  bin/nix-flake-diff.py
  bin/nix-pkgs-diff.py
  flake.lock
Due: ruff-check, ruff-format

WIP
  bin/refresh.py
  bin/repo-setup
  config/claude/settings.json
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/slack/skill.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  config/tmux/tmux.conf
Due: none

add acli support
  config/claude/CLAUDE.md
  config/claude/skills/atlassian/SKILL.md
  config/claude/skills/atlassian/scripts/confluence-to-md.py
  config/claude/skills/confluence-to-md/SKILL.md
  nix/common/home.nix
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

WIP
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

Add uv ecosystem and cooldown settings to Dependabot
  .github/dependabot.yml
Due: none

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

update custom packages
  nix/packages/pike.nix
  nix/packages/rumdl.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  bin/system-load
Due: none

WIP
  bin/repo-setup
  bin/system-load
Due: none

WIP
  nix/common/darwin.nix
Due: alejandra, statix

WIP
  config/claude/skills/codex-config-optimizer/SKILL.md
  config/claude/skills/slack/SKILL.md
Due: rumdl-check, rumdl-fmt

fix: rumdl lint errors in markdown templates
  config/claude/skills/codex-cli-optimizer/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/skill-creator/references/output-patterns.md
Due: rumdl-check, rumdl-fmt

docs: add site2skill usage to claude-config-optimizer
  config/claude/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
