Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

refactor(agents): fold review refs into generator (#0)
  nix/home-manager/agents/review/refs/frontmatter-cc-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cc.md
  nix/home-manager/agents/review/refs/frontmatter-cx-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cx.md
  nix/home-manager/agents/review/refs/step2-cc-deep.md
  nix/home-manager/agents/review/refs/step2-cc.md
  nix/home-manager/agents/review/refs/step2-cx-deep.md
  nix/home-manager/agents/review/refs/step2-cx.md
  nix/home-manager/agents/review/review-artifacts-gen.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): add subagent family helper layer (#0)
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/families/default.nix
  nix/home-manager/agents/families/render-codex-agents.nix
  nix/home-manager/agents/families/subagents/family.nix
Due: alejandra, statix

refactor(freee-mcp-bun): remove unused function arguments
  nix/home-manager/agents/freee-mcp-bun.nix
Due: alejandra, statix

docs(worktree): align re-entry flow with zoxide sync (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

refactor(tmux): remove resize keybindings and update pane defaults
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

refactor(tmux): reorganize configuration sections for better grouping
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): correct session_id variable format in status-left
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): sort session ordinals numerically (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): render status-left session ordinal (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(agents): manage freee-mcp via npm globals (#0)
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/freee-mcp-bun.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(tmux): bracket status-left session ordinal (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): remove session name from status-left (#0)
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

refactor(home-manager): remove unused inputs parameter
  nix/home-manager/default.nix
Due: alejandra, statix

refactor(apps): collapse flake updates into one command (#0)
  docs/dotfiles-operating-concepts.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(config): remove ghostty and wezterm terminal emulator configs
  config/ghostty/config
  config/wezterm/wezterm.lua
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

fix(apps): restore guarded root update path (#0)
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/update-flake.py
Due: alejandra, ruff-check, ruff-format, statix

chore(home-manager): remove ghostty and wezterm config entries
  flake.lock
  nix/home-manager/default.nix
Due: alejandra, statix

fix(agents): detect path-prefixed CLI launch commands (#0)
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
Due: none

feat(agents): add add-dir README context to prompt hooks (#0)
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
Due: none

refactor(agents): share userpromptsubmit hook context (#0)
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
Due: none

chore(tmux): rename get-session-status-oneline to get-health-oneline
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

refactor(agents): remove userpromptsubmit wrappers (#0)
  docs/dotfiles-operating-concepts.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(worktree): add zoxide-backed worktree re-entry flow (#0)
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/worktree-remove
  bin/zwt
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
  nix/home-manager/default.nix
  nix/home-manager/modules/git.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update nixpkgs-unstable and tmux-a2a-postman
  flake.lock
Due: none

fix(ci): set OpenSSL runtime path for actrun lint (#0)
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

feat(tmux): add session name to status left
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(tmux): use tmux format specifier for session name truncation
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

style(tmux): remove leading space from status-left and adjust width
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(flake): update home-manager and nixpkgs-unstable
  flake.lock
Due: none

refactor(agents): centralize family subagent generation (#0)
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/families/default.nix
  nix/home-manager/agents/families/review/family.nix
Due: alejandra, statix

chore(flake): update flake inputs
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman input
  flake.lock
Due: none

chore(flake.lock): bump tmux-a2a-postman
  flake.lock
Due: none

chore(mcp-servers): remove freee-mcp server
  nix/home-manager/agents/mcp-servers.nix
Due: alejandra, statix

chore(flake): update dependencies
  flake.lock
Due: none

feat(worktree): move managed worktrees under .worktrees (#0)
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/worktree-remove
  bin/zwt
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
  nix/home-manager/modules/zsh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(freee-mcp): update to latest version
  flake.lock
Due: none

chore(freee-mcp): remove unused integration (#0)
  flake.lock
  flake.nix
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(zsh): restore custom zi command (#0)
  config/zsh/zinit.zsh
Due: none

chore(flake.lock): update llm-agents.nix
  flake.lock
Due: none
