Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  config/agents/AGENTS.md
  config/tmux-a2a-postman/nodes/messenger.toml
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux-a2a-postman/nodes/messenger.toml
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/zeno/config.yaml
Due: none

WIP
  bin/set-a2a-node
  config/tmux/tmux.conf
  config/vde/layout.yml
Due: none

Replace $A2A_NODE with tmux pane title for agent role identification
  config/agents/AGENTS.md
  config/agents/scripts/pretooluse-write-deny.sh
  config/agents/skills/orchestrator/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
  config/claude/settings.json
  config/tmux/tmux.conf
  config/vde/layout.yml
  config/zsh/.gitignore
  config/zsh/.zshrc
  config/zsh/tmux.zsh
Due: rumdl-check, rumdl-fmt

Remove phase management from orchestrator skill; fix mkoutput worktree handling
  bin/mkoutput
  config/agents/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

Replace .i9wa4/ working directory with mkoutput across all skill and config files
  bin/repo-setup
  config/agents/rules/bash.md
  config/agents/scripts/precompact-save.sh
  config/agents/scripts/pretooluse-write-deny.sh
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/orchestrator/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

Remove mkoutput internal path references from non-mkoutput files (SSOT)
  bin/repo-setup
  config/agents/scripts/precompact-save.sh
  config/agents/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  bin/mkoutput
Due: none

WIP
  config/agents/scripts/pretooluse-write-deny.sh
Due: none

Make mkoutput work outside git repositories
  bin/mkoutput
Due: none

WIP
  config/tmux/tmux.conf
Due: none

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  nix/home/default.nix
Due: alejandra, statix

WIP
  README.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  README.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  README.md
  config/agents/scripts/pretooluse-write-deny.sh
Due: rumdl-check, rumdl-fmt

WIP
  config/agents/skills/tmux/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  README.md
  nix/flake-parts/home.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  README.md
  config/agents/scripts/statusline.sh
  config/tmux/tmux.conf
Due: rumdl-check, rumdl-fmt

WIP
  README.md
  config/zsh/.zshrc
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/zsh/.gitignore
  config/zsh/.zlogout
  config/zsh/.zshrc
Due: none

WIP
  config/agents/scripts/statusline.sh
Due: none

WIP
  nix/darwin/default.nix
  nix/darwin/homebrew.nix
  nix/flake-parts/darwin.nix
  nix/home/default.nix
  nix/hosts/macos-p/casks.nix
  nix/hosts/macos-p/darwin.nix
  nix/hosts/macos-p/home.nix
  nix/hosts/macos-w/casks.nix
  nix/hosts/macos-w/darwin.nix
  nix/hosts/macos-w/home.nix
Due: alejandra, statix
