Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

test(ci): prototype isolated Claude/Codex runtime generation (#122)
  .github/workflows/ai-runtime-poc.yml
  tests/ai-runtime-poc-smoke.sh
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(drawio): adapt technical diagram guidance (#141)
  nix/home-manager/agents/skills/drawio-local/SKILL.md
  nix/home-manager/agents/skills/drawio-local/references/layout-guidelines.md
Due: rumdl-check, rumdl-fmt

docs(agents): restore YAGNI/KISS principle reference
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

refactor(agents): finalize prompt-surface consolidation (#136)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/CLAUDE.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/rules/repo-local.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update lockfile
  flake.lock
Due: none

fix(apps): suppress $HOME ownership warning in switch app
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

docs(readme): add macOS update recovery procedure
  README.md
Due: rumdl-check, rumdl-fmt

docs(agents): clarify Japanese input translation format
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

docs(agents): restore restricted BigQuery dbt environment skill
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/skills/restricted-bigquery-dbt-environment/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(deps): update flake inputs
  flake.lock
Due: none

chore(flake.lock): update dependencies
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

docs(postman): restructure diagram and renumber sections
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(postman): add agent configuration section
  config/tmux-a2a-postman/postman.toml
Due: none

fix(postman): align late-reply alerts to 3 minutes (#0)
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
  docs/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

refactor(agents): allow metadata source path overrides (#0)
  nix/home-manager/agents/families/default.nix
  nix/home-manager/agents/families/subagents/family.nix
  nix/home-manager/agents/families/subagents/metadata.nix
  nix/home-manager/agents/install-manifest.nix
Due: alejandra, statix

chore(deps): update flake.lock
  flake.lock
Due: none

fix(ci): pass disposable homeDir to ai-runtime smoke test (#0)
  tests/ai-runtime-poc-smoke.sh
Due: none

chore(flake): update locked dependency versions
  flake.lock
Due: none

fix(flake): revert broken tmux-a2a-postman lock bump (#0)
  flake.lock
Due: none

chore(flake): update lock file
  flake.lock
Due: none

chore(flake): update lock dependencies
  flake.lock
Due: none

chore(flake.lock): update Nix flake inputs
  flake.lock
Due: none

feat(git): add --no-optional-locks to status/diff calls
  bin/ghq-fzf-preview
  bin/ghq-repo-status
  bin/repo-status
  nix/home-manager/agents/scripts/claude-precompact-save.sh
  nix/home-manager/agents/scripts/codex-stop-save.sh
Due: none

feat(postman): consolidate rules and skills context into postman.md
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(postman): complete rules integration and restore Nix rule paths
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(postman): add missing external-repo-ref rules and PR review style
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(postman): add reproducer clause, commit body sections, granularity rule
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

Revert "fix(postman): complete rules integration and restore Nix rule paths"
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

Revert "fix(postman): add missing external-repo-ref rules and PR review style"
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

Revert "feat(postman): consolidate rules and skills context into postman.md"
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

Revert "fix(postman): add reproducer clause, commit body sections, granularity rule"
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(agents): migrate rules to skills and add skill list to postman.md
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/skills/bash/SKILL.md
  nix/home-manager/agents/skills/github/SKILL.md
  nix/home-manager/agents/skills/markdown/SKILL.md
  nix/home-manager/agents/skills/python/SKILL.md
  nix/home-manager/agents/skills/repo-local/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): remove orphaned rules/, update stale doc references
  nix/home-manager/agents/README.md
  nix/home-manager/agents/instruction-artifacts.nix
  nix/home-manager/agents/rules/bash.md
  nix/home-manager/agents/rules/github.md
  nix/home-manager/agents/rules/markdown.md
  nix/home-manager/agents/rules/python.md
  nix/home-manager/agents/rules/repo-local.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): update remaining rules/*.md references to skills
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(claude-config-optimizer): update stale rules/ references to skills/
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lock file dependencies
  flake.lock
Due: none

chore(tests): delete pr-worktree-create-smoke.sh
  tests/pr-worktree-create-smoke.sh
Due: none

refactor(ci): move ai-runtime-poc-smoke.sh to .github/scripts/
  .github/scripts/ai-runtime-poc-smoke.sh
  .github/workflows/ai-runtime-poc.yml
Due: actionlint, ghalint, ghatm, pinact, zizmor
