Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore: remove docs/ from bigquery skill
  config/claude/skills/bigquery/SKILL.md
  config/claude/skills/bigquery/docs/docs.md
  config/claude/skills/bigquery/scripts/README.md
  config/claude/skills/bigquery/scripts/search_docs.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  flake.lock
Due: none

feat: add touchfile.sh and consolidate file management rules
  bin/repo-setup
  config/claude/CLAUDE.md
  config/claude/rules/bash.md
  config/claude/rules/file-management.md
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/claude/scripts/reload-claude-md.sh
  config/claude/scripts/touchfile.sh
  config/claude/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor: simplify touchfile.sh API
  config/claude/CLAUDE.md
  config/claude/rules/bash.md
  config/claude/scripts/touchfile.sh
  config/claude/skills/codex-config-optimizer/SKILL.md
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/github/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/slack/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/settings.json
Due: none

refactor: consolidate file management to .i9wa4/
  bin/repo-setup
  config/claude/CLAUDE.md
  config/claude/rules/git-github.md
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/CLAUDE.md
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/claude/scripts/reload-claude-md.sh
  config/claude/scripts/touchfile.sh
Due: rumdl-check, rumdl-fmt

fix: resolve config/claude review issues #1, #4, #10
  config/claude/scripts/deny-edit-write.sh
  config/claude/settings.json
  config/claude/skills/git/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(daily-report): use CLAUDE_CONFIG_DIR instead of hardcoded path (#12)
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(jupyter-notebook): remove bare pip install to prevent global pollution (#15)
  config/claude/skills/jupyter-notebook/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(terraform): add warning for destructive commands (#16)
  config/claude/skills/terraform/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(CLAUDE.md): add TodoWrite limitation note for Codex CLI (#3)
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

fix(touchfile.sh): replace openssl with $RANDOM (#22)
  config/claude/scripts/touchfile.sh
Due: none

fix(post-tool-use.sh): stricter .i9wa4/ path detection (#25)
  config/claude/scripts/post-tool-use.sh
Due: none

feat: add system-monitor.py for CPU/memory monitoring with process breakdown
  bin/system-monitor.py
Due: ruff-check, ruff-format

fix(system-monitor): update docstring paths and remove executable permission
  bin/system-monitor.py
Due: ruff-check, ruff-format

docs(orchestrator): add response monitoring via Bash mode section
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(orchestrator): avoid shell-problematic backticks in NOTE section
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: add postman.py - file-based communication daemon for tmux
  bin/postman.py
Due: ruff-check, ruff-format

fix(postman): redesign as single watcher daemon
  bin/postman.py
Due: ruff-check, ruff-format

docs(claude-config-optimizer): add official documentation links
  config/claude/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/vde/layout.yml
Due: none

feat(postman): add config file and improve notification system
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): use templates only for notifications
  bin/postman.py
Due: ruff-check, ruff-format

feat(postman): add capture storage and improve config naming
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): add thread safety for participants dict
  bin/postman.py
Due: ruff-check, ruff-format

fix(postman): improve thread safety in periodic_scan and print_participants
  bin/postman.py
Due: ruff-check, ruff-format

feat(postman): add observer reminder feature
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

docs(postman): add worker-codex reminder to orchestrator template
  bin/postman.toml
Due: none

feat(postman): add target_roles config for stuck detection
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): guard delivery failure alerts
  bin/postman.py
Due: ruff-check, ruff-format

docs(orchestrator): add postman section and parallel review execution
  config/claude/CLAUDE.md
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  bin/refresh.py
Due: ruff-check, ruff-format

feat(postman): add idle detection and batch notifications
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

fix: lint corrections
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(postman): limit idle detection to orchestrator only
  bin/postman.py
Due: ruff-check, ruff-format

feat(postman): implement Maildir architecture (Phase 1)
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): remove invalid timestamp variable from observer template
  bin/postman.toml
Due: none
