Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, sqlfmt, stylua, actionlint, ghalint, ghatm, pinact, zizmor

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

stylua:
  name: stylua
  entry: stylua --indent-type Spaces --indent-width 2
  language: system

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

ghalint:
  name: ghalint
  entry: mise exec -- ghalint run
  language: system

ghatm:
  name: ghatm
  entry: mise exec -- ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

WIP
  README.md
  dot.editorconfig
  dot.vscode/settings.json
  flake.nix
  nix/darwin.nix
  nix/editorconfig.nix
  nix/ghq-list-essential.txt
  nix/home.nix
  nix/vscode.nix
  uv.lock
Due: none

WIP
  nix/git.nix
  nix/home.nix
Due: none

WIP
  README.md
  dot.config/git/.gitignore
  dot.config/git/ignore
Due: none

WIP
  .pre-commit-config.yaml
  mise.toml
  nix/home.nix
Due: none

WIP
  mise.toml
Due: none

WIP
  dot.config/efm-langserver/config.yaml
  nix/darwin.nix
  nix/editorconfig.nix
  nix/git.nix
  nix/home.nix
  nix/vscode.nix
Due: none

WIP
  .github/workflows/pre-commit-nix.yaml
  .pre-commit-config.yaml
  bin/update-nix-packages.sh
  flake.lock
  flake.nix
  nix/packages/ghalint.nix
  nix/packages/ghatm.nix
  nix/packages/pinact.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .pre-commit-config.yaml
  README.md
  bin/check-external-mention.sh
  bin/nix-update-all.py
  bin/nix-update-check.py
  bin/nix_packages.py
  bin/update-nix-packages.sh
  renovate.json
Due: ruff-check, ruff-format

WIP
  README.md
  flake.nix
Due: none

WIP
  nix/darwin.nix
Due: none

WIP
  dot.config/zeno/config.yaml
  dot.zshrc
Due: none

WIP
  dot.zshenv
  dot.zshrc
  nix/home.nix
Due: none

WIP
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  dot.config/claude/CLAUDE.md
  dot.config/claude/rules/nix.md
  flake.nix
  mise.toml
  nix/home.nix
  nix/packages/pike.nix
  nix/packages/rumdl.nix
  nix/packages/vim-startuptime.nix
Due: none

WIP
  README.md
Due: none

chore: rumdl 設定を調整し MD013 を無効化
  dot.config/claude/agents/architecture-reviewer.md
  dot.config/claude/agents/code-reviewer.md
  dot.config/claude/agents/data-reviewer.md
  dot.config/claude/agents/historian.md
  dot.config/claude/agents/qa-reviewer.md
  dot.config/claude/agents/security-reviewer.md
  dot.config/claude/commands/summarize-reviews.md
  dot.config/rumdl/rumdl.toml
Due: none

WIP
  nix/home.nix
Due: none

ci: enable nix-based pre-commit workflow
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  sqlfmt: any of: \.sql$
  stylua: any of: \.lua$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
