Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

refactor(agents): split home-manager boundary
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/default.nix
Due: alejandra, statix

docs(orchestrator): clarify delivery status and restructure workflow instructions
  config/tmux-a2a-postman/postman.md
  config/vim/snippet/markdown.json
Due: rumdl-check, rumdl-fmt

refactor(snippet): reorganize orchestrator messaging guidelines
  config/vim/snippet/markdown.json
Due: none

docs(structure): Add section numbering
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

chore(git): ignore tmux-a2a-postman directory
  nix/home-manager/modules/git.nix
Due: alejandra, statix

refactor(agents): add nested agents subflake
  flake.lock
  flake.nix
  nix/home-manager/agents/flake.nix
  nix/home-manager/default.nix
Due: alejandra, statix

refactor(agents): localize module and add launch command detection
  .github/README.md
  flake.lock
  flake.nix
  nix/home-manager/agents/flake.nix
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(apps): remove agents-update task
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore: adjust wezterm opacity and reorganize terminal configs
  config/wezterm/wezterm.lua
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
Due: alejandra, statix

feat(agents): add harness adoption guidance
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): repair milestone 2 proof path
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update dependencies and add moon registry support
  flake.lock
Due: none

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

chore(agents): optimize claude-code config for v2.1.87
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/claude-config-optimizer/references/changelog-tracking.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): disable Codex terminal titles (#0)
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(deps): update flake.lock
  flake.lock
Due: none

chore(flake): update claude-chill
  flake.lock
Due: none

fix(agents): require line-broken status replies (#0)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lock file
  flake.lock
Due: none

chore(tmux-a2a-postman): update dependency
  flake.lock
Due: none

fix(agents): persist codex review launch evidence (#0)
  nix/home-manager/agents/review/refs/step2-cx-deep.md
  nix/home-manager/agents/review/refs/step2-cx.md
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agents): delay counted codex review outputs (#0)
  nix/home-manager/agents/review/refs/step2-cx-deep.md
  nix/home-manager/agents/review/refs/step2-cx.md
  nix/home-manager/agents/review/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(agents): add repo-local skill layer (#0)
  nix/home-manager/agents/skills/brainstorming/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/agents/skills/systematic-debugging/SKILL.md
  nix/home-manager/agents/skills/tdd-tidy-first/SKILL.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update flake inputs
  flake.lock
Due: none

chore(flake): update dependencies
  flake.lock
Due: none

fix(agents): use POSIX-safe deny hook boundaries (#0)
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

fix(tmux-a2a-postman): align low-noise notification defaults (#0)
  config/tmux-a2a-postman/postman.toml
Due: none

chore(snippet): refactor ai-create-review-comment and update subagent-review flags
  config/vim/snippet/markdown.json
Due: none

fix(npm): use nodejs_24 for min-release-age installs (#0)
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

docs(worktree): describe approved Phase 1 target flow (#0)
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

fix(home-manager): share nodejs package selection (#0)
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

docs(agents): require ELI5-style human explanations (#0)
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

feat(agents): add codex-prompting-local skill (#0)
  nix/home-manager/agents/skills/codex-prompting-local/SKILL.md
  nix/home-manager/agents/skills/codex-prompting-local/references/prompt-blocks.md
  nix/home-manager/agents/skills/codex-prompting-local/references/resume-handoff.md
  nix/home-manager/agents/skills/codex-prompting-local/references/review-output-contract.md
Due: rumdl-check, rumdl-fmt

fix(npm): route activation installs through safe-chain (#0)
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(agents): pin freee-mcp to a store-backed package (#0)
  nix/home-manager/agents/freee-mcp-bun.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

feat(apps): add safe flake update apps (#0)
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

style(home-manager): move nvim entries to Nix store section
  nix/home-manager/default.nix
Due: alejandra, statix

docs(agents): specify review-system contract (#0)
  docs/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
