Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux/tmux.conf
Due: none

WIP
  nix/home/codex.nix
Due: alejandra, statix

WIP
  config/postman/postman.toml
Due: none

fix: ~/.claude/ へのフォールバック symlink を追加 (#100)
  nix/home/default.nix
Due: alejandra, statix

fix: postman のパス指示と context-id を修正 (#101)
  config/claude/CLAUDE.md
  config/postman/postman.toml
Due: rumdl-check, rumdl-fmt

WIP
  bin/nix-flake-diff.py
Due: ruff-check, ruff-format

WIP
  nix/home/default.nix
Due: alejandra, statix

fix: activation script で GoogleSoftwareUpdateAgent を無効化
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/vim/dpp/ddc.toml
Due: none

WIP
  config/agents/skills/draw-io/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor: ~/.codex 管理を codex.nix に移行
  config/codex/.gitignore
  config/codex/AGENTS.md
  config/codex/rules
  nix/home/codex.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/vde/layout.yml
  flake.lock
  flake.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/home.nix
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
Due: none

fix(config): optimize postman.toml - remove dead config, fix template vars, add observes
  config/postman/postman.toml
Due: none

refactor(postman): split node definitions into nodes/*.toml
  config/postman/nodes/concierge.toml
  config/postman/nodes/observer-a-leader.toml
  config/postman/nodes/observer-b-leader.toml
  config/postman/nodes/observer-claude-1.toml
  config/postman/nodes/observer-claude-2.toml
  config/postman/nodes/observer-codex-1.toml
  config/postman/nodes/observer-codex-2.toml
  config/postman/nodes/orchestrator.toml
  config/postman/nodes/worker.toml
  config/postman/postman.toml
Due: none

fix(postman): add section headers to nodes/*.toml files
  config/postman/nodes/concierge.toml
  config/postman/nodes/observer-a-leader.toml
  config/postman/nodes/observer-b-leader.toml
  config/postman/nodes/observer-claude-1.toml
  config/postman/nodes/observer-claude-2.toml
  config/postman/nodes/observer-codex-1.toml
  config/postman/nodes/observer-codex-2.toml
  config/postman/nodes/orchestrator.toml
  config/postman/nodes/worker.toml
Due: none

Revert "fix(postman): add section headers to nodes/*.toml files"
  config/postman/nodes/concierge.toml
  config/postman/nodes/observer-a-leader.toml
  config/postman/nodes/observer-b-leader.toml
  config/postman/nodes/observer-claude-1.toml
  config/postman/nodes/observer-claude-2.toml
  config/postman/nodes/observer-codex-1.toml
  config/postman/nodes/observer-codex-2.toml
  config/postman/nodes/orchestrator.toml
  config/postman/nodes/worker.toml
Due: none

WIP
  config/postman/nodes/observer-claude-1.toml
  config/postman/nodes/observer-claude-2.toml
  config/postman/nodes/observer-codex-1.toml
  config/postman/nodes/observer-codex-2.toml
  config/postman/postman.toml
Due: none

fix(config): improve ping_template reply instructions
  config/postman/postman.toml
Due: none

refactor(nix): extract common pre-commit/treefmt modules for reuse
  flake.nix
  nix/flake-modules/pre-commit-base.nix
  nix/flake-modules/treefmt-base.nix
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/treefmt.nix
Due: alejandra, statix

fix(config): migrate permission deny rules from deprecated :* to modern syntax
  config/claude/settings.json
Due: none

docs(config): update claude-config-optimizer tracking and add permission system reference
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
  flake.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/home.nix
  nix/home/default.nix
Due: alejandra, statix

fix(config): fix permission deny rules to block commands without arguments
  config/claude/settings.json
Due: none

WIP
  uv.lock
Due: none

WIP
  bin/postman.py
  bin/system-monitor.py
  flake.lock
Due: ruff-check, ruff-format

WIP
  flake.lock
Due: none

WIP
  config/postman/nodes/concierge.toml
  config/postman/nodes/observer-a-leader.toml
  config/postman/nodes/observer-b-leader.toml
  config/postman/nodes/orchestrator.toml
  config/postman/nodes/worker.toml
Due: none

WIP
  config/codex/config.common.toml
Due: none

WIP
  bin/repo-setup
Due: none

WIP
  config/claude/CLAUDE.md
  config/claude/settings.json
Due: rumdl-check, rumdl-fmt

fix: update directory name in deny.sh
  config/claude/scripts/deny.sh
Due: none
