Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(skills): update claude-config-optimizer and databricks skills
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/databricks/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  flake.lock
Due: none

WIP
  config/postman/postman.toml
Due: none

WIP
  nix/common/darwin.nix
Due: alejandra, statix

WIP
  nix/common/homebrew.nix
  nix/hosts/macos-p/casks.nix
  nix/hosts/macos-w/casks.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

add watchdog (#99)
  config/postman/postman.toml
Due: none

WIP
  config/zeno/config.yaml
Due: none

refactor(flake): migrate to flake-parts
  flake.lock
  flake.nix
Due: alejandra, statix

feat(nix): add git-hooks.nix for pre-commit management
  .github/workflows/pre-commit.yaml
  .gitignore
  .pre-commit-config.yaml
  .statix.toml
  flake.lock
  flake.nix
  nix/pre-commit.nix
  pyproject.toml
  statix.toml
Due: actionlint, alejandra, ghalint, ghatm, pinact, statix, zizmor

fix: rename .statix.toml to statix.toml
  .statix.toml
Due: none

fix(pre-commit): add shfmt indent option (-i 2)
  nix/pre-commit.nix
Due: alejandra, statix

fix(pre-commit): use Nix packages directly instead of uv
  nix/pre-commit.nix
Due: alejandra, statix

refactor(pyproject): remove dev tools managed by Nix
  pyproject.toml
Due: none

feat(nix): add treefmt-nix for unified formatting
  .rumdl.toml
  bin/check-external-mention.sh
  config/ccstatusline/settings.json
  config/claude/CLAUDE.md
  config/claude/rules/git-github.md
  config/claude/rules/markdown.md
  config/claude/scripts/post-write-check.sh
  config/claude/scripts/reload-claude-md.sh
  config/claude/skills/bigquery/SKILL.md
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/codex-config-optimizer/SKILL.md
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/daily-report/scripts/get-activities.sh
  config/claude/skills/databricks/SKILL.md
  config/claude/skills/dbt/SKILL.md
  config/claude/skills/draw-io/SKILL.md
  config/claude/skills/draw-io/references/aws-icons.md
  config/claude/skills/draw-io/references/color-palette.md
  config/claude/skills/draw-io/references/layout-guidelines.md
  config/claude/skills/git/SKILL.md
  config/claude/skills/github/SKILL.md
  config/claude/skills/nix/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/python/SKILL.md
  config/claude/skills/skill-creator/SKILL.md
  config/claude/skills/slack/SKILL.md
  config/claude/skills/subagent-review/SKILL.md
  config/efm-langserver/config.yaml
  config/vim/snippet/markdown.json
  config/zeno/config.yaml
  flake.lock
  flake.nix
  nix/pre-commit.nix
  nix/treefmt.nix
  renovate.json
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  .gitignore
Due: none

refactor(nix): remove unnecessary ghalint version pinning
  flake.nix
  nix/pre-commit.nix
Due: alejandra, statix

refactor(nix): split darwin/home configurations into modules
  flake.nix
  nix/darwin.nix
  nix/home.nix
Due: alejandra, statix

refactor(nix): reorganize directory structure by module type
  flake.nix
  nix/darwin/default.nix
  nix/darwin/homebrew.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/home.nix
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/treefmt.nix
  nix/home/codex.nix
  nix/home/default.nix
  nix/home/editorconfig.nix
  nix/home/git.nix
  nix/home/vscode.nix
  nix/hosts/macos-p/casks.nix
  nix/hosts/macos-p/darwin.nix
  nix/hosts/macos-p/home.nix
  nix/hosts/macos-w/casks.nix
  nix/hosts/macos-w/darwin.nix
  nix/hosts/macos-w/home.nix
Due: alejandra, statix

refactor(efm): simplify sqlfmt command
  config/efm-langserver/config.yaml
Due: none

WIP
  nix/home/default.nix
  uv.lock
Due: alejandra, statix

WIP
  config/vim/rc/details.vim
Due: none

WIP
  config/efm-langserver/config.yaml
  config/vim/dpp/vim.toml
Due: none

refactor(nix): unify formatters under treefmt
  .stylua.toml
  config/ccstatusline/settings.json
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/treefmt.nix
Due: alejandra, statix

WIP
  nix/home/default.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  config/tmux/tmux.conf
Due: none

WIP
  config/claude/skills/tmux/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/settings.json
Due: none

WIP
  README.md
  bin/check-external-mention.sh
  bin/repo-setup
  config/claude/rules/git-github.md
  config/claude/skills/subagent-review/SKILL.md
  config/claude/skills/tmux/SKILL.md
  config/codex/config.common.toml
  config/lazygit/config.yml
  config/vim/autoload/my_util.vim
  config/vim/rc/details.vim
  nix/darwin/default.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

rules を config/agents/rules に移動
  config/agents/rules/aws.md
  config/agents/rules/bash.md
  config/agents/rules/git-github.md
  config/agents/rules/markdown.md
  config/claude/.gitignore
  config/claude/rules
Due: rumdl-check, rumdl-fmt

config/codex/rules → ../agents/rules のシンボリンクを追加
  config/codex/.gitignore
  config/codex/rules
Due: none

WIP
  config/codex/.gitignore
  config/codex/skills
Due: none

WIP
  config/codex/.gitignore
  config/codex/AGENTS.md
  config/codex/config.common.toml
  config/codex/skills
  config/lazygit/config.yml
  config/postman/postman.toml
  config/vde/layout.yml
  nix/home/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/lazygit/config.yml
Due: none

WIP
  config/codex/AGENTS.md
  config/codex/config.common.toml
  nix/home/codex.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
