Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

refactor: update on_join to use archive subcommand instead of move-to-read (#112)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

feat: add 4 Claude Code insights to AGENTS.md
  agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  bin/repo-status
  bin/system-load
Due: none

chore: remove tmux-a2a-postman sections from AGENTS.md
  agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/a2a-role-auditor/SKILL.md
  agents/skills/vault-management/SKILL.md
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  agents/AGENTS.md
  config/vde/layout.yml
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
Due: none

WIP
  bin/kill-stale-agents
Due: none

WIP
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, statix

WIP
  agents/scripts/claude-statusline.sh
  agents/skills/claude-config-optimizer/SKILL.md
  agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

feat(skills): add migration gate to plan-design skill
  agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, statix

WIP
  agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/scripts/claude-detect-project.sh
  agents/scripts/claude-observe.sh
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  .shellcheckrc
  agents/scripts/claude-detect-project.sh
  agents/scripts/claude-observe.sh
  agents/skills/daily-report/scripts/get-activities.sh
  agents/skills/daily-report/scripts/get-team-activities.sh
Due: none

WIP
  .shellcheckrc
  agents/scripts/claude-observe.sh
  agents/skills/claude-workspace-trust-fix/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/scripts/claude-detect-project.sh
  agents/scripts/claude-observe.sh
  agents/skills/continuous-learning-v2/SKILL.md
  agents/skills/continuous-learning-v2/config.json
  agents/skills/continuous-learning-v2/scripts/instinct-cli.py
  agents/skills/continuous-learning-v2/scripts/test_parse_instinct.py
  agents/skills/evolve/SKILL.md
  agents/skills/instinct-status/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  config/vde/layout.yml
Due: none

WIP
  agents/skills/claude-config-optimizer/SKILL.md
  flake.lock
  nix/home-manager/modules/claude-code.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/home-manager/modules/claude-code.nix
Due: alejandra, statix

WIP
  agents/AGENTS.md
  agents/rules/github.md
  agents/skills/git/SKILL.md
  agents/skills/github/SKILL.md
  flake.lock
  flake.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/agent-skills.nix
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/prohibited-bash-commands.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  agents/AGENTS.md
  agents/skills/git/SKILL.md
  agents/skills/github/SKILL.md
  flake.lock
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/atlassian/SKILL.md
  agents/skills/daily-report/SKILL.md
  config/vde/layout.yml
  hooks/examples/README.md
  hooks/examples/pretooluse-nix-untracked.json
  hooks/examples/pretooluse-nix-untracked.sh
  nix/flake-parts/default.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/agents/prohibited-bash-commands.nix
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

WIP
  agents/AGENTS.md
  agents/rules/aws.md
  agents/rules/bash.md
  agents/rules/github.md
  agents/rules/markdown.md
  agents/rules/python.md
  nix/home-manager/modules/lazygit.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

WIP
  agents/skills/draw-io/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/subagents/researcher-tech.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/claude-config-optimizer/SKILL.md
  agents/skills/claude-config-optimizer/references/changelog-tracking.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
