Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

refactor(postman): Replace generic observer with explicit sections
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): Add message counter reminder and shell expansion
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): Add header/footer and variable substitution
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): Extract hardcoded messages to config templates
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

i18n(postman): Convert Japanese text to English
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

refactor(postman): Rename 'draft' command to 'create-draft'
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): A2A protocol alignment with contextId/taskId and method table
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): ContextId-based directory isolation
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

refactor(postman): Merge start+daemon, rename run to attach
  bin/postman.py
Due: ruff-check, ruff-format

fix(postman): Update ping_template with PONG requirement and contextId paths
  bin/postman.toml
Due: none

feat(postman): Add role field to nodes and display in talks_to
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

Remove periodic ping, keep initial ping only
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

Add global/per-node reminder settings
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

Remove jsonrpc related code
  bin/postman.py
Due: ruff-check, ruff-format

Update deny.sh to read JSON from stdin
  config/claude/scripts/deny.sh
Due: none

WIP
  bin/postman.toml
Due: none

Fix deny.sh logic for normal (non-A2A) use
  config/claude/scripts/deny.sh
Due: none

WIP
  bin/postman.py
Due: ruff-check, ruff-format

Add context fallback for postman create-draft command
  bin/postman.py
Due: ruff-check, ruff-format

WIP
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/daily-report/scripts/get-activities.sh
  config/vde/layout.yml
Due: rumdl-check, rumdl-fmt

Simplify orchestrator preset layout
  config/vde/layout.yml
Due: none

Add context fallback for postman create-draft command (#94)
  bin/postman.py
  bin/postman.toml
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/daily-report/scripts/get-activities.sh
  config/vde/layout.yml
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

Improve postman: simplify templates and unify config naming
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

WIP
  config/vim/dpp/ddc.toml
  config/zeno/config.yaml
  nix/common/home.nix
  nix/ghq-list-essential.txt
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  nix/common/darwin.nix
Due: alejandra, statix

WIP
  nix/common/home.nix
Due: alejandra, statix

WIP
  bin/refresh.py
Due: ruff-check, ruff-format

WIP
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

postman: 複数プロセス対応を改善
  bin/postman.py
Due: ruff-check, ruff-format

WIP
  nix/hosts/macos-p/casks.nix
  nix/hosts/macos-w/casks.nix
Due: alejandra, statix

fix: Apply ruff formatting to postman.py
  bin/postman.py
Due: ruff-check, ruff-format

WIP
  config/claude/skills/restricted-bigquery-dbt-environment/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux/tmux.conf
Due: none

WIP
  Makefile
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

wezterm: fancy tab barに切り替え、タイトルバー透過とopacity連動を追加
  config/wezterm/wezterm.lua
Due: none

WIP
  config/wezterm/wezterm.lua
Due: none
