Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

chore(flake): update home-manager and llm-agents.nix lock revisions
  flake.lock
Due: none

fix(artifacts): use skill root for gist verifier (#318)
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
Due: rumdl-check, rumdl-fmt

feat(tailscale): manage tailscaled as a root service on switch
  config/vde/layout.yml
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(deps): update flake.lock dependencies
  flake.lock
Due: none

feat(tailscale): manage tailscaled as a root service on switch (#319)
  config/vde/layout.yml
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

fix(agent-skills): keep switch running on legacy skill tree
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

chore(flake): update locked skill dependencies
  flake.lock
Due: none

Update flake lock
  flake.lock
Due: none

Use hostPlatform for Darwin checks
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

fix(tailscale): verify daemon startup on switch (#319)
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore(flake): bump pinned inputs and tmux-a2a-postman to v0.9.2
  flake.lock
  flake.nix
Due: alejandra, statix

chore(flake): update locked inputs
  flake.lock
Due: none

Revert "chore(deps): bump tmux-a2a-postman from v0.9.2 to v0.9.1 (#321)"
  flake.lock
  flake.nix
Due: alejandra, statix

Revert "chore(deps): bump tmux-a2a-postman from v0.9.2 to v0.9.1" (#322)
  flake.lock
  flake.nix
Due: alejandra, statix

fix(deps): exclude tmux-a2a-postman from Dependabot cooldown (#323)
  .github/dependabot.yml
Due: none

fix(deps): ignore tmux-a2a-postman instead of excluding it from cooldown (#323)
  .github/dependabot.yml
Due: none

fix(deps): ignore tmux-a2a-postman in Dependabot nix updates (#324)
  .github/dependabot.yml
Due: none

fix(artifacts): make gist delivery contract check Nix-sandbox safe (#325)
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
Due: none

chore(flake): update flake.lock inputs
  flake.lock
Due: none

docs(agent-harness): define A2A Postman boundary
  skills/dotfiles/references/a2a-postman-integration-boundary.md
  skills/dotfiles/references/harness-guidance.md
Due: rumdl-check, rumdl-fmt

feat(skills): expand external reference inventory
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(artifacts): make gist delivery contract check Nix-sandbox safe (#325) (#327)
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
Due: none

fix(harness): align write guard and operating contract (#307)
  README.md
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

docs(artifacts): disambiguate skill from claude.ai /artifacts feature (#329)
  skills/artifacts/SKILL.md
  skills/artifacts/evals/tasks/negative-trigger-2.yaml
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/references/local-markdown.md
Due: rumdl-check, rumdl-fmt

docs(artifacts): document save-point usage pattern for local artifacts (#329)
  skills/artifacts/references/local-markdown.md
Due: rumdl-check, rumdl-fmt

refactor(logbook): rename artifacts skill to logbook (#329)
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/logbook/SKILL.md
  skills/logbook/evals/eval.yaml
  skills/logbook/evals/tasks/negative-trigger-1.yaml
  skills/logbook/evals/tasks/negative-trigger-2.yaml
  skills/logbook/evals/tasks/positive-trigger-1.yaml
  skills/logbook/evals/tasks/positive-trigger-2.yaml
  skills/logbook/evals/tasks/positive-trigger-3.yaml
  skills/logbook/evals/tasks/positive-trigger-4.yaml
  skills/logbook/evals/tasks/positive-trigger-5.yaml
  skills/logbook/evals/tasks/positive-trigger-6.yaml
  skills/logbook/references/gist-delivery.md
  skills/logbook/references/local-markdown.md
  skills/logbook/scripts/mkmd
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: rumdl-check, rumdl-fmt

chore(nvim): format mdx files and simplify options
  config/nvim/nvim/init.lua
Due: none

fix(logbook): repoint gist-delivery pre-commit hook and stale prose (#329)
  nix/flake-parts/modules/pre-commit.nix
  skills/plan-design/references/plan-authoring.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Rename artifacts skill to logbook (#330)
  nix/flake-parts/modules/pre-commit.nix
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/logbook/SKILL.md
  skills/logbook/evals/eval.yaml
  skills/logbook/evals/tasks/negative-trigger-1.yaml
  skills/logbook/evals/tasks/negative-trigger-2.yaml
  skills/logbook/evals/tasks/positive-trigger-1.yaml
  skills/logbook/evals/tasks/positive-trigger-2.yaml
  skills/logbook/evals/tasks/positive-trigger-3.yaml
  skills/logbook/evals/tasks/positive-trigger-4.yaml
  skills/logbook/evals/tasks/positive-trigger-5.yaml
  skills/logbook/evals/tasks/positive-trigger-6.yaml
  skills/logbook/references/gist-delivery.md
  skills/logbook/references/local-markdown.md
  skills/logbook/scripts/mkmd
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(ci): baseline documented Betterleaks history findings (#307)
  .betterleaksignore
Due: none

chore(vde): drop redundant add-dir from layout commands
  config/vde/layout.yml
Due: none

style(nvim): move auto-reload timer setup earlier
  config/nvim/nvim/init.lua
Due: none

chore(vde): update preset layouts and snippet shortcuts
  config/vde/layout.yml
  config/zsh/snippet.zsh
Due: none

chore(zsh): rename ghq update snippet and reorder git graph entries
  config/zsh/snippet.zsh
Due: none

chore: integrate latest main into issue-307 (#307)
  config/vde/layout.yml
  config/zsh/snippet.zsh
  flake.lock
Due: none

fix(logbook): harden Gist path delivery verification (#332)
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
