Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  nix/home/git.nix
Due: alejandra, statix

WIP
  nix/flake-parts/darwin.nix
  nix/home/default.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

Update config optimizer skills and disable Codex co-author attribution
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/codex/config.common.toml
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux/tmux.conf
Due: none

feat: unified enter_count = 2 for all node configs
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

fix: add enter_count = 2 to guardian node config for Codex CLI
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

WIP
  bin/ubuntu/setup-swap
Due: none

feat: gitignore .envrc and add .envrc.example
  .envrc.example
  .gitignore
  README.md
  nix/home/git.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat: distribute frontmatter schema reference to agent skills (#16) [i9wa4/dotfiles]
  config/agents/skills/atlassian/SKILL.md
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/agents/skills/daily-report/SKILL.md
  config/agents/skills/github/SKILL.md
  config/agents/skills/skill-creator-local/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: add team-scope activity wrapper using gh search per member (#5) [i9wa4/dotfiles]
  config/agents/skills/daily-report/scripts/get-team-activities.sh
Due: none

feat: add manager-digest subagent (#6) [i9wa4/dotfiles]
  config/agents/subagents/manager-digest.md
Due: rumdl-check, rumdl-fmt

feat: add manager-digest cron wrapper script (#8) [i9wa4/dotfiles]
  config/agents/scripts/manager-digest.sh
Due: none

feat: update 2026 Japanese national holiday list in cron wrapper (#13) [i9wa4/dotfiles]
  config/agents/scripts/manager-digest.sh
Due: none

feat: add meeting transcript automation script with Jira stub (#10) [i9wa4/dotfiles]
  config/agents/scripts/process-transcript.sh
Due: none

feat: update skill-creator-local with official guide content
  config/agents/skills/skill-creator-local/SKILL.md
  config/agents/skills/skill-creator-local/references/patterns.md
  config/agents/skills/skill-creator-local/references/troubleshooting.md
Due: rumdl-check, rumdl-fmt

WIP
  config/vde/.gitignore
  config/vde/monitor/config.json
  config/vde/worktree/config.yml
Due: none

WIP
  bin/ubuntu/setup-swap
  config/agents/AGENTS.md
  config/agents/skills/orchestrator/SKILL.md
  nix/flake-parts/darwin.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/vde/.gitignore
Due: none

feat(skills): add internal-vault, transcript-processor, vault-digest
  config/agents/skills/internal-vault/SKILL.md
  config/agents/skills/transcript-processor/SKILL.md
  config/agents/skills/vault-digest/SKILL.md
Due: rumdl-check, rumdl-fmt

Revert "feat(skills): add internal-vault, transcript-processor, vault-digest"
  config/agents/skills/internal-vault/SKILL.md
  config/agents/skills/transcript-processor/SKILL.md
  config/agents/skills/vault-digest/SKILL.md
Due: rumdl-check, rumdl-fmt

feat: Step 5 — AI tools sub-flake with llm-agents.nix only
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/ai-tools/flake.nix
  nix/flake-parts/default.nix
  nix/home/default.nix
Due: alejandra, statix

feat: enable materialize_template for all nodes (@path reference)
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

WIP
  .gitignore
  Makefile
  config/vde/layout.yml
  config/vde/worktree/config.yml
  nix/home/git.nix
Due: alejandra, statix

WIP
  nix/ai-tools/flake.lock
Due: none

WIP
  README.md
Due: rumdl-check, rumdl-fmt

WIP
  config/vim/dpp/lazy.toml
Due: none

WIP
  Makefile
  flake.lock
  nix/ai-tools/flake.lock
Due: none

WIP
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  Makefile
  config/agents/skills/atlassian/SKILL.md
  config/agents/skills/daily-report/SKILL.md
  config/agents/subagents/manager-digest.md
  config/zsh/.zshenv
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/flake-parts/default.nix
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/ubuntu.nix
  nix/home/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  Makefile
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/flake-parts/default.nix
Due: alejandra, statix

feat: add {inbox_path} to ping_template in postman.toml (#134)
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  nix/flake-parts/ubuntu.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(nix): switch neovim/vim/codex to cached binaries
  README.md
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/flake-parts/default.nix
  nix/flake-parts/ubuntu.nix
  nix/home/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/home/default.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
