Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(skills): waza-compact github skill
  skills/github/SKILL.md
  skills/github/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact markdown skill
  skills/markdown/SKILL.md
  skills/markdown/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact mermaid-local skill
  skills/mermaid-local/SKILL.md
  skills/mermaid-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact nix skill
  skills/nix/SKILL.md
  skills/nix/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact orchestrator skill
  skills/orchestrator/SKILL.md
  skills/orchestrator/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact plan-design skill
  skills/plan-design/SKILL.md
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact prompt-contracts-local skill
  skills/prompt-contracts-local/SKILL.md
  skills/prompt-contracts-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact python skill
  skills/python/SKILL.md
  skills/python/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact repo-local skill
  skills/repo-local/SKILL.md
  skills/repo-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact restricted-bigquery-dbt-environment skill
  skills/restricted-bigquery-dbt-environment/SKILL.md
  skills/restricted-bigquery-dbt-environment/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact skill-description-index skill
  skills/skill-description-index/SKILL.md
  skills/skill-description-index/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact systematic-debugging skill
  skills/systematic-debugging/SKILL.md
  skills/systematic-debugging/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact tdd-tidy-first skill
  skills/tdd-tidy-first/SKILL.md
  skills/tdd-tidy-first/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

chore(skills): run waza on changed skills
  bin/validate-skill-waza.sh
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-skill-management/references/waza-publishing.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update tmux-a2a-postman lock entry
  flake.lock
Due: none

Add Codex write-tool hook observer
  docs/agent-hooks-architecture.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/codex-pretooluse-observe-write.sh
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Improve worktree removal status checks
  bin/worktree-remove
Due: none

Tighten Codex WAL pressure relief
  docs/storage-hygiene.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Add AWS Agent Toolkit skills
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

Document Codex write hook sentinel
  skills/agent-harness-engineering/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

fix(zsh): refresh ghq seed every five seconds
  config/zsh/zoxide.zsh
Due: none

chore(flake): update locked inputs
  flake.lock
Due: none

Add markdown formatter hook
  README.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/deny-bash-design.md
  docs/repo-ai-operating-contract.md
  docs/storage-hygiene.md
  docs/worktree-tool-evaluation.md
  flake.lock
  flake.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/README.md
  nix/home-manager/agents/subagents/reviewer-architecture.md
  nix/home-manager/agents/subagents/reviewer-code.md
  nix/home-manager/agents/subagents/reviewer-data.md
  nix/home-manager/agents/subagents/reviewer-historian.md
  nix/home-manager/agents/subagents/reviewer-qa.md
  nix/home-manager/agents/subagents/reviewer-security.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-workspace/references/vde-layout-internals.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Speed up actrun CI packaging
  flake.lock
  flake.nix
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/packages/actrun-nix-update.sh
  nix/packages/actrun.nix
  nix/packages/waza-nix-update.sh
Due: alejandra, statix

Prune unmanaged npm globals
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

Add Google agent skills
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

Fix tmux SSH detection
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

fix(vde): align snippets with va-only layout
  config/vde/layout.yml
  config/zsh/snippet.zsh
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/boot-failure-modes.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/vde-layout-internals.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update flake inputs
  flake.lock
Due: none

docs(worktree): add development overview
  docs/worktree-development-overview.md
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

feat(agent-harness): use native guardian reviews (#159)
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/vde-layout-internals.md
  skills/agent-workspace/references/worktree-workflow.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/orchestrator/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
  skills/repo-local/SKILL.md
  skills/repo-local/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

fix(worktree): make repo setup resilient
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

fix(agent-harness): clarify git -C deny rationale
  nix/home-manager/agents/shared/denied-bash-commands.nix
  skills/agent-harness-engineering/references/claude-code.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agent-harness): preserve Codex hook review state
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(worktree): streamline remove selector output
  bin/worktree-remove
  docs/worktree-development.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

refactor(lazygit): extract AI commit script
  nix/home-manager/modules/lazygit-ai-commit.sh
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

chore(flake): update locked dependency revisions
  flake.lock
Due: none

fix(worktree): make repo setup resilient (#163)
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
