Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(ai): sync tmux-a2a-postman command references (#0)
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

feat(darwin): add macskk cask (#0)
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(agents): optimize claude-code config for v2.1.94 (#0)
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/claude-config-optimizer/references/changelog-tracking.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update flake input versions
  flake.lock
Due: none

feat(home-manager): add gnumake to system packages (#0)
  nix/home-manager/default.nix
Due: alejandra, statix

chore(agents): update AGENTS persona (#0)
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

fix(vim): update ai-orchestrator-status snippet (#0)
  config/vim/snippet/markdown.json
Due: none

fix(tmux): align status-format[1] to right for SSH sessions
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

feat(mcp-servers): add dbt MCP server configuration
  nix/home-manager/agents/mcp-servers.nix
Due: alejandra, statix

fix(mcp-servers): copy xml-reference.md into drawio-mcp install
  nix/home-manager/agents/mcp-servers.nix
Due: alejandra, statix

fix(agent-skills): add missing YAML frontmatter to claude-api SKILL.md
  nix/home-manager/agents/agent-skills.nix
Due: alejandra, statix

chore(tmux): reduce status-left session name display width from 50 to 30
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(flake): update lock file
  flake.lock
Due: none

docs(tmux-a2a-postman): clarify messenger proactive sub-task identification and mailbox operations
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(agents/skills): add aws-auth skill for tmux pane-based AWS authentication
  nix/home-manager/agents/skills/aws-auth/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(storage): add Linux storage pressure report (#123)
  .github/README.md
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(storage): add guarded GC-root review tool (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(storage): add daily storage-report systemd timer (#123)
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

feat(storage): add duplicate-swap guardrail and consolidation runbook (#123)
  bin/ubuntu/setup-swap.sh
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

fix(storage): make app wrappers cwd-independent (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

docs(storage): clarify current-home gcroot protection (#123)
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

test(ci): verify claude/codex runtime generation (#122)
  nix/flake-parts/default.nix
  nix/flake-parts/modules/ai-runtime-generation.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/runtime-artifacts.nix
Due: alejandra, statix

fix(postman): codify timeout and resend contracts (#0)
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
Due: rumdl-check, rumdl-fmt

fix(postman): align watchdog thresholds with shared timeout policy (#0)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(storage): default to --self --summary and print delete hint (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/ubuntu/storage-pressure-report.sh
Due: none

fix(storage): move size field earlier in report output (#123)
  bin/ubuntu/storage-pressure-report.sh
Due: none

refactor(storage): redesign report output format (#123)
  bin/ubuntu/storage-pressure-report.sh
Due: none

fix(storage): fix --delete mode under privileged execution (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
Due: none

fix(postman): harden stale review recovery (#368)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(storage): clean up non-target swap after activation (#123)
  bin/ubuntu/setup-swap.sh
Due: none

fix(storage): restore manual swap consolidation boundary (#123)
  bin/ubuntu/setup-swap.sh
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

test(ci): align codex runtime artifact trust keys (#122)
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/runtime-artifacts.nix
Due: alejandra, statix

fix(storage): run garbage collection after Linux switch (#123)
  flake.lock
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

fix(storage): drop unintended flake.lock change (#123)
  flake.lock
Due: none

fix(storage): restore 14d switch GC policy (#123)
  .github/README.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): remove auto-scheduled storage report (#123)
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

docs(storage): add in-file app usage guidance (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/ubuntu/storage-pressure-report.sh
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

fix(storage): shorten Linux GC retention to 1d (#123)
  .github/README.md
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): restore Linux storage report timer (#123)
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
