Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

chore(vde): raise codex reasoning effort to xhigh
  config/vde/layout.yml
Due: none

refactor(repo-local): split focused agent guidance (#161)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  skills/agent-workspace/references/worktree-workflow.md
  skills/repo-local/SKILL.md
  skills/repo-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

Use ASCII markers in repo-status
  bin/repo-status
Due: none

Refine repo-status ASCII markers
  bin/repo-status
Due: none

Compact repo-status worktree context
  bin/repo-status
Due: none

refactor(repo-local): remove catch-all skill (#161)
  docs/dotfiles-operating-concepts.md
  docs/worktree-tool-evaluation.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/repo-local/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Use 15 character repo-status context names
  bin/repo-status
Due: none

Avoid at separator in repo-status context
  bin/repo-status
Due: none

refactor(repo-status): clarify context labels
  bin/repo-status
Due: none

docs: clarify dotfiles-local guardrails (#161)
  docs/dotfiles-operating-concepts.md
Due: rumdl-check, rumdl-fmt

fix(repo-status): bracket commit hash and trim trailing space
  bin/repo-status
Due: none

feat(prompt): show lock-safe repo status
  bin/repo-status
  config/zsh/prompt.zsh
Due: none

Fix Streamlit agent skill source
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

refactor(zsh): simplify prompt context indicators
  config/zsh/prompt.zsh
Due: none

chore(flake): update locked inputs
  flake.lock
Due: none

chore(pnpm): migrate globals from npm (#162)
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
  nix/home-manager/default.nix
  nix/home-manager/modules/npm.nix
  nix/home-manager/modules/pnpm.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(postman): remove default all-skills entry
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(tmux): refresh status interval and clean up config
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(tmux): extract session index helper
  bin/tmux-session-index
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

docs: align dotfiles-local terminology (#161)
  docs/worktree-tool-evaluation.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(repo-local): split focused agent guidance (#164)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  docs/worktree-tool-evaluation.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-workspace/references/worktree-workflow.md
  skills/repo-local/SKILL.md
  skills/repo-local/references/preserved-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agent-workspace): simplify worktree-remove selector
  bin/worktree-remove
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

refactor(agent-workspace): streamline worktree removal
  bin/worktree-remove
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

refactor(agent-workspace): remove dead worktree helpers
  bin/worktree-remove
Due: none

fix(pnpm): preserve safe-chain guard (#162)
  nix/home-manager/modules/pnpm.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(pnpm): migrate globals from npm (#166)
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
  nix/home-manager/default.nix
  nix/home-manager/modules/npm.nix
  nix/home-manager/modules/pnpm.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(pnpm): install missing global CLIs (#162)
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

fix(pnpm): clean legacy npm remnants (#162)
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

fix(pnpm): repair global CLI migration (#167)
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

fix(agent-harness): clarify guardian-led review flow (#159)
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/orchestrator/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(deps): update flake inputs
  flake.lock
Due: none

chore(vde): switch critic pane to opus
  config/vde/layout.yml
Due: none

feat(create-review-comment): support terse invocation
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agent-harness): restore five-plus-five native review default
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(vde): use opus[1m] model in critic pane
  config/vde/layout.yml
Due: none

fix(agent-harness): align review comment approval flow (#159)
  config/tmux-a2a-postman/postman.md
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

style(kitty): align font configuration spacing
  config/kitty/kitty.conf
Due: none

feat(agent-harness): use native guardian reviews (#165)
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/vde-layout-internals.md
  skills/agent-workspace/references/worktree-workflow.md
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/orchestrator/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

style(kitty): increase font size to 18.0
  config/kitty/kitty.conf
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
