Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

chore(nvim): update lazy lock entries
  config/nvim/nvim/lazy-lock.json
Due: none

feat(vde): add claude messenger and preset-w layouts
  config/vde/layout.yml
  config/zsh/snippet.zsh
Due: none

fix(zsh): use history scheme for fzf history search
  config/zsh/history-fzf.zsh
Due: none

docs(tmux-a2a-postman): update agent graph and remove T-800 persona
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump locked inputs
  flake.lock
Due: none

nix-darwin: trust skhd Homebrew formula
  nix/nix-darwin/default.nix
Due: alejandra, statix

nix-darwin: trust skhd Homebrew tap
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(skills): close completed review waves before validators
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update locked inputs
  flake.lock
Due: none

docs(atlassian): document API token setup
  skills/atlassian/SKILL.md
  skills/atlassian/references/api-token.md
  skills/atlassian/references/usage.md
Due: rumdl-check, rumdl-fmt

chore(deps): update flake.lock inputs
  flake.lock
Due: none

feat(nix-darwin): add accessibility display preferences
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix-darwin): update macOS defaults and dictation hotkey
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(nix-darwin): clarify macOS preference comments and adjust menu clock date display
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(nix-darwin): document macOS default values
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix-darwin): enable dictation preference
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix-darwin): set globe key to start dictation
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(nix-darwin): reduce manual macOS settings
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(nix-darwin): remove obsolete True Tone note
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(nix-darwin): update Night Shift color temperature note
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): update flake.lock inputs
  flake.lock
Due: none

chore(darwin): remove unused casks
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

fix(nix-darwin): disable Bluetooth menu bar control
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(skills): add text-only Japanese style guidance
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(skills): add AI responsibility boundary guidance
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/ai-human-responsibility-boundaries.md
  skills/agent-harness-engineering/references/prompt-contracts-preserved-guidance.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

feat(darwin): sync Homebrew during switch
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore(nix-darwin): remove universalaccess overrides
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(darwin): stop installing Obsidian
  nix/flake-parts/modules/darwin.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(nvim): open clicked URLs in browser
  config/nvim/nvim/init.lua
Due: none

fix(nvim): delegate clicked URLs to gx
  config/nvim/nvim/init.lua
Due: none

fix(nvim): shorten URL click opener
  config/nvim/nvim/init.lua
Due: none

fix(darwin): let activation trust Homebrew taps
  nix/flake-parts/modules/apps.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(darwin): manage Docker Desktop cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

docs(skill): strengthen Japanese prose review
  docs/english-to-japanese-technical-translation.md
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/references/japanese-writing-style.md
  skills/english-to-japanese-technical-translation/references/workflow.md
Due: rumdl-check, rumdl-fmt

fix(tmux): correct window status format
  config/tmux/tmux.conf
Due: none

Show tmux session index in status line
  config/tmux/tmux.conf
Due: none

Use macmon for macOS tmux system load
  nix/home-manager/default.nix
  scripts/tmux/system-load
Due: alejandra, statix

chore(flake): bump locked inputs and waza to 0.37.0
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

Fix repo-status worktree detection
  bin/repo-status
Due: none

fix(agents): fall back to tty scan when launch command is missing
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
Due: none
