Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

feat(tmux): enable pane border indicators
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

Route skill release readiness through pre-commit
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/SKILL.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

chore(skills): resolve PR conflicts (#180)
  config/nvim/nvim/init.lua
  config/tmux-a2a-postman/postman.md
  config/vale/.vale.ini
  config/vde/layout.yml
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/clipboard-strategy.md
  docs/deny-bash-design.md
  docs/repo-ai-operating-contract.md
  flake.lock
  flake.nix
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/claude-statusline.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
  nix/home-manager/agents/shared/denied-bash-commands.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/lazygit.nix
  nix/home-manager/modules/pnpm.nix
  nix/home-manager/modules/tmux.nix
  nix/home-manager/modules/vscode.nix
  nix/nix-darwin/default.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/agent-harness-engineering/references/workspace-vde-layout-internals.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/durable-task-tracking/SKILL.md
  skills/durable-task-tracking/references/task-artifact-method.md
  skills/english-writing-quality/SKILL.md
  skills/english-writing-quality/references/vale-and-harper.md
  skills/skill-description-index/references/preserved-guidance.md
  skills/skill-description-index/scripts/agent-skill-description-index.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(translation): document English-to-Japanese workflow (#225)
  docs/english-to-japanese-technical-translation.md
Due: rumdl-check, rumdl-fmt

feat(agents): add Antigravity CLI package (#219)
  nix/home-manager/default.nix
Due: alejandra, statix

ci(skills): move release checks to pre-commit (#180)
  .github/workflows/agent-skills-release.yaml
  .github/workflows/ci.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  skills/classification.yaml
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

ci(release): use generic tag workflow (#180)
  .github/workflows/release.yaml
  docs/agent-skills-release-all.md
  skills/classification.yaml
Due: actionlint, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, zizmor

Run Agent Skills release readiness in CI (#213)
  .github/workflows/release.yaml
  docs/agent-skill-trigger-validation.md
  docs/agent-skills-management.md
  docs/agent-skills-release-all.md
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-release-readiness.sh
  skills/agent-harness-engineering/references/claude-workspace-trust.md
  skills/agent-harness-engineering/references/preserved-guidance.md
  skills/agent-skills-management/SKILL.md
  skills/agent-skills-management/references/waza-publishing.md
  skills/classification.yaml
  skills/dbt-local/references/preserved-guidance.md
  skills/drawio-local/references/preserved-guidance.md
  skills/restricted-bigquery-dbt-environment/references/preserved-guidance.md
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

chore(flake): update locked inputs
  flake.lock
Due: none

fix(tmux): simplify pane border settings
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

docs(agents): evaluate missing-tools workflow (#220)
  docs/missing-tools-workflow-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(agents): evaluate external claude guidance (#218)
  docs/external-claude-guidance-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(agents): evaluate Codex guardian policy template (#224)
  docs/codex-guardian-policy-template-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(agents): evaluate microsandbox managed-agent CI (#223)
  docs/microsandbox-nix-msb-managed-agents-evaluation.md
Due: rumdl-check, rumdl-fmt

fix(agents): restore subagent model metadata (#221)
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/metadata.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

perf(zsh): tune startup cache and repo status (#199)
  bin/repo-status
  config/zsh/completion.zsh
Due: none

feat(nix): add nh switch evaluation apps (#200)
  README.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): design command approval settings (#201)
  docs/agent-command-approval-design.md
  docs/agent-config-philosophy.md
Due: rumdl-check, rumdl-fmt

docs(agents): clarify Claude bypass permissions (#201)
  docs/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

docs(agents): align deny bash bypass semantics (#201)
  docs/deny-bash-design.md
Due: rumdl-check, rumdl-fmt

test(agents): validate Codex deny inert text (#203)
  docs/agent-hooks-architecture.md
  nix/flake-parts/modules/pre-commit.nix
  tests/codex-deny-inert-text.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): ignore inert heredoc bodies in deny hook (#203)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  tests/codex-deny-inert-text.sh
Due: none

fix(agents): narrow heredoc deny bypass (#203)
  docs/deny-bash-design.md
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  tests/codex-deny-inert-text.sh
Due: rumdl-check, rumdl-fmt

Add Antigravity CLI to managed agent tools (#227)
  nix/home-manager/default.nix
Due: alejandra, statix

feat(skills): add English-to-Japanese translation workflow (#225)
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/agents/openai.yaml
  skills/english-to-japanese-technical-translation/references/workflow.md
Due: rumdl-check, rumdl-fmt

fix(skills): prepare translation workflow for release (#225)
  docs/english-to-japanese-technical-translation.md
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/references/workflow.md
Due: rumdl-check, rumdl-fmt

fix(skills): resolve translation workflow review findings (#225)
  docs/english-to-japanese-technical-translation.md
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/agents/openai.yaml
  skills/english-to-japanese-technical-translation/references/workflow.md
Due: rumdl-check, rumdl-fmt

feat(skills): add missing-tools fallback workflow (#220)
  docs/missing-tools-workflow-evaluation.md
  skills/classification.yaml
  skills/missing-tools/SKILL.md
  skills/programming/SKILL.md
  skills/programming/references/missing-tools.md
  skills/programming/references/nix-package-workflow.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

chore(deps): update flake inputs
  flake.lock
Due: none

fix(skills): remove provider-specific translation metadata (#225)
  skills/english-to-japanese-technical-translation/agents/openai.yaml
Due: none

feat(nix): add markdown remote viewer profile package
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

feat(agents): disable codex fast mode
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): extract codex helper scripts
  docs/agent-hooks-architecture.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/codex-generate-config.py
  nix/home-manager/agents/scripts/codex-generate-config.sh
  nix/home-manager/agents/scripts/codex-pretooluse-observe-write.sh
  nix/home-manager/agents/scripts/codex-storage-pressure-relief.py
  nix/home-manager/agents/scripts/codex-wal-checkpoint.sh
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

refactor(agents): prune default codex feature flags
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(agents): allow codex apps default
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Document English-to-Japanese technical translation workflow (#226)
  docs/english-to-japanese-technical-translation.md
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-to-japanese-technical-translation/references/workflow.md
Due: rumdl-check, rumdl-fmt

Evaluate missing-tools command fallback workflow (#228)
  docs/missing-tools-workflow-evaluation.md
  skills/classification.yaml
  skills/missing-tools/SKILL.md
  skills/programming/SKILL.md
  skills/programming/references/missing-tools.md
  skills/programming/references/nix-package-workflow.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

docs(agents): adopt scoped external guidance (#218)
  docs/external-claude-guidance-evaluation.md
  docs/missing-tools-workflow-evaluation.md
  skills/classification.yaml
  skills/missing-tools/SKILL.md
  skills/programming/SKILL.md
  skills/programming/references/missing-tools.md
  skills/programming/references/nix-package-workflow.md
  skills/programming/references/tdd-tidy-first.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
