Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

fix(agents): correct apps removal evidence citation (guardian round 1)
  skills/dotfiles/references/codex-optimization-tracking.md
Due: rumdl-check, rumdl-fmt

docs(skills): broaden dev-platform-workflow trigger wording (#386) (#387)
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/tasks/negative-trigger-2.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-2.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-3.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-4.yaml
Due: rumdl-check, rumdl-fmt

docs(skills): consolidate scattered git/GitHub mechanics into dev-platform-workflow (#389)
  skills/dev-platform-workflow/references/github-workflow.md
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development.md
  skills/subagent-review/references/reviewer-historian.md
  skills/subagent-review/references/reviewer-qa.md
Due: rumdl-check, rumdl-fmt

docs(subagent-review): relax blind-projection contract to allow independent reviewer lookups (#392)
  skills/dotfiles/references/review-output-contract.md
  skills/subagent-review/references/review-topology.md
  skills/subagent-review/references/reviewer-historian.md
Due: rumdl-check, rumdl-fmt

docs(agents): track Codex 0.154.0 and Claude Code 2.1.277 after flake update (#394) (#395)
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agents): drop redundant CLAUDE_CODE_ENABLE_TELEMETRY and SUBPROCESS_ENV_SCRUB defaults (#396)
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): restore CLAUDE_CODE_SUBPROCESS_ENV_SCRUB=0 guard (guardian H-601)
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/claude-optimization-tracking.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): keep SUBPROCESS_ENV_SCRUB unset, document conditional scrub divergence (guardian H-601 revised)
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/claude-optimization-tracking.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): correct CLAUDE_CODE env var names/trigger values and Codex apps config (#396) (#397)
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(skills): add Cloudflare skill sources
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): stop emitting unsupported hook allow decisions
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

chore(skills): add Cloudflare skill sources (#398)
  flake.lock
  flake.nix
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update lockfile inputs
  flake.lock
Due: none

ci(actions): stabilize Nix cache key (#399)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(external-references): clarify direct reference reads (#381)
  skills/external-references/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(agents): align hook philosophy with current surface (#377)
  skills/dotfiles/references/agent-config-philosophy.md
Due: rumdl-check, rumdl-fmt

docs(review): document worktree isolation (#379)
  skills/dev-platform-workflow/references/github-workflow.md
Due: rumdl-check, rumdl-fmt

docs(agents): correct parity reference section (#377)
  skills/dotfiles/references/agent-config-philosophy.md
Due: rumdl-check, rumdl-fmt

docs(approver): define backlog triage (#359)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(agents): reset heredoc body quote state (#353)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-deny-bash.sh
Due: none

fix(agents): cover multi-heredoc quote state (#353)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-deny-bash.sh
Due: none

fix(approver): use exact status paths (#359)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(agents): reset heredoc body quote state (#405)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-deny-bash.sh
Due: none

ci: Nix キャッシュキーを安定化して実行時間を短縮 (#400)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(agents): align hook philosophy with current surface (#402)
  skills/dotfiles/references/agent-config-philosophy.md
Due: rumdl-check, rumdl-fmt

docs(external-references): clarify direct reference reads (#401)
  skills/external-references/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agents): cover secret-keyword path gaps (#374)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

docs(review): review worktree isolation (#403)
  skills/dev-platform-workflow/references/github-workflow.md
Due: rumdl-check, rumdl-fmt

docs(approver): define backlog triage (#404)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(agents): harden secret path matching (#374)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

fix(agents): cover secret-keyword path gaps (#407)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

fix(agent): deny git secret path reads
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  scripts/validation/validate-pretooluse-deny-bash.sh
Due: alejandra, statix

fix(agent): deny git secret path reads (#406)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  scripts/validation/validate-pretooluse-deny-bash.sh
Due: alejandra, statix

fix(agents): normalize quoted secret keywords (#375)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

test(flake): add configuration checks (#376)
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

fix(agents): harden shell-word secret normalization (#375)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

fix(agents): handle escaped quote continuations (#375)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

fix(agents): normalize quoted secret keywords (#375) (#408)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  scripts/validation/validate-pretooluse-secret-keywords.sh
Due: none

test(flake): add configuration checks (#409)
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

test(dev-platform-workflow): improve trigger eval hygiene (#390)
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/tasks/positive-trigger-1.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-2.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-3.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-4.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-5.yaml
  skills/dev-platform-workflow/scripts/validate-description.sh
Due: rumdl-check, rumdl-fmt
