Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

refactor(nix): deduplicate settings, reduce platform conditionals, inline ai-tools sub-flake
  flake.lock
  flake.nix
  nix/ai-tools/flake.lock
  nix/ai-tools/flake.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/default.nix
  nix/flake-parts/ubuntu.nix
  nix/home/agent-skills.nix
  nix/home/codex.nix
  nix/home/default.nix
  nix/home/vscode.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(vim): use built-in editorconfig, remove redundant settings
  config/vim/dpp/lazy.toml
  config/vim/rc/details.vim
  config/vim/vimrc
  flake.nix
Due: alejandra, statix

chore(vim): remove unused colorscheme switcher
  config/vim/autoload/my_colorscheme.vim
  config/vim/rc/details.vim
Due: none

chore: remove dead nix-ai-tools-update Makefile target
  Makefile
Due: none

WIP
  flake.lock
Due: none

fix(nix): allow unfree for nixpkgs-unstable, use localSystem to suppress deprecation warning
  flake.lock
  nix/flake-parts/ubuntu.nix
  nix/home/vscode.nix
Due: alejandra, statix

fix(nix): move devcontainer to pkgs, fix npm cleanup for scoped packages
  nix/home/default.nix
Due: alejandra, statix

fix(nix): move VS Code from Nix to Homebrew cask for macOS app visibility
  nix/flake-parts/darwin.nix
  nix/home/default.nix
  nix/home/vscode.nix
Due: alejandra, statix

WIP
  config/wezterm/wezterm.lua
Due: none

WIP
  config/agents/scripts/pretooluse-write-deny.sh
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  config/agents/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(postman): remove PING settings from postman.toml
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  uv.lock
Due: none

Fix Vim clipboard on macOS with Nix-built binary
  config/vim/vimrc
Due: none

Restore neovim-nightly-overlay and vim-overlay
  config/vim/vimrc
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
Due: alejandra, statix

Remove neovim-nightly-overlay and vim-overlay
  flake.lock
  flake.nix
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
  nix/home/default.nix
Due: alejandra, statix

Nixify rumdl, efm-langserver, lazygit, tmux configs
  config/efm-langserver/config.yaml
  config/lazygit/config.yml
  config/tmux/tmux.conf
  nix/home/default.nix
  nix/home/efm-langserver.nix
  nix/home/lazygit.nix
  nix/home/rumdl.nix
  nix/home/tmux.nix
Due: alejandra, statix

Remove pkgs.udev-gothic from Ubuntu config
  nix/flake-parts/ubuntu.nix
Due: alejandra, statix

Inline linter configs, remove tpm, replace prefix-I with config reload
  .rumdl.toml
  .stylua.toml
  CONTRIBUTING.md
  README.md
  config/claude/settings.json
  config/tmux/plugins/.gitignore
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/treefmt.nix
  nix/home/default.nix
  nix/home/lazygit.nix
  nix/home/rumdl.nix
  nix/home/tmux.nix
  statix.toml
Due: alejandra, rumdl-check, rumdl-fmt, statix

Move manager-digest subagent and script to i9wa4/internal
  config/agents/scripts/manager-digest.sh
  config/agents/subagents/manager-digest.md
Due: rumdl-check, rumdl-fmt

WIP
  config/vim/autoload/my_highlight.vim
Due: none

fix(postman): consolidate templates to defaults; minimize notification payload
  config/tmux-a2a-postman/postman.toml
Due: none

fix(postman): update rules_template to reference boilerplate/ paths
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

feat: add draft_template and disable watchdog in postman config
  config/tmux-a2a-postman/postman.toml
Due: none

Revert "feat: add draft_template and disable watchdog in postman config"
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  config/agents/scripts/claude-precompact-save.sh
  config/agents/scripts/claude-pretooluse-bash-deny.sh
  config/agents/scripts/claude-pretooluse-write-deny.sh
  config/agents/scripts/claude-sessionstart-reload.sh
  config/agents/scripts/claude-statusline.sh
  config/agents/scripts/process-transcript.sh
  config/claude/settings.json
Due: none

WIP
  config/claude/settings.json
Due: none

WIP
  config/agents/AGENTS.md
  config/agents/skills/atlassian/SKILL.md
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/agents/skills/daily-report/SKILL.md
  config/agents/skills/github/SKILL.md
  config/agents/skills/skill-creator-local/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
  config/claude/settings.json
  config/codex/config.common.toml
  flake.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/ubuntu.nix
  nix/home-manager/agent-skills.nix
  nix/home-manager/claude-code.nix
  nix/home-manager/codex-cli.nix
  nix/home-manager/default.nix
  nix/home-manager/editorconfig.nix
  nix/home-manager/efm-langserver.nix
  nix/home-manager/git.nix
  nix/home-manager/lazygit.nix
  nix/home-manager/mcp-servers.nix
  nix/home-manager/tmux.nix
  nix/home-manager/vscode.nix
  nix/home/codex.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  flake.lock
  nix/home-manager/agent-skills.nix
  nix/home-manager/claude-code.nix
  nix/home-manager/codex-cli.nix
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  config/agents/scripts/claude-precompact-save.sh
  config/agents/scripts/claude-pretooluse-bash-deny.sh
  config/agents/scripts/claude-pretooluse-write-deny.sh
  config/agents/scripts/claude-sessionstart-reload.sh
  config/agents/scripts/claude-statusline.sh
  nix/home-manager/agent-skills.nix
  nix/home-manager/claude-code.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
