Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

Fix Ctrl-G zoxide widget
  config/zsh/zoxide.zsh
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

chore(worktree): remove cleanup wrapper
  bin/worktree-remove
  config/zeno/config.yaml
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(zoxide): remove hardcoded fzf height
  config/zsh/zoxide.zsh
Due: none

fix(worktree): track PR source branches
  bin/pr-worktree-create
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(worktree): add merged cleanup prompt
  bin/worktree-cleanup-merged
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(context7): install upstream skills
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/skills/find-docs/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(worktree): show cleanup inventory
  bin/worktree-cleanup-merged
  docs/worktree-development.md
Due: rumdl-check, rumdl-fmt

style(worktree): improve cleanup inventory table
  bin/worktree-cleanup-merged
Due: none

chore(flake): update flake.lock
  flake.lock
Due: none

fix(context7): install only cli skill
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

docs(agents): use generated local skill catalog
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/agent-skill-management.md
  docs/deny-bash-design.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
Due: rumdl-check, rumdl-fmt

docs(postman): trim runtime node contract
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(worktree): verify PR review upstreams
  bin/pr-worktree-create
  bin/worktree-cleanup-merged
Due: none

config(postman): select skill catalog entries
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

config(postman): limit claude skills to postman
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

config(postman): include all dotfiles skills
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

config(postman): slim common template
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/skills/bash/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

flake: update tmux-a2a-postman
  flake.lock
Due: none

fix(worktree): handle stale PR review branches safely
  bin/pr-worktree-create
  docs/worktree-development.md
  nix/home-manager/agents/skills/using-git-worktrees/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(postman): update ui node rendering
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

config(postman): prefer ui node class statement
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(skills): add agent skill management skill
  docs/agent-skill-management.md
  skills/agent-skill-management/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(skills): consolidate agent harness guidance
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/changelog-tracking.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

fix(skills): avoid skill publish tag collisions
  .github/workflows/skill-publish.yaml
  skills/agent-skill-management/SKILL.md
Due: actionlint, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, zizmor

chore(ci): remove ai runtime poc workflow
  .github/scripts/ai-runtime-poc-smoke.sh
  .github/workflows/ai-runtime-poc.yml
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat(skills): add private source injection
  config/tmux-a2a-postman/postman.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/github/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update dependencies
  flake.lock
Due: none

feat(skills): add cross-tool skill index
  nix/home-manager/agents/README.md
  skills/skill-index/SKILL.md
  skills/skill-index/scripts/agent-skill-index.sh
Due: rumdl-check, rumdl-fmt

docs: update storage hygiene guidance
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

chore(lock): update dependencies
  flake.lock
Due: none

feat: make swap setup safely target 8g
  bin/ubuntu/setup-swap.sh
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

fix: guard swap setup invocation and duplicates
  bin/ubuntu/setup-swap.sh
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

fix(flake): align home-manager with 25.11
  flake.lock
  flake.nix
Due: alejandra, statix

chore(flake): update agent input locks
  flake.lock
Due: none

chore(lock): update flake dependencies
  flake.lock
Due: none

docs(storage): add incident runbooks
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

docs(storage): fix mount check commands
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt
