Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(agents): fix removed hook behavior claims (#361)
  config/tmux-a2a-postman/postman.md
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

chore(agents): remove unneeded hook scripts (#363)
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  nix/home-manager/agents/scripts/codex-pretooluse-observe-write.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): remove remaining SUBDIR references (#364)
  config/tmux-a2a-postman/postman.md
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/workspace-vde-layout-internals.md
Due: rumdl-check, rumdl-fmt

fix(agents): deny secret-keyword arguments for cat/head/tail/wc/sort/uniq/cut (#365)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

docs(agents): document that agents must not run nix run '.#switch' themselves (#369)
  skills/dotfiles/references/nix-operations.md
Due: rumdl-check, rumdl-fmt

docs(agents): remove remaining SUBDIR references (#366)
  config/tmux-a2a-postman/postman.md
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/workspace-vde-layout-internals.md
Due: rumdl-check, rumdl-fmt

docs(agents): document that agents must not run nix run '.#switch' themselves (#370)
  skills/dotfiles/references/nix-operations.md
Due: rumdl-check, rumdl-fmt

fix(agents): anchor secret-keyword check to whole words/path segments (M-001/R1)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

fix(agents): remove Claude's Read/Edit secret-path permissions.deny (protection-loss tradeoff) (#362)
  nix/home-manager/agents/claude/default.nix
Due: alejandra, statix

refactor(agents): consolidate subagent review prompts (#371)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/metadata.nix
  scripts/nix/agent-render-native.py
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/plan-design/references/plan-authoring.md
  skills/subagent-review/references/review-topology.md
  skills/subagent-review/references/reviewer-architecture.md
  skills/subagent-review/references/reviewer-code.md
  skills/subagent-review/references/reviewer-data.md
  skills/subagent-review/references/reviewer-historian.md
  skills/subagent-review/references/reviewer-qa.md
  skills/subagent-review/references/reviewer-security.md
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

fix(agents): deny secret-keyword arguments for cat/head/tail/wc/sort/uniq/cut (#367)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

fix(agents): remove Claude's Read/Edit secret-path permissions.deny (protection-loss tradeoff) (#368)
  nix/home-manager/agents/claude/default.nix
Due: alejandra, statix

refactor(agents): consolidate subagent review prompts (#371) (#372)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/metadata.nix
  scripts/nix/agent-render-native.py
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/plan-design/references/plan-authoring.md
  skills/subagent-review/references/review-topology.md
  skills/subagent-review/references/reviewer-architecture.md
  skills/subagent-review/references/reviewer-code.md
  skills/subagent-review/references/reviewer-data.md
  skills/subagent-review/references/reviewer-historian.md
  skills/subagent-review/references/reviewer-qa.md
  skills/subagent-review/references/reviewer-security.md
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

chore(flake): update locked Nix inputs
  flake.lock
Due: none

fix(claude): restore AskUserQuestion deny
  nix/home-manager/agents/claude/default.nix
Due: alejandra, statix

chore(flake): bump tmux-a2a-postman and lockfile inputs
  flake.lock
  flake.nix
Due: alejandra, statix

chore(flake): update locked inputs
  flake.lock
Due: none

fix(lazygit): use supported Codex model for AI commit (#382)
  scripts/lazygit/ai-commit.sh
Due: none

refactor(lazygit): rename Codex model variable (#382)
  scripts/lazygit/ai-commit.sh
Due: none

fix(lazygit): use supported Codex model for AI commit (#382) (#383)
  scripts/lazygit/ai-commit.sh
Due: none

chore(flake): update Nix flake inputs
  flake.lock
Due: none

docs(technical-writing): add lexical AI-tendency check to japanese-writing-style.md (#384)
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): fix cross-reference and word-form issues in AI-tendency section
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): add lexical AI-tendency check to japanese-writing-style.md (#385)
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(skills): broaden dev-platform-workflow trigger wording (#386)
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/tasks/positive-trigger-2.yaml
Due: rumdl-check, rumdl-fmt

fix(skills): close guardian review gaps in dev-platform-workflow trigger wording (#386)
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/tasks/negative-trigger-2.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-3.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-4.yaml
Due: rumdl-check, rumdl-fmt

fix(skills): stop enumerating unverified refactor verb in dev-platform-workflow (#386)
  skills/dev-platform-workflow/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): consolidate scattered git/GitHub mechanics into dev-platform-workflow (#388)
  skills/dev-platform-workflow/references/github-workflow.md
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development.md
  skills/subagent-review/references/reviewer-historian.md
  skills/subagent-review/references/reviewer-qa.md
Due: rumdl-check, rumdl-fmt

docs(skills): scope dev-platform-workflow trigger to this repository's code (#386)
  skills/dev-platform-workflow/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): use root-relative paths and restore inline reviewer lookup commands
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development.md
  skills/subagent-review/references/reviewer-historian.md
  skills/subagent-review/references/reviewer-qa.md
Due: rumdl-check, rumdl-fmt

docs(subagent-review): relax blind-projection contract to allow independent reviewer lookups (#391)
  skills/dotfiles/references/review-output-contract.md
  skills/subagent-review/references/review-topology.md
  skills/subagent-review/references/reviewer-historian.md
Due: rumdl-check, rumdl-fmt

docs(subagent-review): bound independent lookup to candidate-agnostic commands, tag evidence origin, mark retrieved content untrusted
  skills/dotfiles/references/review-output-contract.md
  skills/subagent-review/references/review-topology.md
  skills/subagent-review/references/reviewer-historian.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lockfile inputs
  flake.lock
Due: none

docs(agents): track Codex 0.154.0 and Claude Code 2.1.277 after flake update (#394)
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-optimization-tracking.md
Due: rumdl-check, rumdl-fmt

fix(agents): correct release counts and stale cross-reference (guardian round 1)
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agents): correct CLAUDE_CODE env var names/trigger values (#396)
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): use "the current repository" in dev-platform-workflow trigger wording (#386)
  skills/dev-platform-workflow/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agents): drop redundant Codex apps defaults (#396)
  nix/home-manager/agents/codex/default.nix
  skills/dotfiles/references/codex-optimization-tracking.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
