Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

docs(agents): record Codex hook enforcement probe (#331)
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

docs(agents): clarify Codex probe worktree (#331)
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

style(docs): format A2A Postman boundary tables (#300)
  skills/dotfiles/references/a2a-postman-integration-boundary.md
Due: rumdl-check, rumdl-fmt

fix(logbook): harden Gist delivery path scanner (#332)
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
Due: none

fix(logbook): close Gist path-boundary gaps (#332)
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
Due: none

docs(harness): reconcile operating-model drift with current runtime config (#333)
  .betterleaksignore
  README.md
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked inputs
  flake.lock
Due: none

feat(skills): install full external reference skill inventory (#328) (#336)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(logbook): harden Gist delivery path scanner (#332) (#339)
  skills/logbook/scripts/validate-gist-delivery-contract.sh
  skills/logbook/scripts/verify-gist-delivery
Due: none

docs(harness): define A2A Postman boundary (#300) (#338)
  skills/dotfiles/references/a2a-postman-integration-boundary.md
  skills/dotfiles/references/harness-guidance.md
Due: rumdl-check, rumdl-fmt

docs(harness): document Codex hook evidence boundary (#331) (#337)
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

docs(skills): centralize logbook artifact-lifecycle convention
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/logbook/references/local-markdown.md
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: rumdl-check, rumdl-fmt

feat(skills): add googleworkspace-cli reference pack, drop obsidian (#341)
  flake.lock
  flake.nix
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(skills): centralize worktree-workflow guidance in dotfiles hub
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

fix(harness): make grep/rg auto-allow hook durable via Nix (#342)
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/scripts/claude-pretooluse-allow-safe-grep.sh
Due: alejandra, statix

feat(skills): add googleworkspace-cli reference pack, drop obsidian (#343)
  flake.lock
  flake.nix
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-1.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(skills): rename collaboration to dev-platform-workflow
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/workflow.md
  skills/data-platform/SKILL.md
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/eval.yaml
  skills/dev-platform-workflow/evals/tasks/negative-trigger-1.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-1.yaml
  skills/dev-platform-workflow/references/atlassian-api-token.md
  skills/dev-platform-workflow/references/atlassian.md
  skills/dev-platform-workflow/references/github-workflow.md
  skills/diagramming/SKILL.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/SKILL.md
  skills/technical-research/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): centralize logbook and worktree-workflow guidance (#344)
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/dotfiles/references/workspace-guidance.md
  skills/logbook/references/local-markdown.md
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: rumdl-check, rumdl-fmt

feat(agents): default-deny Bash command model with allowlist
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  nix/home-manager/agents/shared/bash-commands-denied.nix
  nix/home-manager/modules/zsh.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(postman): add approver ownership of command-approval-mechanism changes
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

feat(agents): default-deny Bash command model with allowlist (#349)
  config/tmux-a2a-postman/postman.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  nix/home-manager/agents/shared/bash-commands-denied.nix
  nix/home-manager/modules/zsh.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(postman): add approver ownership of command-approval-mechanism changes (#351)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(skills): rename collaboration to dev-platform-workflow (#348)
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/workflow.md
  skills/data-platform/SKILL.md
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/eval.yaml
  skills/dev-platform-workflow/evals/tasks/negative-trigger-1.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-1.yaml
  skills/dev-platform-workflow/references/atlassian-api-token.md
  skills/dev-platform-workflow/references/atlassian.md
  skills/dev-platform-workflow/references/github-workflow.md
  skills/diagramming/SKILL.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/SKILL.md
  skills/technical-research/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked dependencies
  flake.lock
Due: none

fix(agents): make fragment_has_risky_construct quote-aware
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

docs(agents): document the current Bash allow/deny mechanism
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): restore section 5-7 heading levels in approval design doc
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): make fragment_has_risky_construct quote-aware (#354)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): mask heredoc body content before Bash risky-construct scan (#355)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): mask heredoc bodies only when the delimiter is quoted
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  skills/dotfiles/references/agent-command-approval-design.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): always track heredoc extent, gate only masking on quoting
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): refuse to mask multi-operator heredoc lines, track extent
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): collapse to a single heredoc-operator recognizer
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): read all three fields when popping the fallback queue
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
Due: none

fix(agents): mask heredoc body content before Bash risky-construct scan (#356)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  nix/home-manager/agents/shared/bash-commands-allowed.nix
  skills/dotfiles/references/agent-command-approval-design.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): split top-level bare newlines as fragment separators
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

fix(agents): split top-level bare newlines as fragment separators (#360)
  nix/home-manager/agents/scripts/pretooluse-deny-bash.sh
  skills/dotfiles/references/agent-command-approval-design.md
Due: rumdl-check, rumdl-fmt

chore(agents): remove unneeded hook scripts (#361)
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  nix/home-manager/agents/scripts/codex-pretooluse-observe-write.sh
  nix/home-manager/agents/scripts/common-userpromptsubmit.sh
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: alejandra, rumdl-check, rumdl-fmt, statix
