Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pinact, zizmor, black, isort, flake8, sqlfmt

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: mise exec -- gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: black
        name: black
        entry: mise exec -- uv run --no-sync black
        language: system
        types: [python]

      - id: isort
        name: isort (python)
        entry: mise exec -- uv run --no-sync isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: mise exec -- uv run --no-sync flake8
        language: system
        types: [python]

      - id: sqlfmt
        name: sqlfmt
        entry: mise exec -- uv run --no-sync sqlfmt
        language: system
        types: [sql]

WIP
  dot.config/claude/commands/learn-jupyter-notebok.md
Due: none

WIP
  dot.vscode/settings.json
  pyproject.toml
  uv.lock
Due: none

WIP
  dot.vscode/settings.json
Due: none

feat: reuse existing remote branch in issue-worktree-create
  bin/issue-worktree-create
Due: none

WIP
  uv.lock
Due: none

WIP
  dot.config/alacritty/theme-change.sh
Due: none

WIP
  .pre-commit-config.yaml
  mise.toml
Due: none

WIP
  dot.config/vim/dpp/lazy.toml
Due: none

WIP
  dot.config/mise/config.toml
Due: none

WIP
  Makefile
  bin/databricks-libs.py
  dot.config/claude/settings.json
  dot.config/rumdl/rumdl.toml
Due: black, isort, flake8

skills sounds goooood!!
  dot.config/claude/.gitignore
  dot.config/claude/skills/draw-io/SKILL.md
  dot.config/claude/skills/draw-io/references/aws-icons.md
  dot.config/claude/skills/draw-io/references/layout-guidelines.md
  dot.config/claude/skills/draw-io/scripts/convert-drawio-to-png.sh
  dot.config/claude/skills/draw-io/scripts/find_aws_icon.py
Due: black, isort, flake8

chmod
  bin/databricks-libs.py
Due: black, isort, flake8

WIP
  etc/ghq-list-essential.txt
Due: none

WIP
  .github/workflows/pre-commit.yaml
  dot.config/mise/config.toml
Due: actionlint, pinact, zizmor

WIP
  dot.config/vim/vimrc
  dot.editorconfig
Due: none

WIP
  dot.editorconfig
Due: none

add skills
  dot.config/claude/skills/draw-io/SKILL.md
  dot.config/claude/skills/draw-io/scripts/find_aws_icon.py
Due: black, isort, flake8

WIP
  bin/cc-current-usage
Due: none

WIP
  dot.config/codex/config.common.toml
Due: none
