Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  config/agents/skills/claude-workspace-trust-fix/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

WIP
  flake.lock
Due: none

WIP
  agents/skills/skill-creator-local/SKILL.md
  agents/skills/skill-creator-local/references/output-patterns.md
  agents/skills/skill-creator-local/references/patterns.md
  agents/skills/skill-creator-local/references/troubleshooting.md
  agents/skills/skill-creator-local/references/workflows.md
  agents/skills/skill-creator-local/scripts/init_skill.py
  agents/skills/skill-creator-local/scripts/package_skill.py
  agents/skills/skill-creator-local/scripts/quick_validate.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  flake.lock
  flake.nix
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, statix

WIP
  agents/rules/git-github.md
  flake.lock
  flake.nix
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  agents/rules/git-github.md
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  agents/skills/draw-io/SKILL.md
  flake.lock
  flake.nix
  nix/home-manager/modules/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/vde/layout.yml
Due: none

WIP
  config/vim/vimrc
Due: none

WIP
  agents/CLAUDE.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/AGENTS.md
  agents/scripts/claude-pretooluse-write-deny.sh
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/mermaid/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/databricks-local/SKILL.md
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: rumdl-check, rumdl-fmt

WIP
  agents/skills/mermaid/SKILL.md
  agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  README.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  agents/skills/mermaid/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  nix/flake-parts/modules/ubuntu.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

WIP
  config/zeno/config.yaml
Due: none

WIP
  agents/scripts/claude-statusline.sh
Due: none

WIP
  config/vim/autoload/utils.vim
  config/vim/dpp/vim.toml
  config/vim/vimrc
Due: none

WIP
  nix/flake-parts/default.nix
Due: alejandra, statix

WIP
  agents/skills/claude-config-optimizer/SKILL.md
  agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat: move session-reflect skill to internal repo
  agents/skills/session-reflect/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/vim/dpp/ddc.toml
Due: none

WIP
  config/vde/layout.yml
  config/vim/dpp/ddc.toml
Due: none

WIP
  nix/home-manager/default.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
