Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  config/vde/layout.yml
Due: none

fix(postman): clear inbox subdirectories on startup
  bin/postman.py
Due: ruff-check, ruff-format

fix(claude): allow READONLY roles to write to .postman/
  config/claude/scripts/deny-edit-write.sh
Due: none

WIP
  bin/postman.toml
  config/claude/scripts/ccstatusline.sh
Due: none

feat(postman): add digest_exclude_self option for observer
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

WIP
  config/claude/settings.json
  config/vde/layout.yml
Due: none

fix(postman): restrict pane discovery to current tmux session
  bin/postman.py
Due: ruff-check, ruff-format

docs(postman): improve Response section clarity in templates
  bin/postman.toml
Due: none

feat(postman): add PID file for mutual exclusion
  bin/postman.py
Due: ruff-check, ruff-format

WIP
  flake.lock
Due: none

WIP
  nix/common/home.nix
Due: alejandra, statix

WIP
  nix/common/darwin.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

WIP
  config/claude/skills/orchestrator/SKILL.md
  nix/hosts/macos-p/casks.nix
  nix/hosts/macos-w/casks.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  bin/postman.py
  bin/system-load
Due: ruff-check, ruff-format

WIP
  CONTRIBUTING.md
  bin/nix-custom-diff.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  CONTRIBUTING.md
Due: rumdl-check, rumdl-fmt

WIP
  Makefile
  flake.lock
  flake.nix
  nix/common/home.nix
Due: alejandra, statix

WIP
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

WIP
  bin/postman.py
  bin/postman.toml
  config/claude/skills/daily-report/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

WIP
  config/claude/.gitignore
  config/codex/prompts
Due: none

WIP
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/unified-deny.sh
  config/claude/settings.json
Due: none

WIP
  config/claude/scripts/deny.sh
  config/claude/scripts/unified-deny.sh
  config/claude/settings.json
Due: none

WIP
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/daily-report/scripts/get-activities.sh
Due: rumdl-check, rumdl-fmt

WIP
  README.md
Due: rumdl-check, rumdl-fmt

feat(postman): A2A Protocol Compliance
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  config/claude/scripts/deny.sh
  config/claude/settings.json
  config/claude/skills/orchestrator/SKILL.md
  config/vde/layout.yml
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

feat(postman): Add action guidance to observer digest
  bin/postman.py
Due: ruff-check, ruff-format

feat(postman): Add is_observer flag and digest loop prevention
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): Add a2a_version to postman section
  bin/postman.toml
Due: none

fix(postman): Remove talks_to from observer config
  bin/postman.toml
Due: none
