Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  config/claude/settings.json
Due: none

feat(postman): implement prefix-based role matching
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  config/vde/layout.yml
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

fix(hooks): force CLAUDE.md content in SessionStart hook
  config/claude/scripts/reload-claude-md.sh
Due: none

WIP
  config/codex/config.common.toml
  config/vde/layout.yml
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  config/claude/scripts/deny-edit-write.sh
  config/claude/scripts/post-tool-use.sh
  config/claude/settings.json
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

feat(postman): A2A message format support and validation bypass
  bin/postman.py
  bin/postman.toml
  config/ccstatusline/settings.json
  config/claude/scripts/deny-edit-write.sh
Due: ruff-check, ruff-format

docs: update Multi-Agent Mode instructions
  bin/postman.toml
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

docs(CLAUDE.md): add polling note and A2A_PEER empty behavior
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

fix(postman): add peers to queued notifications and unify templates
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

docs(postman.toml): add $A2A_PEER usage note to templates
  bin/postman.toml
Due: none

fix: unify status-pane path to .i9wa4/tmp/
  bin/postman.toml
  config/ccstatusline/settings.json
Due: none

fix(postman): add /orchestrator skill hint and initialize digested files
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

feat(postman): change observer digest from time-based to count-based
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): add safe_format to handle bash variables in templates
  bin/postman.py
Due: ruff-check, ruff-format

feat(postman): unify notification format using templates
  bin/postman.py
Due: ruff-check, ruff-format

feat: add model field to agents and enhance orchestrator skill description
  config/claude/agents/researcher-tech.md
  config/claude/agents/reviewer-architecture.md
  config/claude/agents/reviewer-code.md
  config/claude/agents/reviewer-data.md
  config/claude/agents/reviewer-historian.md
  config/claude/agents/reviewer-qa.md
  config/claude/agents/reviewer-security.md
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  bin/postman.toml
Due: none

fix(orchestrator): restrict skill to orchestrator role only
  config/claude/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor: integrate commands into skills
  config/claude/CLAUDE.md
  config/claude/skills/restricted-bigquery-dbt-environment/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(postman): create response draft file on message delivery
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): skip draft file creation for observer recipients
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

refactor: migrate postman paths from .i9wa4/ to .postman/
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  nix/git.nix
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

feat(postman): add Python logging with ISO 8601 format and file output
  bin/postman.py
  bin/postman.toml
  config/claude/CLAUDE.md
  config/claude/skills/orchestrator/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

refactor(postman): simplify notification templates
  bin/postman.toml
Due: none

refactor(postman): unify templates to Markdown format
  bin/postman.toml
Due: none

refactor(postman): restructure config to role-centric format
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

refactor(postman): remove capture and stuck detection features
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

refactor(postman): unify templates with h1 role header and Rules section
  bin/postman.toml
Due: none

feat(postman): add draft subcommand and remove auto-draft generation
  bin/postman.py
  bin/postman.toml
Due: ruff-check, ruff-format

fix(postman): use full tilde path in draft command templates
  bin/postman.toml
Due: none

fix(postman): remove remaining auto-draft call from delivery flow
  bin/postman.py
Due: ruff-check, ruff-format

fix(nix): disable optimise.automatic to prevent syspolicyd CPU issue
  nix/common/darwin.nix
Due: alejandra, statix

refactor(nix): migrate custom packages to nixpkgs with version overlay
  flake.nix
  nix/common/home.nix
  nix/packages/ghalint.nix
  nix/packages/ghatm.nix
  nix/packages/pike.nix
  nix/packages/pinact.nix
  nix/packages/rumdl.nix
  nix/packages/vim-startuptime.nix
Due: alejandra, statix

WIP
  .github/workflows/pre-commit.yaml
  config/claude/scripts/ccstatusline.sh
  config/claude/settings.json
  config/claude/skills/bigquery/SKILL.md
  config/claude/skills/daily-report/SKILL.md
  config/claude/skills/databricks/SKILL.md
  config/claude/skills/dbt/SKILL.md
  config/claude/skills/jupyter-notebook/SKILL.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/skill-creator/SKILL.md
  config/claude/skills/slack/SKILL.md
  config/claude/skills/terraform/SKILL.md
  config/codex/config.common.toml
  flake.lock
  flake.nix
  nix/common/home.nix
  pyproject.toml
  uv.lock
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

WIP
  flake.lock
  flake.nix
Due: alejandra, statix

ci: add pre-commit workflow with Nix
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
