Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

chore(wezterm): reduce font size from 18 to 16
  config/wezterm/wezterm.lua
Due: none

chore: remove refresh script and tmux keybindings
  bin/refresh.py
  nix/home-manager/modules/tmux.nix
Due: alejandra, ruff-check, ruff-format, statix

chore(flake): update dependencies
  flake.lock
Due: none

refactor(postman): rename guardian edge to critic
  config/tmux-a2a-postman/postman.toml
Due: none

chore(flake): update databricks-agent-skills
  flake.lock
Due: none

fix(statusline): display used percentage instead of left
  nix/home-manager/agents/scripts/claude-statusline.sh
Due: none

chore(flake): update tmux-a2a-postman
  flake.lock
Due: none

fix(bin): reuse existing local branch when creating worktree
  bin/issue-worktree-create
  bin/pr-worktree-create
Due: none

docs(subagent-review): enforce mandatory 10-parallel review requirement
  nix/home-manager/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(flake): add flake apps for switch, update, check, apt-upgrade
  Makefile
  nix/flake-parts/default.nix
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

chore: move Makefile to bin/
  bin/Makefile
Due: none

docs: add daily usage section with flake app commands
  .github/README.md
Due: rumdl-check, rumdl-fmt

docs(tmux-a2a-postman): add messaging protocol, daemon alerts, and production safety
  .github/README.md
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: rumdl-check, rumdl-fmt

fix(flake): quote .#name in docs for zsh compatibility
  .github/README.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(darwin): add monitorcontrol cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

refactor(git): move .pre-commit-config.yaml exclusion to .git/info/exclude
  .gitignore
  nix/home-manager/modules/git.nix
Due: alejandra, statix

refactor(git): simplify .git/info/exclude to overwrite instead of append
  nix/home-manager/modules/git.nix
Due: alejandra, statix

feat(bin): add win-copy.sh extracted from Makefile win-copy target
  bin/windows/win-copy.sh
Due: none

refactor(bin): remove Makefile and normalize script extensions
  bin/Makefile
  bin/ubuntu/setup-swap.sh
  bin/windows/win-copy.sh
Due: none

refactor(home-manager): convert config sources from Nix store to symlinks
  nix/home-manager/default.nix
Due: alejandra, statix

fix(agents): use word boundary instead of empty prefix for unanchored regex patterns
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

fix(agents): override hookRegex for the delete-files command
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

docs(readme): add dynamic Shields.io badges
  .github/README.md
Due: rumdl-check, rumdl-fmt

feat(tmux-a2a-postman): M4/M5 — topology fix + role template updates
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/postman.toml
Due: none

chore(flake.lock): update locked flake inputs
  flake.lock
Due: none

docs(codex): update v0.115.0 optimization tracking and notes
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(nix-darwin): add dictation hotkey for globe key double-press
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(codex-cli): add subagent support with auto-generated .toml from subagents/*.md
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

style(agents): align managed skills table columns
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

feat(zsh): enable ignoreAllDups for history
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

feat(zsh): enable NO_FLOW_CONTROL and INTERACTIVE_COMMENTS, add expireDuplicatesFirst
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

refactor(agents): simplify subagent-review skill workflow and update terminology
  nix/home-manager/agents/skills/subagent-review/SKILL.md
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update flake inputs
  flake.lock
Due: none

chore(flake-parts): use unstable packages for rumdl
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
Due: alejandra, statix

refactor(tmux-a2a-postman): route reviews through critic
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/postman.toml
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

style(home-manager): remove trailing blank line in default.nix
  config/tmux-a2a-postman/nodes/critic.toml
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(home-manager): move databricks-cli to stable
  nix/home-manager/default.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
