Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix: route review comments through guardian
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked dependencies
  flake.lock
Due: none

feat(nvim): autoformat markdown files on save
  config/nvim/nvim/init.lua
Due: none

Enable Dock autohide
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(deps): bump waza and flake inputs
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

refactor(skills): subagent-review 6+6=12 model; remove mechanics from create-review-comment
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(nix): install podman per platform
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(nix-darwin): restore dock orientation to bottom
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(subagents): remove explicit model from Claude subagents to inherit parent tier
  nix/home-manager/agents/subagents/metadata.nix
Due: alejandra, statix

nix: set codex subagent default model to gpt-5.4 for service tier validation
  nix/home-manager/agents/subagents/metadata.nix
Due: alejandra, statix

config(agents): lower critic-side reviewer effort, pin Claude model to sonnet
  nix/home-manager/agents/subagents/metadata.nix
Due: alejandra, statix

agents: convert researcher-tech into technical-research skill, remove subagent
  nix/home-manager/agents/subagents/metadata.nix
  skills/subagent-review/SKILL.md
  skills/technical-research/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

config(vde): lower critic pane Codex reasoning effort to medium
  config/vde/layout.yml
Due: none

agents(skills): drop ai-dev-kit, fix databricks-agent-skills input naming
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

ci: add side-by-side experiment with nixbuild/nix-quick-install-action
  .github/workflows/ci-nix-quick-install.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

skills: register technical-research in catalog and trigger matrix
  scripts/validation/validate-skill-trigger-matrix.sh
  skills/classification.yaml
  skills/trigger-validation.json
Due: none

skills: author python-dev locally, not from ai-dev-kit
  skills/python-dev/SKILL.md
Due: rumdl-check, rumdl-fmt

zsh: add tirith interactive-shell hook (Stage 2, human-terminal scope only)
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(vde): switch claude presets to haiku high
  config/vde/layout.yml
Due: none

chore(flake.lock): update pinned inputs
  flake.lock
Due: none

chore(flake): update lockfile dependencies
  flake.lock
Due: none

fix(ci): run pinact without network in flake check
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

fix(ci): preserve local pinact behavior
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

skills(dotfiles): add missing-tools reference
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/missing-tools.md
Due: rumdl-check, rumdl-fmt

skills(dotfiles): drop alias/historical wording from skill surface
  skills/classification.yaml
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/prompt-contracts-preserved-guidance.md
  skills/dotfiles/references/workspace-preserved-guidance.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

skills: global consolidation to 10 skills; rename github to collaboration
  README.md
  nix/home-manager/agents/README.md
  scripts/validation/validate-skill-trigger-matrix.sh
  skills/classification.yaml
  skills/collaboration/SKILL.md
  skills/collaboration/references/atlassian-api-token.md
  skills/collaboration/references/atlassian.md
  skills/collaboration/references/preserved-guidance.md
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/data-platform/SKILL.md
  skills/diagramming/SKILL.md
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/agent-skill-trigger-validation.md
  skills/dotfiles/references/agent-skills-management.md
  skills/dotfiles/references/agent-skills-release-all.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/skill-description-index.md
  skills/dotfiles/references/skills-management.md
  skills/dotfiles/references/waza-publishing.md
  skills/dotfiles/scripts/agent-skill-description-index.sh
  skills/plan-design/references/preserved-guidance.md
  skills/programming/SKILL.md
  skills/programming/references/python-quality.md
  skills/technical-research/SKILL.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

scripts: consolidate bin/ under scripts/ and drop unused helpers
  bin/databricks-libs.py
  bin/kill-stale-agents
  bin/nix-profile-cleanup
  config/tmux/tmux.conf
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  scripts/bin/ghq-repo-status
  scripts/bin/issue-worktree-create
  scripts/bin/mkmd
  scripts/bin/pr-worktree-create
  scripts/bin/repo-setup
  scripts/bin/repo-status
  scripts/bin/worktree-remove
  scripts/ghq/ghq-fzf-preview
  scripts/google/spreadsheet-to-md.gs
  scripts/ubuntu/docker-engine-socket.sh
  scripts/ubuntu/extend-root-lvm.sh
  scripts/ubuntu/list-stale-nix-gcroots.sh
  scripts/ubuntu/setup-swap.sh
  scripts/ubuntu/storage-pressure-report.sh
  scripts/windows/capslock2ctrl.reg
  scripts/windows/ctrl2capslock.reg
  scripts/windows/reset-icon.bat
  scripts/windows/win-copy.bat
  scripts/windows/win-copy.sh
  scripts/windows/winget-upgrade.bat
  scripts/windows/wsl-shutdown.bat
  skills/dotfiles/references/machine-setup.md
  skills/dotfiles/references/repo-ai-review-boundaries.md
  skills/dotfiles/references/storage-hygiene.md
  skills/dotfiles/references/workspace-preserved-guidance.md
  skills/dotfiles/references/worktree-development-overview.md
  skills/dotfiles/references/worktree-development.md
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

skills: waza spec compliance across all skills
  skills/collaboration/SKILL.md
  skills/create-review-comment/SKILL.md
  skills/data-platform/SKILL.md
  skills/diagramming/SKILL.md
  skills/dotfiles/SKILL.md
  skills/plan-design/SKILL.md
  skills/programming/SKILL.md
  skills/subagent-review/SKILL.md
  skills/technical-research/SKILL.md
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/english-to-japanese-workflow.md
Due: rumdl-check, rumdl-fmt

fix(pnpm): pin vde-monitor to 0.9.2 and skip pinned packages in updates
  nix/home-manager/modules/pnpm.nix
Due: alejandra, statix

skills(data-platform): restore databricks-libs.py as a bundled script
  skills/data-platform/references/databricks.md
  skills/data-platform/scripts/databricks-libs.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

nix: remove Docker and devcontainer machinery from Ubuntu setup
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/modules/pnpm.nix
  scripts/ubuntu/docker-engine-socket.sh
  skills/dotfiles/references/machine-setup.md
  skills/dotfiles/references/workspace-tmux-pane-operations.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

nix: retire Codex storage-pressure and storage/GC report machinery
  README.md
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/scripts/codex-storage-pressure-relief.py
  nix/home-manager/agents/scripts/codex-wal-checkpoint.sh
  scripts/ubuntu/list-stale-nix-gcroots.sh
  scripts/ubuntu/storage-pressure-report.sh
  skills/classification.yaml
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/machine-setup.md
  skills/dotfiles/references/nix-operations.md
  skills/dotfiles/references/storage-hygiene.md
  skills/trigger-validation.json
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

chore(dotfiles): simplify cleanup and skill references
  nix/flake-parts/modules/apps.nix
  nix/home-manager/modules/lazygit.nix
  scripts/lazygit/ai-commit.sh
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
  skills/collaboration/references/preserved-guidance.md
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/workflow.md
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/nix-operations.md
  skills/dotfiles/references/prompt-contracts-preserved-guidance.md
  skills/dotfiles/references/prompt-contracts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/workspace-guidance.md
  skills/plan-design/SKILL.md
  skills/plan-design/references/plan-authoring.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

nix: use nixpkgs betterleaks package
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

chore(dotfiles): simplify nix scripts and pnpm setup
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/pnpm.nix
  scripts/bin/issue-worktree-create
  scripts/bin/pr-worktree-create
  scripts/lib/worktree-common.sh
  scripts/nix/actrun-nix-update.sh
  scripts/nix/manage-pnpm-globals.sh
  scripts/nix/render-native-agents.py
  scripts/nix/tmux-a2a-postman-nix-update.sh
  scripts/nix/waza-nix-update.sh
  skills/collaboration/SKILL.md
  skills/create-review-comment/SKILL.md
  skills/plan-design/SKILL.md
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

chore(nix): align script category prefixes
  nix/flake-parts/modules/apps.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/modules/pnpm.nix
  scripts/nix/agent-render-native.py
  scripts/nix/flake-input-update-tmux-a2a-postman.sh
  scripts/nix/home-manager-pnpm-globals.sh
  scripts/nix/package-update-actrun.sh
  scripts/nix/package-update-waza.sh
Due: alejandra, ruff-check, ruff-format, statix

nix: derive node runtime from pnpm
  nix/home-manager/default.nix
  nix/home-manager/modules/pnpm.nix
  scripts/nix/home-manager-pnpm-globals.sh
Due: alejandra, statix

darwin: manage macmon with homebrew
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

home-manager: install terraform tooling
  nix/home-manager/default.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
