Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

docs(skills): require subagent-review in create-review-comment
  skills/create-review-comment/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(nvim): show hidden files in oil.nvim by default
  config/nvim/nvim/init.lua
Due: none

feat(skills): add description-length validator with warn/block toggle
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/scripts/validate-skill-description-length.sh
Due: alejandra, statix

ci(skills): run validation on PRs and main pushes via skill-publish workflow
  .github/workflows/skill-publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci(skills): consolidate skill validation into pre-commit, remove skill-publish.yaml
  .github/workflows/skill-publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

style(skills): trim 18 descriptions to <=138 chars (Phase 2)
  skills/agent-harness-engineering/SKILL.md
  skills/agent-skill-management/SKILL.md
  skills/aws-auth/SKILL.md
  skills/bash/SKILL.md
  skills/bigquery-local/SKILL.md
  skills/brainstorming/SKILL.md
  skills/create-review-comment/SKILL.md
  skills/databricks-local/SKILL.md
  skills/github/SKILL.md
  skills/markdown/SKILL.md
  skills/mermaid-local/SKILL.md
  skills/plan-design/SKILL.md
  skills/prompt-contracts-local/SKILL.md
  skills/python/SKILL.md
  skills/repo-local/SKILL.md
  skills/restricted-bigquery-dbt-environment/SKILL.md
  skills/systematic-debugging/SKILL.md
  skills/tdd-tidy-first/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(scripts): move skill validators to bin/ for CI-shareable utility convention
  bin/validate-skill-description-length.sh
  bin/validate-skill-frontmatter.sh
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/shared/agent-skills.nix
  skills/agent-harness-engineering/SKILL.md
  skills/agent-skill-management/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(home-manager): use unstable databricks-cli
  nix/home-manager/default.nix
Due: alejandra, statix

chore(nvim): configure oil.nvim as default file explorer
  config/nvim/nvim/init.lua
  config/vim/vimrc
Due: none

chore(flake): update lock file
  flake.lock
Due: none

refactor(zsh): seed ghq paths into zoxide at score 50, drop dual-source zi
  config/zsh/zoxide.zsh
Due: none

fix(zsh): correct ghq seed score from 50 to 20
  config/zsh/zoxide.zsh
Due: none

chore(flake): update llm-agents.nix and mcp-servers-nix
  flake.lock
Due: none

docs: resolve vb from vde-layout config
  skills/agent-workspace/SKILL.md
Due: rumdl-check, rumdl-fmt

docs: constrain messenger to relay work
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

fix(git): push worktrees to upstream branches
  bin/issue-worktree-create
  bin/pr-worktree-create
  docs/worktree-development.md
  nix/home-manager/modules/git.nix
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(git): auto-setup issue branch remotes
  bin/issue-worktree-create
  docs/worktree-development.md
  nix/home-manager/modules/git.nix
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(git): add safer branch workflow defaults
  nix/home-manager/modules/git.nix
Due: alejandra, statix

fix(git): verify HTTPS certificates
  nix/home-manager/modules/git.nix
Due: alejandra, statix

fix(codex): classify WAL checkpoint busy results
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(worktree): add fzf removal command
  bin/worktree-remove
  docs/worktree-development.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

feat(worktree): search ghq repos for removal
  bin/worktree-remove
  docs/worktree-development.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

fix(worktree): scope removal selector to repo root
  bin/worktree-remove
  docs/worktree-development.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

feat(codex): add storage pressure relief timer
  docs/storage-hygiene.md
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): bump dependencies
  flake.lock
Due: none

chore(vim): enable utf-8 encoding
  config/vim/vimrc
Due: none

refactor(vim): use script-scoped window resize keybindings
  config/vim/vimrc
Due: none

refactor(vim): remove unused keymappings and simplify configuration
  config/vim/vimrc
Due: none

refactor(vimrc): remove unused settings and consolidate spell checking logic
  config/vim/vimrc
Due: none

refactor(lazygit): improve AI commit editor with fallback and error handling
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

docs(clipboard): document editor and tmux strategy
  docs/clipboard-strategy.md
Due: rumdl-check, rumdl-fmt

feat(vim): mirror yanks through tmux clipboard
  config/vim/vimrc
  docs/clipboard-strategy.md
Due: rumdl-check, rumdl-fmt

style(nvim): remove unnecessary blank line
  config/nvim/nvim/init.lua
Due: none

fix(vim): fix greater-than syntax in window resize mappings
  config/vim/vimrc
Due: none

feat(lazygit): improve AI commit message generation flow
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

refactor(lazygit): move config to xdg config file
  nix/home-manager/modules/lazygit.nix
Due: alejandra, statix

chore(vim): reorder vimrc initialization settings
  config/vim/vimrc
Due: none

refactor(vim): split Vim and Neovim config, simplify clipboard strategy
  config/nvim/nvim/init.lua
  config/vim/vimrc
  docs/clipboard-strategy.md
Due: rumdl-check, rumdl-fmt

style(vim): remove redundant header comment
  config/vim/vimrc
Due: none

refactor(nvim): improve init.lua ergonomics
  config/nvim/nvim/init.lua
Due: none
