Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

refactor(agents): move patterns file into scripts dir, use $CLAUDE_CONFIG_DIR
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

refactor(agents): extract bashDenyPatternsName for easy relocation
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

refactor(agents): hook finds patterns file via dirname $0
  agents/scripts/claude-pretooluse-bash-deny.sh
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

refactor(agents): anchor hookRegex patterns to fragment start
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

feat(agents): add medium-b preset and enhance bash deny pattern matching
  config/vde/layout.yml
  config/zeno/config.yaml
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/scripts/claude-pretooluse-bash-deny.sh
  nix/home-manager/agents/scripts/claude-pretooluse-write-deny.sh
Due: alejandra, statix

refactor(agents): standardize pretooluse hook naming and anchor patterns
  .github/README.md
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/denied-bash-commands.nix
  nix/home-manager/agents/scripts/claude-detect-project.sh
  nix/home-manager/agents/scripts/claude-observe.sh
  nix/home-manager/agents/scripts/claude-precompact-save.sh
  nix/home-manager/agents/scripts/claude-pretooluse-bash-deny.sh
  nix/home-manager/agents/scripts/claude-pretooluse-deny-bash.sh
  nix/home-manager/agents/scripts/claude-pretooluse-deny-write.sh
  nix/home-manager/agents/scripts/claude-sessionstart-reload.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(deps): migrate from renovate to dependabot
  .github/dependabot.yml
  renovate.json
Due: none

fix(agents): disable anchoring for rm and sudo commands
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

refactor(agents): standardize pre-commit hook ordering and simplify configs
  .github/README.md
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/rules/python.md
  nix/home-manager/agents/skills/bigquery/SKILL.md
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/claude-config-optimizer/references/changelog-tracking.md
  nix/home-manager/agents/skills/claude-workspace-trust-fix/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/continuous-learning-v2/SKILL.md
  nix/home-manager/agents/skills/databricks-local/SKILL.md
  nix/home-manager/agents/skills/drawio-local/SKILL.md
  nix/home-manager/agents/skills/drawio-local/references/aws-icons.md
  nix/home-manager/agents/skills/mermaid/SKILL.md
  nix/home-manager/agents/skills/nix/SKILL.md
  nix/home-manager/agents/skills/orchestrator/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
  nix/home-manager/agents/skills/subagent-review/SKILL.md
  nix/home-manager/agents/subagents/researcher-tech.md
  nix/home-manager/agents/subagents/reviewer-architecture.md
  nix/home-manager/agents/subagents/reviewer-code.md
  nix/home-manager/agents/subagents/reviewer-data.md
  nix/home-manager/agents/subagents/reviewer-historian.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor: replace prettier with rumdl/jq, drop ghatm and sqlfmt
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
Due: alejandra, statix

chore(ci): reduce pre-commit job timeout to 5 minutes
  .github/workflows/pre-commit.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

chore(ci): rename pre-commit workflow to ci
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix(deps): remove unsupported semver cooldown for github-actions
  .github/dependabot.yml
Due: none

chore(deps): update flake.lock
  flake.lock
Due: none

fix(zeno): change vde-layout preset-b keyword to vb
  config/zeno/config.yaml
Due: none

style(zeno): consolidate snippet definitions to single lines
  config/zeno/config.yaml
Due: none

style(zeno): remove ghq update and nix develop snippets
  config/zeno/config.yaml
Due: none

refactor(home-manager): enable xdg and simplify config
  config/zsh/zinit.zsh
  flake.lock
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

refactor(home-manager): use relative paths for nvim configs
  nix/home-manager/default.nix
Due: alejandra, statix

docs(issue-worktree-create): clarify slug generation rules to allow numbers
  bin/issue-worktree-create
Due: none

feat(vim): add denippet keyword pattern and ai-create-review-comment snippet
  config/vim/dpp/ddc.toml
  config/vim/snippet/markdown.json
Due: none

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

refactor(home-manager): use symlink for tmux-a2a-postman config
  nix/home-manager/default.nix
Due: alejandra, statix

chore: update flake.lock
  flake.lock
Due: none

chore(tmux-a2a-postman): add mandatory reply rules and clarify approval terminology
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

refactor(agents): move personal skills to internal, consolidate git/github into rules
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/rules/github.md
  nix/home-manager/agents/skills/atlassian/SKILL.md
  nix/home-manager/agents/skills/atlassian/scripts/confluence-to-md.py
  nix/home-manager/agents/skills/continuous-learning-v2/SKILL.md
  nix/home-manager/agents/skills/continuous-learning-v2/config.json
  nix/home-manager/agents/skills/continuous-learning-v2/scripts/instinct-cli.py
  nix/home-manager/agents/skills/continuous-learning-v2/scripts/test_parse_instinct.py
  nix/home-manager/agents/skills/daily-report/SKILL.md
  nix/home-manager/agents/skills/daily-report/scripts/get-activities.sh
  nix/home-manager/agents/skills/daily-report/scripts/get-team-activities.sh
  nix/home-manager/agents/skills/evolve/SKILL.md
  nix/home-manager/agents/skills/git/SKILL.md
  nix/home-manager/agents/skills/github/SKILL.md
  nix/home-manager/agents/skills/instinct-status/SKILL.md
  nix/home-manager/agents/skills/orchestrator/SKILL.md
  nix/home-manager/agents/skills/restricted-bigquery-dbt-environment/SKILL.md
  nix/home-manager/agents/skills/slack/SKILL.md
  nix/home-manager/agents/subagents/researcher-tech.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

refactor(agents): rename bigquery and mermaid skills with -local postfix
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/skills/bigquery-local/SKILL.md
  nix/home-manager/agents/skills/mermaid-local/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(agents): compress bigquery-local skill (413 -> 52 lines)
  nix/home-manager/agents/skills/bigquery-local/SKILL.md
Due: rumdl-check, rumdl-fmt

style(github): reformat comment style guidelines as bullet list
  nix/home-manager/agents/rules/github.md
Due: rumdl-check, rumdl-fmt

chore(agents/skills): update optimization tracking for v2.1.76 and v0.114.0
  nix/home-manager/agents/skills/claude-config-optimizer/SKILL.md
  nix/home-manager/agents/skills/codex-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(agents/skills): compress nix skill and normalize plan-design sections
  nix/home-manager/agents/skills/nix/SKILL.md
  nix/home-manager/agents/skills/plan-design/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(vim): normalize vimrc path references with variable
  config/nvim/nvim/init.vim
  config/vim/snippet/markdown.json
  config/vim/vimrc
Due: none

chore(tmux-a2a-postman): clarify Agent Skills terminology in role boundary
  config/tmux-a2a-postman/postman.toml
Due: none

refactor(tmux-a2a-postman): centralize reviews through guardian and enforce decision obligation
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker-alt.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

refactor(tmux-a2a-postman): document mandatory two-phase approval workflow with guardian oversight
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

chore(flake): update dependencies
  flake.lock
Due: none
