Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix(storage): repair review scripts and report semantics (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
Due: rumdl-check, rumdl-fmt

fix(storage): escape report output and suppress timer logs (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/ubuntu/storage-pressure-report.sh
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, statix

fix(storage): restore scheduled report visibility (#123)
  docs/storage-hygiene.md
  nix/flake-parts/modules/ubuntu.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents/skills): add YAML frontmatter to aws-auth (#0)
  nix/home-manager/agents/skills/aws-auth/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(storage): simplify gc-root delete app surface (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(pre-commit): validate SKILL frontmatter before commit (#0)
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/agents/scripts/validate-skill-frontmatter.sh
Due: alejandra, statix

refactor(storage): make gc-roots-delete flagless (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents/skills): validate skill frontmatter at build time (#0)
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/families/review/family.nix
Due: alejandra, statix

fix(storage): remove root dependency from gc-roots-delete (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): keep gc-roots-delete user-scoped (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): add YAGNI and KISS principles reminder
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

fix(storage): expand low-risk cache cleanup (#123)
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): align Darwin GC and Linux cleanup scope (#123)
  .github/README.md
  nix/flake-parts/modules/apps.nix
  nix/nix-darwin/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): keep Darwin daemon GC at 3d (#123)
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(storage): keep switch generation-expiry-only (#123)
  .github/README.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): unify daemon GC retention to 1d (#123)
  .github/README.md
  nix/nix-darwin/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(storage): remove unreachable gc-roots-delete shift (#123)
  bin/ubuntu/list-stale-nix-gcroots.sh
Due: none

fix(storage): quote switch access-token argument (#123)
  nix/flake-parts/modules/apps.nix
Due: alejandra, statix

fix(agents/skills): preserve claude-api metadata (#0)
  nix/home-manager/agents/agent-skills.nix
Due: alejandra, statix

chore(dependabot): add nix ecosystem updates (#0)
  .github/dependabot.yml
Due: none

feat(storage): add storage exhaustion countermeasures (#123) (#134)
  .github/README.md
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/ubuntu/setup-swap.sh
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/nix-darwin/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update flake inputs
  flake.lock
Due: none

refactor(agents): migrate drawio-mcp server from buildNpmPackage to npm.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/mcp-servers.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

fix(tooling): contain mkmd path escapes and shared state (#130)
  bin/mkmd
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

chore(tooling): harden unsafe trust defaults (#129)
  bin/repo-setup
  config/vde/layout.yml
  config/zeno/config.yaml
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

fix(tooling): make worktree-remove safe by default (#128)
  bin/worktree-remove
Due: none

fix(agents): deny aws sso login for AI agents (#132)
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/denied-bash-commands.nix
Due: alejandra, statix

docs(coordination): codify bounded approval lane policy (#139)
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

docs(coordination): codify bounded approval lane policy (#139)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(agents): require durable mkmd handoffs (#135)
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/AGENTS.md
Due: rumdl-check, rumdl-fmt

refactor(agents): reduce top-level prompt payload (#136)
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/CLAUDE.md
Due: rumdl-check, rumdl-fmt

fix(tooling): correct PR and issue worktree flows (#131)
  bin/issue-worktree-create
  bin/pr-worktree-create
  tests/pr-worktree-create-smoke.sh
Due: none

fix(shell): reduce shell and tmux polling cost (#125)
  config/zsh/prompt.zsh
  config/zsh/zinit.zsh
  nix/home-manager/modules/tmux.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

docs(worktree): record worktree tool evaluation (#116)
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
Due: rumdl-check, rumdl-fmt

chore(portability): centralize path assumptions (#124)
  bin/repo-setup
  nix/home-manager/default.nix
  nix/home-manager/modules/git.nix
  nix/home-manager/modules/npm.nix
  nix/home-manager/modules/tmux.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

fix(portability): use shared ghq root in git config (#124)
  nix/home-manager/modules/git.nix
Due: alejandra, statix

style(tests): fix treefmt violations in pr-worktree-create smoke test
  tests/pr-worktree-create-smoke.sh
Due: none

style(tests): fix treefmt violations in pr-worktree-create smoke test (#147)
  tests/pr-worktree-create-smoke.sh
Due: none

chore(agents): disable Claude adaptive thinking (#148)
  nix/home-manager/agents/claude-code.nix
Due: alejandra, statix

chore(flake): preserve current flake.lock state (#148)
  flake.lock
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
