Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(tmux-a2a-postman): send BLOCKED immediately when participants are absent instead of holding silently
  config/tmux-a2a-postman/nodes/boss.toml
  config/tmux-a2a-postman/nodes/critic.toml
  config/tmux-a2a-postman/nodes/guardian.toml
Due: none

chore(flake): update flake dependencies
  flake.lock
Due: none

feat(tmux): add tmux-list-sessions utility with Alt+N quick switching
  bin/tmux-list-sessions
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(tmux): remove tmux-list-sessions script
  bin/tmux-list-sessions
Due: none

feat(tmux): enhance session switcher popup with window preview and visual indicators
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

feat(nix-darwin): add maccy to commonCasks
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(nix): remove gogcli package in favor of gws
  nix/home-manager/default.nix
  nix/home-manager/pkgs/gogcli.nix
Due: alejandra, statix

feat(pre-commit): add actrun lint for GitHub Actions workflow analysis
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

fix(pre-commit): skip autoPatchelfHook on macOS for actrun
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

fix(tmux): restore session name in status-left
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

refactor(tmux): simplify session switcher popup
  nix/home-manager/modules/tmux.nix
Due: alejandra, statix

chore(home-manager): remove unused development tools and add azure-cli
  nix/home-manager/default.nix
Due: alejandra, statix

chore(home-manager): move azure-cli to unstable version
  nix/home-manager/default.nix
Due: alejandra, statix

chore(flake): update inputs and bump actrun to 0.19.0
  flake.lock
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

feat(vde): add preset-b and rename medium to preset-a
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

feat(statusline): add rate limit usage display
  nix/home-manager/agents/scripts/claude-statusline.sh
Due: none

fix(claude-statusline): update rate limit fields and fix timestamp parsing
  nix/home-manager/agents/scripts/claude-statusline.sh
Due: none

feat(codex-cli): add codex hooks configuration
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

fix(scripts): improve slug sanitization and fix null rate limit display
  bin/issue-worktree-create
  nix/home-manager/agents/scripts/claude-statusline.sh
Due: none

feat(pre-commit): add betterleaks pre-commit hook
  nix/flake-parts/modules/pre-commit.nix
  nix/home-manager/default.nix
Due: alejandra, statix

chore(lock): update flake inputs
  flake.lock
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

feat(ci): add betterleaks history scan to align with gitleaks
  .github/workflows/ci.yaml
  flake.nix
  nix/flake-parts/modules/pre-commit.nix
Due: actionlint, alejandra, ghalint, ghatm, pinact, statix, zizmor

feat(worktree): copy .envrc to worktrees during creation
  bin/issue-worktree-create
  bin/pr-worktree-create
Due: none

chore(flake): update flake.lock
  flake.lock
Due: none

chore(nixpkgs-unstable): update lock file
  flake.lock
Due: none

feat(agents): add pane role to context hooks
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
Due: alejandra, statix

refactor(hooks): extract UserPromptSubmit hooks into dedicated scripts
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
Due: alejandra, statix

chore(flake): update flake inputs
  flake.lock
Due: none

feat(orchestrator): add orchestrator skill with delegation workflow
  config/vim/snippet/markdown.json
  nix/home-manager/agents/AGENTS.md
  nix/home-manager/agents/skills/orchestrator/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(scripts): use jq for JSON generation in claude-userpromptsubmit
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
Due: none

feat(git): add userName and userEmail to Home Manager git config
  nix/home-manager/modules/git.nix
Due: alejandra, statix

fix(agents/scripts): change context output to plain text and consume stdin
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
  nix/home-manager/agents/scripts/codex-userpromptsubmit.sh
Due: none

fix(bin): prevent global CLAUDE.md config leaking into branch slug generation
  bin/issue-worktree-create
Due: none

chore(flake): update flake.lock dependencies
  flake.lock
Due: none

fix(git): migrate deprecated userName/userEmail to settings.user
  nix/home-manager/modules/git.nix
Due: alejandra, statix

feat(prompt): improve repo-status emoji and add git context to userpromptsubmit hook
  bin/repo-status
  nix/home-manager/agents/scripts/claude-userpromptsubmit.sh
Due: none

feat(repo-setup): add direnv allow support
  bin/repo-setup
  config/vim/snippet/markdown.json
Due: none

chore(freee-mcp): update freee-mcp dependency in flake.lock
  flake.lock
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
