Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

Evaluate zizmor SARIF code scanning path (#244)
  docs/zizmor-sarif-code-scanning-evaluation.md
Due: rumdl-check, rumdl-fmt

Evaluate Claude containment lessons for agent harness (#245)
  docs/claude-containment-agent-harness-evaluation.md
Due: rumdl-check, rumdl-fmt

Specify agent execution-layer smoke test (#247)
  docs/agent-execution-layer-smoke-test.md
Due: rumdl-check, rumdl-fmt

Document Codex auto-review boundaries (#248)
  docs/codex-auto-review-local-boundaries.md
Due: rumdl-check, rumdl-fmt

Map repo AI review boundaries (#249)
  docs/repo-ai-operating-contract.md
  docs/repo-ai-review-boundaries.md
Due: rumdl-check, rumdl-fmt

docs(skills): document issue worktree cleanup lane (#237)
  docs/agent-skills-management.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

refactor(postman): remove boss approval role
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  docs/agent-command-approval-design.md
  docs/codex-auto-review-local-boundaries.md
  docs/codex-guardian-policy-template-evaluation.md
  docs/dotfiles-operating-concepts.md
  docs/external-claude-guidance-evaluation.md
  docs/postman-runtime-contract-reduction.md
  docs/repo-ai-operating-contract.md
  docs/repo-ai-review-boundaries.md
  skills/agent-harness-engineering/references/ai-human-responsibility-boundaries.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(postman): define worker-alt overflow routing
  config/tmux-a2a-postman/postman.md
  docs/repo-ai-operating-contract.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked dependencies
  flake.lock
Due: none

docs(skills): document issue worktree cleanup lane (#237) (#252)
  docs/agent-skills-management.md
  skills/classification.yaml
Due: rumdl-check, rumdl-fmt

chore(vde): lower default reasoning effort levels
  config/vde/layout.yml
Due: none

chore(vde): swap codex and claude roles in layout presets
  config/vde/layout.yml
Due: none

chore(vde): tune agent presets reasoning and effort levels
  config/vde/layout.yml
Due: none

chore(flake): update locked inputs
  flake.lock
Due: none

docs(agent): clarify review role aggregation
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

feat(skills): consolidate technical writing guidance (#253)
  docs/english-to-japanese-technical-translation.md
  docs/repo-ai-review-boundaries.md
  scripts/validation/validate-skill-trigger-matrix.sh
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-writing-quality/SKILL.md
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/english-to-japanese-workflow.md
  skills/technical-writing/references/japanese-writing-style.md
  skills/technical-writing/references/prose-review.md
  skills/technical-writing/references/vale-and-harper.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

feat(darwin): add claude and codex app casks
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

feat(agent): add guardian meta-review gates (#257)
  config/tmux-a2a-postman/postman.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(nix): install mise via homebrew on darwin
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

docs(github): update §7 sub-issues and issue types for gh v2.94
  skills/github/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

fix(agent): require guardian-specified critic perspectives (#255)
  config/tmux-a2a-postman/postman.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(skills): consolidate technical writing guidance (#253) (#259)
  docs/english-to-japanese-technical-translation.md
  docs/repo-ai-review-boundaries.md
  scripts/validation/validate-skill-trigger-matrix.sh
  skills/classification.yaml
  skills/english-to-japanese-technical-translation/SKILL.md
  skills/english-writing-quality/SKILL.md
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/english-to-japanese-workflow.md
  skills/technical-writing/references/japanese-writing-style.md
  skills/technical-writing/references/prose-review.md
  skills/technical-writing/references/vale-and-harper.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

fix(agent): require guardian-specified critic perspectives (#255) (#260)
  config/tmux-a2a-postman/postman.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agent): resolve guardian review conflict (#257)
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(agent): align guardian meta-review gates (#257)
  config/tmux-a2a-postman/postman.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(agent): add guardian meta-review gates (#257) (#261)
  config/tmux-a2a-postman/postman.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
Due: rumdl-check, rumdl-fmt

chore(config): disable git locks in tmux popup and pin pre-commit hook stages
  config/tmux/tmux.conf
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

feat(skills): record consolidation proposal for 13→10 target groups (#262)
  skills/classification.yaml
Due: none

feat(skills): consolidate atlassian, durable-task-tracking, systematic-debugging (#262)
  skills/atlassian/SKILL.md
  skills/classification.yaml
  skills/durable-task-tracking/SKILL.md
  skills/github/SKILL.md
  skills/github/references/atlassian.md
  skills/plan-design/SKILL.md
  skills/plan-design/references/durable-task-tracking.md
  skills/programming/SKILL.md
  skills/programming/references/systematic-debugging.md
  skills/systematic-debugging/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(skills): expand owner skill USE FOR to cover consolidated domains (#262)
  skills/classification.yaml
  skills/github/SKILL.md
  skills/plan-design/SKILL.md
  skills/programming/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update lockfile pins
  flake.lock
Due: none

fix(skills): satisfy format checks after consolidation (#262)
  skills/agent-skills-management/references/skill-description-index.md
  skills/github/references/atlassian-api-token.md
  skills/programming/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(worktree): guard issue branch upstreams (#264)
  bin/issue-worktree-create
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
Due: rumdl-check, rumdl-fmt

fix(worktree): guard issue branch upstreams (#265)
  bin/issue-worktree-create
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
Due: rumdl-check, rumdl-fmt

docs: catch up agent runtime changelogs
  skills/agent-harness-engineering/references/changelog-tracking.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

fix: use default claude tool search behavior
  nix/home-manager/agents/claude/default.nix
  skills/agent-harness-engineering/references/changelog-tracking.md
  skills/agent-harness-engineering/references/claude-code.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix: use claude tool search auto mode
  nix/home-manager/agents/claude/default.nix
  skills/agent-harness-engineering/references/changelog-tracking.md
  skills/agent-harness-engineering/references/claude-code.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
