Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

refactor(postman): move message_footer after common_template and renumber sections
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(flake.lock): update flake inputs
  flake.lock
Due: none

feat(darwin): add arto cask to Homebrew
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(darwin): remove arto cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(lock): update flake inputs
  flake.lock
Due: none

fix(postman): soften message_footer to avoid heartbeat ping-pong
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(deps): update nixpkgs_5 and tmux-a2a-postman
  flake.lock
Due: none

refactor(tmux-a2a-postman): remove defaults now provided by upstream
  config/tmux-a2a-postman/postman.md
  config/tmux-a2a-postman/postman.toml
Due: rumdl-check, rumdl-fmt

chore(flake): update dependencies
  flake.lock
Due: none

chore(flake.lock): Update dependencies
  flake.lock
Due: none

feat(kitty): add kitty terminal config ported from WezTerm
  config/kitty/kitty.conf
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
Due: alejandra, statix

chore: update flake inputs
  flake.lock
Due: none

chore(skhd): switch Alt+1 hotkey from WezTerm to kitty
  nix/nix-darwin/default.nix
Due: alejandra, statix

feat(kitty): add Solarized8 Dark color theme
  config/kitty/kitty.conf
  config/kitty/solarized8-dark.conf
Due: none

feat(kitty): add Solarized8_Dark theme via home-manager programs.kitty
  nix/home-manager/default.nix
  nix/home-manager/modules/kitty.nix
Due: alejandra, statix

feat(kitty): add 10 transparency-friendly themes and reload keybind
  config/kitty/kitty.conf
  config/kitty/theme-Atom.conf
  config/kitty/theme-Jellybeans.conf
  config/kitty/theme-JetBrains_Darcula.conf
  config/kitty/theme-Molokai.conf
  config/kitty/theme-Monokai.conf
  config/kitty/theme-PaperColor_dark.conf
  config/kitty/theme-Tomorrow_Night_Bright.conf
  config/kitty/theme-VSCode_Dark.conf
  config/kitty/theme-gruvbox-dark.conf
  config/kitty/theme-kanagawa_dragon.conf
Due: none

docs(kitty): add theme download instructions to kitty.conf
  config/kitty/kitty.conf
Due: none

feat(kitty): switch theme to Monokai Soda
  config/kitty/kitty.conf
Due: none

chore(kitty): switch theme to selenized-black
  config/kitty/kitty.conf
Due: none

revert(kitty): remove programs.kitty Nix module, keep symlink approach
  nix/home-manager/default.nix
  nix/home-manager/modules/kitty.nix
Due: alejandra, statix

chore(kitty): remove scrollback clear keybind (tmux handles scrollback)
  config/kitty/kitty.conf
Due: none

chore(kitty): remove tab_bar_min_tabs (unused with tmux)
  config/kitty/kitty.conf
Due: none

chore(flake): update flake lock file
  flake.lock
Due: none

fix(mkmd): use two-step mktemp+mv for macOS BSD compatibility
  bin/mkmd
Due: none

chore(flake): update lock file dependencies
  flake.lock
Due: none

chore(vde): update guardian reasoning effort to xhigh
  config/vde/layout.yml
Due: none

feat(ghostty): add Ghostty terminal emulator config and darwin cask (#117)
  config/ghostty/config
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
Due: alejandra, statix

feat(agents): add super-codex-reviewer and split subagent-review skill
  nix/home-manager/agents/skills/subagent-claude-review/SKILL.md
  nix/home-manager/agents/skills/subagent-codex-review/SKILL.md
  nix/home-manager/agents/skills/subagent-review/SKILL.md
  nix/home-manager/agents/subagents/super-codex-reviewer.md
Due: rumdl-check, rumdl-fmt

fix(ghostty): set background-opacity to 0.7 (#117)
  config/ghostty/config
Due: none

feat(agents): generate reviewer subagents from refs via Nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/refs/reviewer-architecture.md
  nix/home-manager/agents/refs/reviewer-code.md
  nix/home-manager/agents/refs/reviewer-data.md
  nix/home-manager/agents/refs/reviewer-historian.md
  nix/home-manager/agents/refs/reviewer-qa.md
  nix/home-manager/agents/refs/reviewer-security.md
  nix/home-manager/agents/reviewer-gen.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(terminal): add Ghostty terminal emulator config (#117) (#118)
  config/ghostty/config
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
Due: alejandra, statix

feat(agents): add Codex Tier 1 deep reviewers + reroute Tier 2
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/reviewer-gen.nix
  nix/home-manager/agents/skills/subagent-codex-review-deep/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update lock file
  flake.lock
Due: none

feat(agents): add Claude Tier 1 cc-deep reviewers
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/reviewer-gen.nix
  nix/home-manager/agents/skills/subagent-claude-review-deep/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(agents): centralize review skill shared logic via skill-gen.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/refs/frontmatter-cc-deep.md
  nix/home-manager/agents/refs/frontmatter-cc.md
  nix/home-manager/agents/refs/frontmatter-cx-deep.md
  nix/home-manager/agents/refs/frontmatter-cx.md
  nix/home-manager/agents/refs/review-core-post.md
  nix/home-manager/agents/refs/review-core-pre.md
  nix/home-manager/agents/refs/step2-cc-deep.md
  nix/home-manager/agents/refs/step2-cc.md
  nix/home-manager/agents/refs/step2-cx-deep.md
  nix/home-manager/agents/refs/step2-cx.md
  nix/home-manager/agents/skill-gen.nix
  nix/home-manager/agents/skills/subagent-claude-review-deep/SKILL.md
  nix/home-manager/agents/skills/subagent-claude-review/SKILL.md
  nix/home-manager/agents/skills/subagent-codex-review-deep/SKILL.md
  nix/home-manager/agents/skills/subagent-codex-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): consolidate reviewer-gen.nix + skill-gen.nix into review/gen.nix
  nix/home-manager/agents/agent-skills.nix
  nix/home-manager/agents/claude-code.nix
  nix/home-manager/agents/codex-cli.nix
  nix/home-manager/agents/review/gen.nix
  nix/home-manager/agents/review/refs/frontmatter-cc-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cc.md
  nix/home-manager/agents/review/refs/frontmatter-cx-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cx.md
  nix/home-manager/agents/review/refs/review-core-post.md
  nix/home-manager/agents/review/refs/review-core-pre.md
  nix/home-manager/agents/review/refs/reviewer-architecture.md
  nix/home-manager/agents/review/refs/reviewer-code.md
  nix/home-manager/agents/review/refs/reviewer-data.md
  nix/home-manager/agents/review/refs/reviewer-historian.md
  nix/home-manager/agents/review/refs/reviewer-qa.md
  nix/home-manager/agents/review/refs/reviewer-security.md
  nix/home-manager/agents/review/refs/step2-cc-deep.md
  nix/home-manager/agents/review/refs/step2-cc.md
  nix/home-manager/agents/review/refs/step2-cx-deep.md
  nix/home-manager/agents/review/refs/step2-cx.md
  nix/home-manager/agents/reviewer-gen.nix
  nix/home-manager/agents/skill-gen.nix
  nix/home-manager/agents/skills/subagent-review-all/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(agents): apply skill name renames to frontmatter and wrapper SKILL.md
  nix/home-manager/agents/review/refs/frontmatter-cc-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cc.md
  nix/home-manager/agents/review/refs/frontmatter-cx-deep.md
  nix/home-manager/agents/review/refs/frontmatter-cx.md
  nix/home-manager/agents/skills/subagent-review-all/SKILL.md
Due: rumdl-check, rumdl-fmt

chore: update flake dependencies and remove stale postman section
  config/tmux-a2a-postman/postman.md
  flake.lock
Due: rumdl-check, rumdl-fmt

feat(agents): rename subagent-review-all to subagent-review, make argument-driven
  config/vde/layout.yml
  nix/home-manager/agents/skills/subagent-review-all/SKILL.md
  nix/home-manager/agents/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
