Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

Migrate orchestrator role contract and runbooks (#171) (#186)
  config/tmux-a2a-postman/postman.md
  docs/dotfiles-operating-concepts.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/classification.yaml
  skills/orchestrator/SKILL.md
  skills/orchestrator/references/preserved-guidance.md
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

Consolidate programming Agent Skills target (#173) (#187)
  skills/bash/SKILL.md
  skills/bash/references/preserved-guidance.md
  skills/classification.yaml
  skills/markdown/SKILL.md
  skills/markdown/references/preserved-guidance.md
  skills/nix/SKILL.md
  skills/nix/references/preserved-guidance.md
  skills/programming/SKILL.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/markdown-authoring.md
  skills/programming/references/nix-package-workflow.md
  skills/programming/references/python-development.md
  skills/programming/references/tdd-tidy-first.md
  skills/python/SKILL.md
  skills/python/references/preserved-guidance.md
  skills/tdd-tidy-first/SKILL.md
  skills/tdd-tidy-first/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

test(repo-setup): remove smoke test directory (#184)
  tests/repo-setup-smoke.sh
Due: none

fix(repo-setup): initialize generated envrc (#188)
  bin/issue-worktree-create
  bin/pr-worktree-create
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/preserved-guidance.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

fix(home-manager): remove missing ccusage-codex package (#190)
  bin/ubuntu/storage-pressure-report.sh
  docs/storage-hygiene.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agent): preserve review workflow split
  config/tmux-a2a-postman/postman.md
  docs/repo-ai-operating-contract.md
  skills/create-review-comment/SKILL.md
  skills/github/SKILL.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked inputs
  flake.lock
Due: none

docs(agent): preserve review workflow split (#191)
  config/tmux-a2a-postman/postman.md
  docs/repo-ai-operating-contract.md
  skills/create-review-comment/SKILL.md
  skills/github/SKILL.md
  skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(agent): consolidate harness-adjacent skills
  docs/dotfiles-operating-concepts.md
  docs/worktree-development-overview.md
  docs/worktree-tool-evaluation.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/prompt-blocks.md
  skills/agent-harness-engineering/references/prompt-contracts-preserved-guidance.md
  skills/agent-harness-engineering/references/resume-handoff.md
  skills/agent-harness-engineering/references/review-output-contract.md
  skills/agent-harness-engineering/references/workspace-boot-failure-modes.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-tmux-pane-operations.md
  skills/agent-harness-engineering/references/workspace-vde-layout-internals.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/agent-workspace/SKILL.md
  skills/classification.yaml
  skills/prompt-contracts-local/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump mcp-servers-nix lockfile
  flake.lock
Due: none

docs(agent): consolidate harness-adjacent skills (#193)
  docs/dotfiles-operating-concepts.md
  docs/worktree-development-overview.md
  docs/worktree-tool-evaluation.md
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/prompt-blocks.md
  skills/agent-harness-engineering/references/prompt-contracts-preserved-guidance.md
  skills/agent-harness-engineering/references/resume-handoff.md
  skills/agent-harness-engineering/references/review-output-contract.md
  skills/agent-harness-engineering/references/workspace-boot-failure-modes.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-tmux-pane-operations.md
  skills/agent-harness-engineering/references/workspace-vde-layout-internals.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/agent-workspace/SKILL.md
  skills/classification.yaml
  skills/prompt-contracts-local/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(flake): update locked dependencies
  flake.lock
Due: none

docs(agent): compact postman live role template (#179)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(skills): add data-platform target (#174)
  skills/aws-auth/SKILL.md
  skills/bigquery-local/SKILL.md
  skills/classification.yaml
  skills/data-platform/SKILL.md
  skills/data-platform/references/bigquery.md
  skills/data-platform/references/cloud-auth.md
  skills/data-platform/references/databricks.md
  skills/data-platform/references/dbt.md
  skills/data-platform/references/restricted-bigquery-dbt.md
  skills/databricks-local/SKILL.md
  skills/dbt-local/SKILL.md
  skills/restricted-bigquery-dbt-environment/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): add diagramming target (#175)
  skills/classification.yaml
  skills/diagramming/SKILL.md
  skills/diagramming/references/aws-icons.md
  skills/diagramming/references/color-palette.md
  skills/diagramming/references/drawio.md
  skills/diagramming/references/layout-guidelines.md
  skills/diagramming/references/mermaid.md
  skills/diagramming/scripts/check-drawio-svg-overlaps.mjs
  skills/diagramming/scripts/convert-drawio-to-png.sh
  skills/diagramming/scripts/find_aws_icon.py
  skills/drawio-local/SKILL.md
  skills/mermaid-local/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

docs(skills): merge brainstorming into plan design (#176)
  skills/brainstorming/SKILL.md
  skills/brainstorming/references/preserved-guidance.md
  skills/classification.yaml
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/systematic-debugging/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(agent): commit native subagent files (#192)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
  nix/home-manager/agents/subagents/claude/researcher-tech.md
  nix/home-manager/agents/subagents/claude/reviewer-architecture.md
  nix/home-manager/agents/subagents/claude/reviewer-code.md
  nix/home-manager/agents/subagents/claude/reviewer-data.md
  nix/home-manager/agents/subagents/claude/reviewer-historian.md
  nix/home-manager/agents/subagents/claude/reviewer-qa.md
  nix/home-manager/agents/subagents/claude/reviewer-security.md
  nix/home-manager/agents/subagents/codex/researcher-tech.toml
  nix/home-manager/agents/subagents/codex/reviewer-architecture.toml
  nix/home-manager/agents/subagents/codex/reviewer-code.toml
  nix/home-manager/agents/subagents/codex/reviewer-data.toml
  nix/home-manager/agents/subagents/codex/reviewer-historian.toml
  nix/home-manager/agents/subagents/codex/reviewer-qa.toml
  nix/home-manager/agents/subagents/codex/reviewer-security.toml
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(nvim): rename highlight group to Hl01
  config/nvim/nvim/init.lua
Due: none

fix(nvim): prevent insert-mode reindent on literal colons
  config/nvim/nvim/init.lua
Due: none

fix(zsh): preserve history order in fzf widget
  config/zsh/history-fzf.zsh
Due: none

fix(zsh): improve zoxide fuzzy search path matching
  config/zsh/zoxide.zsh
Due: none

feat(nvim): add fzf-lua file and grep mappings
  config/nvim/nvim/init.lua
  config/nvim/nvim/lazy-lock.json
Due: none

fix(worktree): base issue worktrees on current branch (#204)
  bin/issue-worktree-create
  docs/worktree-development.md
  tests/issue-worktree-create-current-branch-smoke.sh
Due: rumdl-check, rumdl-fmt

docs(agent): compact postman live role template (#194)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

test(worktree): cover nested issue worktree base (#204)
  docs/worktree-development.md
  tests/issue-worktree-create-current-branch-smoke.sh
Due: rumdl-check, rumdl-fmt

docs(skills): add data-platform target (#195)
  skills/aws-auth/SKILL.md
  skills/bigquery-local/SKILL.md
  skills/classification.yaml
  skills/data-platform/SKILL.md
  skills/data-platform/references/bigquery.md
  skills/data-platform/references/cloud-auth.md
  skills/data-platform/references/databricks.md
  skills/data-platform/references/dbt.md
  skills/data-platform/references/restricted-bigquery-dbt.md
  skills/databricks-local/SKILL.md
  skills/dbt-local/SKILL.md
  skills/restricted-bigquery-dbt-environment/SKILL.md
Due: rumdl-check, rumdl-fmt

docs(skills): add diagramming target (#196)
  skills/classification.yaml
  skills/diagramming/SKILL.md
  skills/diagramming/references/aws-icons.md
  skills/diagramming/references/color-palette.md
  skills/diagramming/references/drawio.md
  skills/diagramming/references/layout-guidelines.md
  skills/diagramming/references/mermaid.md
  skills/diagramming/scripts/check-drawio-svg-overlaps.mjs
  skills/diagramming/scripts/convert-drawio-to-png.sh
  skills/diagramming/scripts/find_aws_icon.py
  skills/drawio-local/SKILL.md
  skills/mermaid-local/SKILL.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fmt

docs(skills): merge brainstorming into plan design (#197)
  skills/brainstorming/SKILL.md
  skills/brainstorming/references/preserved-guidance.md
  skills/classification.yaml
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/systematic-debugging/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor(agent): generate codex agents from markdown (#192)
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/codex/researcher-tech.toml
  nix/home-manager/agents/subagents/codex/reviewer-architecture.toml
  nix/home-manager/agents/subagents/codex/reviewer-code.toml
  nix/home-manager/agents/subagents/codex/reviewer-data.toml
  nix/home-manager/agents/subagents/codex/reviewer-historian.toml
  nix/home-manager/agents/subagents/codex/reviewer-qa.toml
  nix/home-manager/agents/subagents/codex/reviewer-security.toml
  skills/plan-design/references/preserved-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agent): align subagent source references (#192)
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

refactor(agent): use flat subagent markdown source (#192)
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/researcher-tech.md
  nix/home-manager/agents/subagents/reviewer-architecture.md
  nix/home-manager/agents/subagents/reviewer-code.md
  nix/home-manager/agents/subagents/reviewer-data.md
  nix/home-manager/agents/subagents/reviewer-historian.md
  nix/home-manager/agents/subagents/reviewer-qa.md
  nix/home-manager/agents/subagents/reviewer-security.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/plan-design/references/preserved-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agent): commit native subagent files (#198)
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/default.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/shared/render-agents.nix
  nix/home-manager/agents/subagents/_metadata.nix
  nix/home-manager/agents/subagents/researcher-tech.md
  nix/home-manager/agents/subagents/reviewer-architecture.md
  nix/home-manager/agents/subagents/reviewer-code.md
  nix/home-manager/agents/subagents/reviewer-data.md
  nix/home-manager/agents/subagents/reviewer-historian.md
  nix/home-manager/agents/subagents/reviewer-qa.md
  nix/home-manager/agents/subagents/reviewer-security.md
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/plan-design/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(git): guard branch publication defaults (#205)
  bin/git-branch-publication-guard
  bin/install-git-branch-publication-guard
  bin/issue-worktree-create
  bin/repo-setup
  config/tmux-a2a-postman/postman.md
  docs/worktree-development.md
  nix/home-manager/modules/git.nix
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/github/references/preserved-guidance.md
  tests/git-branch-publication-guard-smoke.sh
  tests/issue-worktree-create-publication-safety-smoke.sh
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(git): chain branch publication guard hook (#205)
  bin/install-git-branch-publication-guard
  tests/install-git-branch-publication-guard-smoke.sh
Due: none

docs(git): document remote branch protection layer (#205)
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  skills/github/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

chore(home-manager): remove deno package and related shell env vars
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(claude): disable fast mode via CLAUDE_CODE_DISABLE_FAST_MODE
  nix/home-manager/agents/claude/default.nix
Due: alejandra, statix

docs(skills): bump Claude Code tracking to v2.1.145
  skills/agent-harness-engineering/references/changelog-tracking.md
  skills/agent-harness-engineering/references/claude-code.md
Due: rumdl-check, rumdl-fmt
