Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix(postman): reduce injected context (#380)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

test(dev-platform-workflow): improve trigger eval hygiene (#411)
  skills/dev-platform-workflow/SKILL.md
  skills/dev-platform-workflow/evals/tasks/positive-trigger-1.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-2.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-3.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-4.yaml
  skills/dev-platform-workflow/evals/tasks/positive-trigger-5.yaml
  skills/dev-platform-workflow/scripts/validate-description.sh
Due: rumdl-check, rumdl-fmt

fix(postman): reduce injected context (#412)
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(vde): update agent layout model assignments
  config/vde/layout.yml
Due: none

chore(flake): update lockfile inputs
  flake.lock
Due: none

fix(postman): keep skill frontmatter parser-compatible (#413)
  skills/dev-platform-workflow/SKILL.md
Due: rumdl-check, rumdl-fmt

fix postman skill frontmatter parser compatibility (#414)
  skills/dev-platform-workflow/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(nix): update flake inputs and tmux-a2a-postman to v0.9.4
  flake.lock
  flake.nix
Due: alejandra, statix

chore(flake): update locked inputs
  flake.lock
Due: none

chore(lazygit): update ai commit model to gpt-6
  scripts/lazygit/ai-commit.sh
Due: none

fix(scripts): use Codex Luna for AI helpers (#415)
  scripts/bin/issue-worktree-create
  scripts/lazygit/ai-commit.sh
Due: none

fix(scripts): use Codex Luna for AI helpers (#416)
  scripts/bin/issue-worktree-create
  scripts/lazygit/ai-commit.sh
Due: none

chore(deps): update flake inputs and waza to 0.38.8
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

feat(skills): install mizchi/explainer and add sentence-structure checks (#418)
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
  skills/technical-writing/references/japanese-writing-style.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): include first-reader and reword examples (#418)
  nix/home-manager/agents/shared/agent-skills.nix
  skills/technical-writing/references/japanese-writing-style.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(skills): install mizchi/explainer and fold yomiyasu ideas into technical-writing (#418) (#419)
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
  skills/technical-writing/references/japanese-writing-style.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(deps): update flake input revisions
  flake.lock
Due: none

chore(darwin): add ClamAV cask to macos-p host
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(deps): update flake inputs
  flake.lock
Due: none

feat(media): add video thumbnail CLI (#420)
  scripts/bin/ytthumb.py
Due: ruff-check, ruff-format

feat(media): add video thumbnail CLI (#420) (#421)
  scripts/bin/ytthumb.py
Due: ruff-check, ruff-format

chore(nix): update flake inputs and waza to 0.38.9
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

chore(postman): rename messenger node class to interface_node
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(postman): add orchestrator tracking and delivery guidance
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(deps): update Nix flake inputs
  flake.lock
Due: none

chore(deps): update flake inputs and waza to 0.38.10
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
