Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

WIP
  config/tmux-a2a-postman/nodes/concierge.toml
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.toml
  nix/home/default.nix
Due: alejandra, statix

WIP
  bin/postman.toml
  config/agents/skills/orchestrator/SKILL.md
  config/tmux-a2a-postman/nodes/concierge.toml
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
  config/tmux-a2a-postman/postman.toml
  config/vde/layout.yml
  config/zeno/config.yaml
Due: rumdl-check, rumdl-fmt

WIP
  flake.lock
  flake.nix
  nix/home/agent-skills.nix
Due: alejandra, statix

WIP
  config/claude/.gitignore
  config/claude/ccnote.md
  config/claude/settings.json
  config/codex/config.common.toml
Due: rumdl-check, rumdl-fmt

WIP
  bin/repo-setup
Due: none

WIP
  config/agents/skills/skill-creator-local/SKILL.md
  config/agents/skills/skill-creator-local/references/output-patterns.md
  config/agents/skills/skill-creator-local/references/workflows.md
  config/agents/skills/skill-creator-local/scripts/init_skill.py
  config/agents/skills/skill-creator-local/scripts/package_skill.py
  config/agents/skills/skill-creator-local/scripts/quick_validate.py
  nix/home/agent-skills.nix
Due: alejandra, ruff-check, ruff-format, rumdl-check, rumdl-fmt, statix

WIP
  flake.lock
Due: none

WIP
  Makefile
Due: none

WIP
  Makefile
  config/claude/settings.json
Due: none

WIP
  config/claude/scripts/ccstatusline.sh
Due: none

WIP
  config/claude/CLAUDE.md
  config/claude/scripts/bash-deny-check.sh
  config/claude/scripts/ccstatusline.sh
  config/claude/scripts/deny.sh
  config/claude/scripts/post-write-check.sh
  config/claude/scripts/pre-compact-save.sh
  config/claude/scripts/reload-claude-md.sh
  config/claude/scripts/touchfile.sh
  config/claude/settings.json
Due: rumdl-check, rumdl-fmt

WIP
  bin/mkoutput
  bin/repo-setup
  config/agents/rules/bash.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  config/agents/skills/daily-report/SKILL.md
  config/agents/skills/github/SKILL.md
  config/agents/skills/orchestrator/SKILL.md
  config/agents/skills/slack/SKILL.md
  config/agents/skills/subagent-review/SKILL.md
  config/claude/CLAUDE.md
  config/claude/scripts/deny.sh
  config/claude/scripts/post-write-check.sh
  config/claude/scripts/precompact-save.sh
  config/claude/scripts/pretooluse-bash-deny.sh
  config/claude/scripts/pretooluse-write-deny.sh
  config/claude/scripts/sessionstart-reload.sh
  config/claude/scripts/statusline.sh
  config/claude/scripts/touchfile.sh
  config/claude/settings.json
Due: rumdl-check, rumdl-fmt

WIP
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  config/tmux-a2a-postman/nodes/orchestrator.toml
Due: none

WIP
  nix/home/default.nix
Due: alejandra, statix

WIP
  config/claude/.gitignore
  config/claude/settings.hooks.json
  config/claude/settings.json
Due: none

WIP
  config/tmux-a2a-postman/nodes/messenger.toml
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

WIP
  config/tmux-a2a-postman/nodes/observer-a-leader.toml
  config/tmux-a2a-postman/nodes/observer-b-leader.toml
  config/tmux-a2a-postman/nodes/orchestrator.toml
  config/tmux-a2a-postman/nodes/worker.toml
Due: none

WIP
  config/agents/skills/databricks/SKILL.md
  config/vde/layout.yml
  config/zeno/config.yaml
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/settings.json
Due: none

WIP
  bin/mkoutput
  bin/repo-setup
  config/claude/CLAUDE.md
  config/claude/settings.json
  config/vde/monitor/config.json
Due: rumdl-check, rumdl-fmt
