Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

chore(deps): update flake lock inputs
  flake.lock
Due: none

docs(harness): name silent turn-termination as a postman violation
  config/tmux-a2a-postman/postman.md
  skills/collaboration/references/github-workflow.md
Due: rumdl-check, rumdl-fmt

chore(deps): bump tmux-a2a-postman to v0.9.0
  flake.lock
  flake.nix
Due: alejandra, statix

feat(agents): restore CLAUDE.md/AGENTS.md as a local-invocation fallback (#279)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/local-fallback.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(agents): consolidate to single AGENTS.md source (#279)
  nix/home-manager/agents/shared/AGENTS.md
Due: rumdl-check, rumdl-fmt

refactor(agents): consolidate to single AGENTS.md source (#279)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): simplify shared AGENTS.md instructions
  nix/home-manager/agents/shared/AGENTS.md
Due: rumdl-check, rumdl-fmt

feat(agents): restore AGENTS.md/CLAUDE.md as a local-invocation fallback (#280)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  nix/home-manager/agents/shared/AGENTS.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Fix Windows util copy layout
  scripts/windows/win-copy.bat
  scripts/windows/win-copy.sh
Due: none

Replace worktree removal helper with status inventory
  scripts/bin/worktree-remove
  scripts/bin/worktree-status
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development-overview.md
  skills/dotfiles/references/worktree-development.md
Due: rumdl-check, rumdl-fmt

chore: resolve PR 281 main conflicts
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/worktree-development.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore: make PR conflict resolution mergeable
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/worktree-development.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Codify dedicated worktree workflow (#281)
  nix/home-manager/agents/shared/agent-skills.nix
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development-overview.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(programming): add Terraform Checkov guidance
  skills/programming/SKILL.md
  skills/programming/evals/tasks/positive-trigger-3.yaml
  skills/programming/references/terraform-development.md
Due: rumdl-check, rumdl-fmt

docs(programming): document Checkov installation options
  skills/programming/references/terraform-development.md
Due: rumdl-check, rumdl-fmt

docs(programming): add Checkov nixpkgs verification gate
  skills/programming/references/terraform-development.md
Due: rumdl-check, rumdl-fmt

fix(programming): satisfy skill CI gates
  skills/programming/SKILL.md
  skills/programming/evals/tasks/positive-trigger-3.yaml
  skills/programming/references/terraform-development.md
Due: rumdl-check, rumdl-fmt

feat(postman): add approval and diplomat nodes
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/orchestrator-runbook.md
Due: rumdl-check, rumdl-fmt

docs(programming): add Terraform Checkov guidance (#282)
  skills/programming/SKILL.md
  skills/programming/evals/tasks/positive-trigger-1.yaml
  skills/programming/references/terraform-development.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump tmux-a2a-postman to v0.9.0 and refresh lockfile
  flake.lock
  flake.nix
Due: alejandra, statix

feat(postman): add approval and diplomat nodes (#283)
  config/tmux-a2a-postman/postman.md
  config/vde/layout.yml
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/orchestrator-runbook.md
Due: rumdl-check, rumdl-fmt

docs(claude): track v2.1.207 harness review
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
Due: rumdl-check, rumdl-fmt

fix(claude): opt in to dangerous bypass launches
  config/vde/layout.yml
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
Due: rumdl-check, rumdl-fmt

style(claude): satisfy changelog treefmt
  skills/dotfiles/references/claude-changelog-tracking.md
Due: rumdl-check, rumdl-fmt

Fix Claude bypass permission launch flags (#284)
  config/vde/layout.yml
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
Due: rumdl-check, rumdl-fmt

chore(flake): update flake.lock inputs
  flake.lock
Due: none

fix(agents): update Claude and Codex runtime tracking
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): bump pinned dependencies and tmux-a2a-postman to v0.9.0
  flake.lock
  flake.nix
Due: alejandra, statix

fix(agents): update Claude and Codex runtime tracking (#287)
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/deny-bash-design.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(technical-writing): add cognitive rhythm reference
  skills/technical-writing/SKILL.md
  skills/technical-writing/evals/tasks/positive-trigger-1.yaml
  skills/technical-writing/references/cognitive-rhythm.md
  skills/technical-writing/references/prose-review.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): add cognitive rhythm reference (#288)
  skills/technical-writing/SKILL.md
  skills/technical-writing/evals/tasks/positive-trigger-1.yaml
  skills/technical-writing/references/cognitive-rhythm.md
  skills/technical-writing/references/prose-review.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): add natural Japanese prose guidance
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): clarify English-first anti-slop flow
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/english-to-japanese-technical-translation.md
  skills/technical-writing/references/english-to-japanese-workflow.md
  skills/technical-writing/references/japanese-writing-style.md
  skills/technical-writing/references/prose-review.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): restore Japanese attribution
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): clarify Japanese generation workflow
  skills/technical-writing/references/english-to-japanese-technical-translation.md
  skills/technical-writing/references/english-to-japanese-workflow.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): preserve Japanese source wording
  skills/technical-writing/references/japanese-writing-style.md
Due: rumdl-check, rumdl-fmt

docs(technical-writing): add natural Japanese guidance (#289)
  skills/technical-writing/SKILL.md
  skills/technical-writing/references/english-to-japanese-technical-translation.md
  skills/technical-writing/references/english-to-japanese-workflow.md
  skills/technical-writing/references/japanese-writing-style.md
  skills/technical-writing/references/prose-review.md
Due: rumdl-check, rumdl-fmt

fix(nix): align cleanup retention policy
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
  skills/dotfiles/references/nix-operations.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
