Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

fix(nix): align cleanup retention policy (#291)
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/nix-darwin/default.nix
  skills/dotfiles/references/nix-operations.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(deps): bump waza and flake inputs
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

feat(skills): curate agent skill bundles
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  skills/data-platform/SKILL.md
  skills/data-platform/references/databricks.md
  skills/data-platform/references/dbt.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/external-references/SKILL.md
  skills/external-references/evals/eval.yaml
  skills/external-references/evals/tasks/negative-trigger-1.yaml
  skills/external-references/evals/tasks/positive-trigger-1.yaml
  skills/external-references/evals/tasks/positive-trigger-2.yaml
  skills/programming/references/python-quality.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update flake.lock inputs
  flake.lock
Due: none

feat(skills): curate agent skill bundles (#292)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  skills/data-platform/SKILL.md
  skills/data-platform/references/databricks.md
  skills/data-platform/references/dbt.md
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/external-references/SKILL.md
  skills/external-references/evals/eval.yaml
  skills/external-references/evals/tasks/negative-trigger-1.yaml
  skills/external-references/evals/tasks/positive-trigger-1.yaml
  skills/external-references/evals/tasks/positive-trigger-2.yaml
  skills/programming/references/python-quality.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(skills): materialize reference skill links
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  skills/external-references/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): guard reference skill tree ownership
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(skills): include full AWS reference inventory
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(skills): materialize reference skill links (#293)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/agents/shared/install-manifest.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
  skills/external-references/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(skills): add clarify-concepts method skill
  skills/clarify-concepts/SKILL.md
  skills/clarify-concepts/evals/eval.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-1.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-2.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-3.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-1.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-2.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-3.yaml
  skills/clarify-concepts/references/referent-table.md
  skills/plan-design/SKILL.md
  skills/technical-research/SKILL.md
  skills/technical-writing/SKILL.md
Due: rumdl-check, rumdl-fmt

fix(skills): address clarify-concepts review
  skills/clarify-concepts/SKILL.md
  skills/clarify-concepts/evals/tasks/negative-trigger-4.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-5.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-6.yaml
  skills/clarify-concepts/references/referent-table.md
  skills/technical-writing/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(harness): publish approval policy and Herdr support
  config/tmux-a2a-postman/postman.md
  nix/home-manager/default.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/herdr.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(harness): publish approval policy and Herdr support (#295)
  config/tmux-a2a-postman/postman.md
  nix/home-manager/default.nix
  skills/dotfiles/references/agent-command-approval-design.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/herdr.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat(skills): add clarify-concepts method skill (#294)
  skills/clarify-concepts/SKILL.md
  skills/clarify-concepts/evals/eval.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-1.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-2.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-3.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-4.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-5.yaml
  skills/clarify-concepts/evals/tasks/negative-trigger-6.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-1.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-2.yaml
  skills/clarify-concepts/evals/tasks/positive-trigger-3.yaml
  skills/clarify-concepts/references/referent-table.md
  skills/plan-design/SKILL.md
  skills/technical-research/SKILL.md
  skills/technical-writing/SKILL.md
Due: rumdl-check, rumdl-fmt

chore(vde): update agent model assignments in layout
  config/vde/layout.yml
Due: none

fix(workspace): repair ghq repo locks before update
  config/zsh/snippet.zsh
  scripts/bin/ghq-repo-repair
  scripts/bin/git-locks
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

Repair ghq repo locks before update (#297)
  config/zsh/snippet.zsh
  scripts/bin/ghq-repo-repair
  scripts/bin/git-locks
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

chore(deps): bump flake inputs and waza to 0.38.3
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

style(nix-darwin): update dock icon size and remove obsolete comments
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(deps): update flake.lock inputs
  flake.lock
Due: none

chore(darwin): remove unused Homebrew casks
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(darwin): enable Homebrew activation cleanup
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

docs(darwin): update skhd app switching comment
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

chore(tmux): clean up config formatting and remove stale comments
  config/tmux/tmux.conf
Due: none

docs(agents): refine CLI tracking and role controls
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

fix(tmux): remove GIT_OPTIONAL_LOCKS override from lazygit popup
  config/tmux/tmux.conf
Due: none

docs(agents): refine CLI tracking and role controls (#299)
  skills/dotfiles/references/agent-hooks-architecture.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump tmux-a2a-postman to v0.9.1
  flake.lock
  flake.nix
Due: alejandra, statix

chore(darwin): disable grayscale color filter
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): update pinned inputs
  flake.lock
Due: none

feat(subagent-review): converge iterative reviews (#301)
  nix/home-manager/agents/subagents/reviewer-historian.md
  skills/dotfiles/references/prompt-blocks.md
  skills/dotfiles/references/review-output-contract.md
  skills/subagent-review/SKILL.md
  skills/subagent-review/evals/tasks/negative-trigger-2.yaml
  skills/subagent-review/evals/tasks/positive-trigger-3.yaml
  skills/subagent-review/references/review-topology.md
Due: rumdl-check, rumdl-fmt

feat(subagent-review): converge iterative reviews (#302)
  nix/home-manager/agents/subagents/reviewer-historian.md
  skills/dotfiles/references/prompt-blocks.md
  skills/dotfiles/references/review-output-contract.md
  skills/subagent-review/SKILL.md
  skills/subagent-review/evals/tasks/negative-trigger-2.yaml
  skills/subagent-review/evals/tasks/positive-trigger-3.yaml
  skills/subagent-review/references/review-topology.md
Due: rumdl-check, rumdl-fmt

fix(ci): consolidate on quick install (#303)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix(ci): consolidate on quick install (#304)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(readme): update CI workflow badge (#305)
  README.md
Due: rumdl-check, rumdl-fmt

docs(readme): update CI workflow badge (#306)
  README.md
Due: rumdl-check, rumdl-fmt

chore(deps): bump flake inputs and waza to 0.38.4
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

chore(agents): refresh inputs and lint scripts
  flake.lock
  nix/home-manager/agents/scripts/codex-generate-config.py
  scripts/nix/agent-render-native.py
  skills/data-platform/scripts/databricks-libs.py
Due: ruff-check, ruff-format

chore(flake): add blueprint input and update lockfile dependencies
  flake.lock
Due: none

chore(ci): rename workflow to ci
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
