Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  nix/home-manager/claude-code.nix
Due: alejandra, statix

WIP
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  nix/home-manager/agent-skills.nix
  nix/home-manager/claude-code.nix
  nix/home-manager/default.nix
  nix/home-manager/mcp-servers.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

remove pyproject.toml, uv.lock
  .github/dependabot.yml
  .gitignore
  bin/databricks-libs.py
  config/vim/dpp/vim.toml
  config/vim/rc/local.default.vim
  flake.nix
  nix/home-manager/default.nix
  pyproject.toml
  uv.lock
Due: alejandra, ruff-check, ruff-format, statix

WIP
  .github/dependabot.yml
Due: none

WIP
  config/zsh/.gitignore
  config/zsh/.zlogout
  config/zsh/.zshenv
  config/zsh/.zshrc
  nix/flake-parts/ubuntu.nix
  nix/home-manager/default.nix
  nix/home-manager/zsh.nix
  nix/nix-darwin/default.nix
  renovate.json
Due: alejandra, statix

WIP
  flake.lock
Due: none

fix: resolve home-manager zsh deprecation warnings
  config/zsh/.gitignore
  nix/home-manager/zsh.nix
Due: alejandra, statix

WIP
  config/vim/dpp/ddc.toml
  config/zsh/.gitignore
  config/zsh/aws.zsh
  config/zsh/keybind.zsh
  config/zsh/prompt.zsh
  config/zsh/zinit.zsh
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  nix/home-manager/zsh.nix
Due: alejandra, statix

WIP
  nix/flake-parts/pre-commit.nix
  nix/home-manager/default.nix
Due: alejandra, statix

WIP
  nix/home-manager/bash.nix
  nix/home-manager/default.nix
  nix/home-manager/npm.nix
Due: alejandra, statix

WIP
  .gitignore
  config/zsh/aws.zsh
  config/zsh/keybind.zsh
  config/zsh/prompt.zsh
  config/zsh/zinit.zsh
  nix/home-manager/git.nix
  nix/home-manager/zsh.nix
Due: alejandra, statix

WIP
  config/zsh/.gitignore
Due: none

WIP
  config/agents/skills/claude-config-optimizer/SKILL.md
  config/agents/skills/codex-config-optimizer/SKILL.md
  nix/flake-parts/default.nix
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/pre-commit.nix
  nix/flake-parts/modules/treefmt.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/agent-skills.nix
  nix/home-manager/modules/bash.nix
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
  nix/home-manager/modules/editorconfig.nix
  nix/home-manager/modules/efm-langserver.nix
  nix/home-manager/modules/git.nix
  nix/home-manager/modules/lazygit.nix
  nix/home-manager/modules/mcp-servers.nix
  nix/home-manager/modules/npm.nix
  nix/home-manager/modules/tmux.nix
  nix/home-manager/modules/vscode.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

WIP
  config/vim/dpp/ddc.toml
  config/vim/dpp/skkdict.utf8
Due: none

WIP
  Makefile
  nix/home-manager/default.nix
Due: alejandra, statix

fix: correct relative paths after moving nix files into modules/ subdirectories
  nix/flake-parts/modules/darwin.nix
  nix/flake-parts/modules/ubuntu.nix
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, statix

WIP
  config/agents/AGENTS.md
  config/vde/layout.yml
Due: rumdl-check, rumdl-fmt

WIP
  config/vde/layout.yml
  nix/flake-parts/modules/darwin.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/claude-code.nix
  nix/home-manager/modules/codex-cli.nix
Due: alejandra, statix

WIP
  config/zsh/zinit.zsh
  nix/flake-parts/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

WIP
  .envrc.example
  nix/home-manager/default.nix
  renovate.json
Due: alejandra, statix

WIP
  Makefile
  config/vim/autoload/my_util.vim
  config/vim/dpp/dpp.ts
  config/vim/dpp/lazy.toml
  config/vim/plugin/my_util.vim
  config/vim/rc/details.vim
  config/vim/snippet/markdown.json
  config/vim/snippet/python.json
  config/vim/snippet/quarto.json
  config/vim/snippet/rmd.json
  config/vim/vimrc
Due: none

WIP
  config/vim/vimrc
Due: none

WIP
  config/vim/autoload/my_filetype.vim
  config/vim/autoload/my_util.vim
  config/vim/autoload/utils.vim
  config/vim/plugin/my_filetype.vim
  config/vim/plugin/my_highlight.vim
  config/vim/plugin/my_util.vim
  config/vim/rc/details.vim
  config/vim/rc/local.default.vim
Due: none

WIP
  config/vim/dpp/lazy.toml
Due: none

WIP
  config/vim/rc/details.vim
Due: none

WIP
  config/nvim/init.vim
  config/vim/autoload/utils.vim
  config/vim/rc/details.vim
  config/vim/rc/local.default.vim
  config/vim/vimrc
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/vim/autoload/utils.vim
  config/vim/vimrc
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
