Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, sqlfmt, stylua, actionlint, ghalint, ghatm, pinact, zizmor

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

stylua:
  name: stylua
  entry: stylua --indent-type Spaces --indent-width 2
  language: system

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

ghalint:
  name: ghalint
  entry: mise exec -- ghalint run
  language: system

ghatm:
  name: ghatm
  entry: mise exec -- ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

WIP
  dot.zshrc
  nix/darwin.nix
Due: none

feat: migrate zsh config to home-manager programs.zsh
  .pre-commit-config.yaml
  dot.zshenv
  dot.zshrc
  nix/darwin.nix
  nix/home.nix
  nix/zsh/aws.zsh
  nix/zsh/keybind.zsh
  nix/zsh/prompt.zsh
  nix/zsh/zinit.zsh
Due: none

fix: remove unnecessary shellcheck exclude for nix/zsh/
  .pre-commit-config.yaml
Due: none

WIP
  Makefile
  nix/home.nix
Due: none

WIP
  dot.config/claude/CLAUDE.md
  dot.config/claude/settings.json
  nix/darwin.nix
  nix/home.nix
Due: none

WIP
  dot.config/claude/settings.json
Due: none

WIP
  dot.config/claude/CLAUDE.md
  nix/darwin.nix
Due: none

WIP
  Makefile
  dot.config/claude/CLAUDE.md
Due: none

WIP
  Makefile
  README.md
Due: none

WIP
  dot.config/claude/CLAUDE.md
  dot.config/claude/skills/agent-memory/.gitignore
  dot.config/claude/skills/agent-memory/SKILL.md
Due: none

WIP
  dot.config/vim/dpp/nvim.toml
  nix/home.nix
Due: none

WIP
  dot.config/claude/CLAUDE.md
  dot.config/claude/agents/researcher-tech.md
  dot.config/claude/agents/reviewer-architecture.md
  dot.config/claude/agents/reviewer-code.md
  dot.config/claude/agents/reviewer-data.md
  dot.config/claude/agents/reviewer-historian.md
  dot.config/claude/agents/reviewer-qa.md
  dot.config/claude/agents/reviewer-security.md
  dot.config/claude/commands/my-code-review.md
  dot.config/claude/commands/my-design-review.md
  dot.config/claude/commands/my-review.md
  dot.config/claude/commands/summarize-reviews.md
  dot.config/claude/rules/file-management.md
  dot.config/claude/settings.json
Due: none

WIP
  flake.lock
Due: none

WIP
  bin/nix-custom-diff.py
  nix/packages/pike.nix
  nix/packages/rumdl.nix
Due: ruff-check, ruff-format

WIP
  dot.config/wezterm/wezterm-bongo-cat.lua
  dot.config/wezterm/wezterm.lua
  nix/darwin.nix
  nix/packages/rumdl.nix
Due: stylua

WIP
  dot.config/wezterm/wezterm-bongo-cat.lua
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm-bongo-cat.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm-zoo.lua
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  dot.config/claude/settings.json
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  dot.config/wezterm/wezterm.lua
Due: stylua

WIP
  nix/home.nix
Due: none

WIP
  flake.lock
  nix/home.nix
Due: none

WIP
  Makefile
Due: none

WIP
  bin/repo-setup
Due: none

WIP
  dot.config/claude/commands/my-review.md
Due: none

WIP
  dot.config/claude/CLAUDE.md
Due: none

WIP
  dot.config/vim/dpp/ddc.toml
Due: none

WIP
  bin/repo-setup
  dot.config/claude/dot.mcp.json
  dot.config/claude/settings.json
Due: none

WIP
  dot.config/zeno/config.yaml
  nix/packages/pike.nix
  nix/packages/rumdl.nix
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  sqlfmt: any of: \.sql$
  stylua: any of: \.lua$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
