Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

WIP
  config/tmux/tmux.conf
Due: none

WIP
  config/tmux/tmux.conf
  nix/home/default.nix
Due: alejandra, statix

WIP
  nix/darwin/homebrew.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/home.nix
Due: alejandra, statix

WIP
  README.md
Due: rumdl-check, rumdl-fmt

WIP
  config/zsh/prompt.zsh
Due: none

WIP
  config/claude/settings.json
  config/zsh/.zlogout
  config/zsh/.zshrc
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/codex/config.common.toml
Due: none

WIP
  config/zsh/.zshrc
Due: none

WIP
  nix/home/default.nix
Due: alejandra, statix

WIP
  nix/home/git.nix
Due: alejandra, statix

WIP
  config/tmux-a2a-postman/postman.toml
Due: none

WIP
  flake.lock
Due: none

WIP
  config/agents/scripts/pretooluse-write-deny.sh
Due: none

WIP
  config/claude/settings.json
Due: none

WIP
  config/zsh/.zshenv
Due: none

WIP
  README.md
  config/agents/skills/dbt-local/SKILL.md
  config/agents/skills/dbt-local/examples/staging-model.sql
  flake.lock
Due: rumdl-check, rumdl-fmt, sqlfmt

WIP
  nix/flake-parts/darwin.nix
  nix/home/default.nix
  nix/home/vscode.nix
Due: alejandra, statix

WIP
  config/zsh/.zshrc
  flake.nix
  nix/flake-modules/pre-commit-base.nix
  nix/flake-modules/treefmt-base.nix
  nix/flake-parts/home.nix
  nix/flake-parts/pre-commit.nix
  nix/flake-parts/treefmt.nix
Due: alejandra, statix

WIP
  flake.lock
  flake.nix
  nix/darwin/homebrew.nix
  nix/flake-parts/darwin.nix
  nix/flake-parts/default.nix
  nix/flake-parts/ubuntu.nix
  nix/home/default.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

WIP
  nix/flake-parts/ubuntu.nix
Due: alejandra, statix

WIP
  Makefile
Due: none

WIP
  config/zsh/.zshrc
  config/zsh/prompt.zsh
Due: none

WIP
  bin/system-load
Due: none

WIP
  README.md
  config/vde/layout.yml
Due: rumdl-check, rumdl-fmt

WIP
  config/zeno/config.yaml
Due: none

WIP
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
