Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

nix: document root lvm helper script
  nix/flake-parts/modules/apps.nix
  scripts/ubuntu/extend-root-lvm.sh
  skills/dotfiles/references/machine-setup.md
  skills/dotfiles/references/nix-operations.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

darwin: centralize homebrew configuration
  nix/flake-parts/modules/darwin.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

skills: document nix module ownership
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/operating-concepts.md
Due: rumdl-check, rumdl-fmt

docs: point guide index to dotfiles skill
  README.md
Due: rumdl-check, rumdl-fmt

docs(readme): remove archived decision-record note
  README.md
Due: rumdl-check, rumdl-fmt

darwin: colocate homebrew host differences
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

docs(readme): remove outdated bootstrap clone snippet
  README.md
Due: rumdl-check, rumdl-fmt

docs(readme): remove quick start and guide index sections
  README.md
Due: rumdl-check, rumdl-fmt

skills(dotfiles): fix stale workspace boot and WAL guidance
  skills/dotfiles/references/workspace-guidance.md
Due: rumdl-check, rumdl-fmt

skills: retire classification.yaml and the release-readiness gate
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-skill-private-content.sh
  scripts/validation/validate-skill-release-readiness.sh
  skills/classification.yaml
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/agent-skill-trigger-validation.md
  skills/dotfiles/references/agent-skills-management.md
  skills/dotfiles/references/agent-skills-release-all.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-review-boundaries.md
  skills/dotfiles/references/skills-management.md
  skills/dotfiles/references/waza-publishing.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

agents: state the Claude-first design principle with a source-flow diagram
  nix/home-manager/agents/README.md
Due: rumdl-check, rumdl-fmt

skills: seed waza eval suites and wire gh skill dry-run into CI
  .github/workflows/ci.yaml
  evals/collaboration/eval.yaml
  evals/collaboration/tasks/negative-trigger-1.yaml
  evals/collaboration/tasks/positive-trigger-1.yaml
  evals/create-review-comment/eval.yaml
  evals/create-review-comment/tasks/negative-trigger-1.yaml
  evals/create-review-comment/tasks/positive-trigger-1.yaml
  evals/data-platform/eval.yaml
  evals/data-platform/tasks/negative-trigger-1.yaml
  evals/data-platform/tasks/positive-trigger-1.yaml
  evals/data-platform/tasks/positive-trigger-2.yaml
  evals/diagramming/eval.yaml
  evals/diagramming/tasks/negative-trigger-1.yaml
  evals/diagramming/tasks/positive-trigger-1.yaml
  evals/diagramming/tasks/positive-trigger-2.yaml
  evals/dotfiles/eval.yaml
  evals/dotfiles/tasks/negative-trigger-1.yaml
  evals/dotfiles/tasks/positive-trigger-1.yaml
  evals/dotfiles/tasks/positive-trigger-2.yaml
  evals/plan-design/eval.yaml
  evals/plan-design/tasks/negative-trigger-1.yaml
  evals/plan-design/tasks/positive-trigger-1.yaml
  evals/plan-design/tasks/positive-trigger-2.yaml
  evals/programming/eval.yaml
  evals/programming/tasks/negative-trigger-1.yaml
  evals/programming/tasks/positive-trigger-1.yaml
  evals/programming/tasks/positive-trigger-2.yaml
  evals/subagent-review/eval.yaml
  evals/subagent-review/tasks/negative-trigger-1.yaml
  evals/subagent-review/tasks/positive-trigger-1.yaml
  evals/subagent-review/tasks/positive-trigger-2.yaml
  evals/technical-research/eval.yaml
  evals/technical-research/tasks/negative-trigger-1.yaml
  evals/technical-research/tasks/positive-trigger-1.yaml
  evals/technical-writing/eval.yaml
  evals/technical-writing/tasks/negative-trigger-1.yaml
  evals/technical-writing/tasks/positive-trigger-1.yaml
  evals/technical-writing/tasks/positive-trigger-2.yaml
  nix/flake-parts/modules/pre-commit.nix
  skills/dotfiles/references/skills-management.md
Due: actionlint, alejandra, ghalint, ghatm, pinact, rumdl-check, rumdl-fmt, statix, zizmor

fix(home-manager): resolve terraform binary conflict
  nix/home-manager/default.nix
Due: alejandra, statix

chore(flake): update locked inputs
  flake.lock
Due: none

chore(vde): switch claude presets to sonnet medium
  config/vde/layout.yml
Due: none

Remove unused Terraform and gh-prism tooling
  flake.lock
  flake.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/gh.nix
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(tmux): disable reload binding and bell settings
  config/tmux/tmux.conf
Due: none

docs(collaboration): make issue-first worktree flow the stated default
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
Due: rumdl-check, rumdl-fmt

ci: separate Nix cache keys per installer (#267)
  .github/workflows/ci-nix-quick-install.yaml
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci: separate Nix cache keys per installer (#267) (#268)
  .github/workflows/ci-nix-quick-install.yaml
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci: restore step parity in ci-nix-quick-install (#269)
  .github/workflows/ci-nix-quick-install.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci: restore step parity in ci-nix-quick-install (#269) (#270)
  .github/workflows/ci-nix-quick-install.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

ci: source gh from the .#ci devshell for the skill check (#271)
  .github/workflows/ci-nix-quick-install.yaml
  .github/workflows/ci.yaml
  flake.nix
Due: actionlint, alejandra, ghalint, ghatm, pinact, statix, zizmor

ci: source gh from the .#ci devshell for the skill check (#271) (#272)
  .github/workflows/ci-nix-quick-install.yaml
  .github/workflows/ci.yaml
  flake.nix
Due: actionlint, alejandra, ghalint, ghatm, pinact, statix, zizmor

release: create a GitHub Release on tag events (#273)
  .github/workflows/release.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

release: create a GitHub Release on tag events (#273) (#274)
  .github/workflows/release.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat(claude): native TUI scrollback + deny AskUserQuestion in headless panes
  nix/home-manager/agents/claude/default.nix
Due: alejandra, statix

docs(harness): catch up Claude 2.1.196-2.1.202 and Codex 0.142.4-0.142.5
  skills/dotfiles/references/changelog-tracking.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
Due: rumdl-check, rumdl-fmt

feat(vde): launch Codex in inline mode for scrollback parity with Claude
  config/vde/layout.yml
Due: none

docs(harness): codify active Claude/Codex parity principle + living matrix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/operating-concepts.md
Due: rumdl-check, rumdl-fmt

harness: unify Claude/Codex native scrollback + deny AskUserQuestion, codify parity principle, catch up 2.1.196-2.1.202 / 0.142.x (#276)
  config/vde/layout.yml
  nix/home-manager/agents/claude/default.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/changelog-tracking.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

docs(harness): split runtime tracking references
  nix/home-manager/agents/claude/default.nix
  nix/home-manager/agents/codex/default.nix
  skills/dotfiles/references/claude-changelog-tracking.md
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/claude-optimization-tracking.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/codex-optimization-tracking.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/workspace-boot-failure-modes.md
  skills/dotfiles/references/workspace-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Manage agent skills and git lock tooling
  flake.lock
  flake.nix
  nix/home-manager/agents/shared/agent-skills.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/git.nix
  scripts/bin/git-locks
  skills/dotfiles/SKILL.md
  skills/dotfiles/references/workspace-guidance.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Codify issue worktree workflow
  skills/collaboration/SKILL.md
  skills/collaboration/references/github-workflow.md
  skills/dotfiles/references/workspace-guidance.md
  skills/dotfiles/references/workspace-worktree-workflow.md
  skills/dotfiles/references/worktree-development-overview.md
  skills/dotfiles/references/worktree-development.md
Due: rumdl-check, rumdl-fmt

Fix nested Azure skill selection
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

Remove Azure Kubernetes skill
  nix/home-manager/agents/shared/agent-skills.nix
Due: alejandra, statix

fix(codex): minimize installed skill bundle (#277)
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/agent-skills.nix
  skills/dotfiles/references/agent-config-philosophy.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/operating-concepts.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
