Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

docs(readme): update CI badge link
  README.md
Due: rumdl-check, rumdl-fmt

chore(waza): bump waza to 0.38.5 and refresh flake inputs
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

fix(agent-skills): update hashicorp terraform source
  nix/home-manager/agents/shared/agent-skills.nix
  skills/external-references/SKILL.md
  skills/external-references/evals/tasks/positive-trigger-2.yaml
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(flake): update locked inputs
  flake.lock
Due: none

WIP
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

chore: replace remote markdown viewer with private gist workflow
  flake.lock
  flake.nix
  nix/home-manager/default.nix
  skills/human-facing-gist/SKILL.md
  skills/human-facing-gist/references/workflow.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor: centralize human-facing gist policy in plan design
  skills/human-facing-gist/SKILL.md
  skills/human-facing-gist/references/workflow.md
  skills/plan-design/SKILL.md
  skills/plan-design/evals/tasks/positive-trigger-3.yaml
  skills/plan-design/references/durable-task-tracking.md
Due: rumdl-check, rumdl-fmt

chore(packages): bump waza and refresh flake inputs
  flake.lock
  nix/packages/waza.nix
Due: alejandra, statix

feat(dotfiles): add agent-task Gist policy (#309)
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/SKILL.md
  skills/dotfiles/evals/tasks/positive-trigger-3.yaml
  skills/dotfiles/references/resume-handoff.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(dotfiles): harden agent-task Gist policy (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): harden agent-task Gist handoff verification (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): enforce agent-task Gist handoff gates (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): harden agent-task Gist lifecycle gates (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): close agent-task Gist final lifecycle gaps (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): close agent-task Gist round 4 gaps (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): close agent-task Gist round 5 gates (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): close agent-task Gist assignment parser gap (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
Due: none

fix(dotfiles): close agent-task Gist round 7 gaps (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/references/resume-handoff.md
Due: rumdl-check, rumdl-fmt

fix(dotfiles): close agent-task Gist backslash parser gap (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
Due: none

fix(dotfiles): close agent-task Gist continuation gaps (#309)
  scripts/validation/validate-agent-task-gist-policy.sh
Due: none

chore(deps): update flake inputs
  flake.lock
Due: none

fix(deps): include tmux Darwin build fix
  flake.lock
Due: none

fix(nix): keep tmux Darwin fix across updates
  flake.lock
  nix/nix-darwin/default.nix
Due: alejandra, statix

Add agent-task Gist memo policy (#313)
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/dotfiles/SKILL.md
  skills/dotfiles/evals/tasks/positive-trigger-3.yaml
  skills/dotfiles/references/resume-handoff.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(ci): extend workflow timeout
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

chore(ci): extend workflow timeout (#314)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(agents): centralize postman language policy (#312)
  config/tmux-a2a-postman/postman.md
  skills/plan-design/SKILL.md
  skills/plan-design/evals/tasks/positive-trigger-3.yaml
  skills/plan-design/references/durable-task-tracking.md
Due: rumdl-check, rumdl-fmt

feat(skills): add artifacts lifecycle skill (#311)
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/artifacts/SKILL.md
  skills/artifacts/evals/eval.yaml
  skills/artifacts/evals/tasks/negative-trigger-1.yaml
  skills/artifacts/evals/tasks/positive-trigger-1.yaml
  skills/artifacts/evals/tasks/positive-trigger-2.yaml
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/references/local-markdown.md
  skills/artifacts/scripts/mkmd
  skills/dotfiles/SKILL.md
  skills/dotfiles/evals/tasks/positive-trigger-3.yaml
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/plan-design/SKILL.md
  skills/plan-design/evals/tasks/positive-trigger-3.yaml
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

test(plan-design): use natural handoff trigger (#312)
  skills/plan-design/evals/tasks/positive-trigger-3.yaml
Due: none

docs(artifacts): harden mkmd and gist delivery contracts (#311)
  nix/flake-parts/modules/pre-commit.nix
  skills/artifacts/SKILL.md
  skills/artifacts/evals/tasks/positive-trigger-1.yaml
  skills/artifacts/evals/tasks/positive-trigger-2.yaml
  skills/artifacts/evals/tasks/positive-trigger-3.yaml
  skills/artifacts/evals/tasks/positive-trigger-4.yaml
  skills/artifacts/evals/tasks/positive-trigger-5.yaml
  skills/artifacts/evals/tasks/positive-trigger-6.yaml
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/references/local-markdown.md
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(artifacts): close mkmd root and gist verifier gaps (#311)
  nix/flake-parts/modules/pre-commit.nix
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/references/local-markdown.md
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
  skills/artifacts/scripts/verify-gist-delivery
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

docs(agents): centralize postman language policy (#315)
  config/tmux-a2a-postman/postman.md
  skills/plan-design/SKILL.md
  skills/plan-design/evals/tasks/positive-trigger-3.yaml
  skills/plan-design/references/durable-task-tracking.md
Due: rumdl-check, rumdl-fmt

fix(skills): resolve plan-design conflict (#311)
  skills/plan-design/SKILL.md
  skills/plan-design/references/durable-task-tracking.md
Due: rumdl-check, rumdl-fmt

chore(deps): bump flake inputs
  flake.lock
Due: none

feat(skills): add artifacts lifecycle skill (#316)
  nix/flake-parts/modules/pre-commit.nix
  scripts/validation/validate-agent-task-gist-policy.sh
  skills/artifacts/SKILL.md
  skills/artifacts/evals/eval.yaml
  skills/artifacts/evals/tasks/negative-trigger-1.yaml
  skills/artifacts/evals/tasks/positive-trigger-1.yaml
  skills/artifacts/evals/tasks/positive-trigger-2.yaml
  skills/artifacts/evals/tasks/positive-trigger-3.yaml
  skills/artifacts/evals/tasks/positive-trigger-4.yaml
  skills/artifacts/evals/tasks/positive-trigger-5.yaml
  skills/artifacts/evals/tasks/positive-trigger-6.yaml
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/references/local-markdown.md
  skills/artifacts/scripts/mkmd
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
  skills/artifacts/scripts/verify-gist-delivery
  skills/dotfiles/SKILL.md
  skills/dotfiles/evals/tasks/positive-trigger-3.yaml
  skills/dotfiles/references/claude-code.md
  skills/dotfiles/references/codex-cli.md
  skills/dotfiles/references/harness-guidance.md
  skills/dotfiles/references/operating-concepts.md
  skills/dotfiles/references/repo-ai-operating-contract.md
  skills/dotfiles/references/resume-handoff.md
  skills/plan-design/SKILL.md
  skills/plan-design/references/brainstorming.md
  skills/plan-design/references/durable-task-tracking.md
  skills/plan-design/references/plan-authoring.md
  skills/programming/references/bash-scripting.md
  skills/programming/references/systematic-debugging.md
  skills/programming/references/tdd-tidy-first.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(artifacts): use skill root for gist verifier (#317)
  skills/artifacts/references/gist-delivery.md
  skills/artifacts/scripts/validate-gist-delivery-contract.sh
Due: rumdl-check, rumdl-fmt

chore(flake): bump tmux-a2a-postman to v0.9.2
  flake.lock
  flake.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
