Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

dotfiles: reflect article insights (Vercel, Zenn, Qiita, Claude Code docs)
  config/claude/CLAUDE.md
  config/claude/scripts/post-write-check.sh
  config/claude/scripts/pre-compact-save.sh
  config/claude/settings.json
  config/claude/skills/claude-config-optimizer/SKILL.md
  config/claude/skills/dbt/examples/staging-model.sql
  config/claude/skills/python/examples/pyproject.toml
  config/claude/skills/terraform/examples/module-skeleton/README.md
  config/claude/skills/terraform/examples/module-skeleton/main.tf
  config/claude/skills/terraform/examples/module-skeleton/versions.tf
Due: rumdl-check, rumdl-fmt, sqlfmt

WIP
  bin/postman.toml
  config/wezterm/wezterm.lua
Due: none

wezterm: statusbar背景を統一し透過処理を修正
  config/wezterm/wezterm.lua
Due: none

WIP
  config/wezterm/wezterm.lua
Due: none

WIP
  config/vde/layout.yml
  config/zeno/config.yaml
Due: none

WIP
  bin/postman.toml
  config/vde/layout.yml
Due: none

WIP
  flake.lock
Due: none

WIP
  bin/ghq-fzf-preview
  config/zeno/config.yaml
Due: none

WIP
  config/vde/layout.yml
Due: none

WIP
  config/claude/skills/claude-config-optimizer/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/codex-config-optimizer/SKILL.md
  config/codex/.gitignore
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/draw-io/SKILL.md
  config/claude/skills/draw-io/references/layout-guidelines.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/draw-io/SKILL.md
  config/claude/skills/draw-io/references/color-palette.md
  config/claude/skills/draw-io/references/layout-guidelines.md
Due: rumdl-check, rumdl-fmt

WIP
  nix/common/darwin.nix
Due: alejandra, statix

WIP
  bin/postman.toml
  config/claude/CLAUDE.md
  config/claude/skills/orchestrator/SKILL.md
  config/claude/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/codex/config.common.toml
Due: none

WIP
  config/claude/CLAUDE.md
  config/claude/skills/subagent-review/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/tmux/tmux.conf
Due: none

WIP
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

refactor: enhance postman.toml with explicit team coordination protocol
  bin/postman.toml
Due: none

WIP
  bin/postman.toml
Due: none

WIP
  config/claude/CLAUDE.md
Due: rumdl-check, rumdl-fmt

WIP
  config/claude/skills/daily-report/SKILL.md
  config/tmux/tmux.conf
Due: rumdl-check, rumdl-fmt

fix(daily-report): add blank lines before lists (MD032)
  config/claude/skills/daily-report/SKILL.md
Due: rumdl-check, rumdl-fmt

WIP
  config/zsh/zinit.zsh
Due: none

WIP
  config/postman/config.toml
  nix/common/home.nix
Due: alejandra, statix

WIP
  config/claude/scripts/deny.sh
  config/zsh/.zshenv
Due: none

fix(deny): use $HOME instead of tilde for shellcheck SC2088
  config/claude/scripts/deny.sh
Due: none
