Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

actionlint:
  name: actionlint
  entry: actionlint
  language: system

alejandra:
  name: alejandra
  entry: alejandra
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

rumdl-check:
  name: rumdl check
  entry: rumdl check
  language: system

rumdl-fmt:
  name: rumdl fmt
  entry: rumdl fmt
  language: system

sqlfmt:
  name: sqlfmt
  entry: uv run sqlfmt
  language: system

statix:
  name: statix check
  entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

Fix Homebrew bundle cleanup activation
  nix/nix-darwin/default.nix
Due: alejandra, statix

fix(skills): remove unsupported translation metadata
  skills/english-to-japanese-technical-translation/SKILL.md
Due: rumdl-check, rumdl-fmt

feat(worktree): allow issue direnv by default
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: rumdl-check, rumdl-fmt

fix(worktree): require review for branch envrc
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: rumdl-check, rumdl-fmt

fix(worktree): preserve branch envrc review gate
  bin/issue-worktree-create
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: rumdl-check, rumdl-fmt

feat(nix): move profile tools to home manager
  README.md
  bin/nix-profile-cleanup
  docs/storage-hygiene.md
  flake.lock
  flake.nix
  nix/flake-parts/modules/apps.nix
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(nix): clean profile before switch
  README.md
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
  nix/home-manager/default.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

chore(nix): update tmux-a2a-postman flake input
  flake.lock
  flake.nix
  nix/flake-parts/modules/apps.nix
  nix/packages/tmux-a2a-postman-nix-update.sh
Due: alejandra, statix

chore(flake): update locked dependencies
  flake.lock
Due: none

Restore subagent model metadata (#232)
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/agent-hooks-architecture.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  nix/home-manager/agents/README.md
  nix/home-manager/agents/shared/install-manifest.nix
  nix/home-manager/agents/subagents/metadata.nix
  skills/agent-harness-engineering/references/claude-code.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/create-review-comment/references/preserved-guidance.md
  skills/subagent-review/SKILL.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

Tune zsh startup cache and repo status (#233)
  bin/repo-status
  config/zsh/completion.zsh
Due: none

Design command approval settings for Codex and Claude Code (#235)
  docs/agent-command-approval-design.md
  docs/agent-config-philosophy.md
  docs/deny-bash-design.md
Due: rumdl-check, rumdl-fmt

Evaluate microsandbox and nix-msb for managed-agent CI (#231)
  docs/microsandbox-nix-msb-managed-agents-evaluation.md
Due: rumdl-check, rumdl-fmt

Use heading-numbering mdfmt hook
  nix/flake-parts/modules/pre-commit.nix
Due: alejandra, statix

Reduce postman runtime contract
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(postman): document runtime contract reduction
  docs/postman-runtime-contract-reduction.md
Due: rumdl-check, rumdl-fmt

chore(tests): remove tests directory
  nix/flake-parts/modules/pre-commit.nix
  tests/worktree-direnv.sh
Due: alejandra, statix

docs(postman): correct reduction commit history
  docs/postman-runtime-contract-reduction.md
Due: rumdl-check, rumdl-fmt

docs(agent-harness): document pane target validation
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/workspace-tmux-pane-operations.md
Due: rumdl-check, rumdl-fmt

fix(worktree): trigger direnv after allow
  bin/repo-setup
  docs/worktree-development-overview.md
  docs/worktree-development.md
  skills/agent-harness-engineering/references/workspace-preserved-guidance.md
  skills/agent-harness-engineering/references/workspace-worktree-workflow.md
  tests/worktree-direnv.sh
Due: rumdl-check, rumdl-fmt

docs(postman): delegate mailbox procedures to skills
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

docs(ci): format microsandbox evaluation headings
  docs/microsandbox-nix-msb-managed-agents-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(postman): reduce prompt procedures
  config/tmux-a2a-postman/postman.md
  docs/agent-config-philosophy.md
  docs/dotfiles-operating-concepts.md
  docs/repo-ai-operating-contract.md
  skills/agent-harness-engineering/references/codex-cli.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/plan-design/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(postman): clarify guardian review skill
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(skills): prune stale consolidation metadata
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/orchestrator-runbook.md
  skills/classification.yaml
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

docs(postman): expand worker-alt contract
  config/tmux-a2a-postman/postman.md
Due: rumdl-check, rumdl-fmt

chore(skills): delete demoted harness triggers
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/resume-handoff.md
  skills/agent-workspace/SKILL.md
  skills/classification.yaml
  skills/prompt-contracts-local/SKILL.md
  skills/trigger-validation.json
Due: rumdl-check, rumdl-fmt

docs(agents): format external guidance headings (#218)
  docs/external-claude-guidance-evaluation.md
Due: rumdl-check, rumdl-fmt

docs(nix-darwin): note 95% battery charge limit setting
  nix/nix-darwin/default.nix
Due: alejandra, statix

chore(flake): bump pinned inputs
  flake.lock
Due: none

fix(home-manager): hide npm while keeping pnpm
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(subagents): increase Claude and Codex reasoning effort
  nix/home-manager/agents/subagents/metadata.nix
Due: alejandra, statix

chore(flake): update locked inputs
  flake.lock
Due: none

fix(darwin): remove unsupported brew cleanup flag
  nix/nix-darwin/default.nix
Due: alejandra, statix

Evaluate external CLAUDE.md agent guidance (#229)
  docs/external-claude-guidance-evaluation.md
  skills/programming/references/tdd-tidy-first.md
Due: rumdl-check, rumdl-fmt

fix(agents): render native agent metadata faithfully
  nix/home-manager/agents/shared/install-manifest.nix
Due: alejandra, statix

refactor(apps): remove nix profile commands
  README.md
  bin/nix-profile-cleanup
  docs/storage-hygiene.md
  nix/flake-parts/modules/apps.nix
Due: alejandra, rumdl-check, rumdl-fmt, statix

feat: add podman tooling
  nix/home-manager/default.nix
Due: alejandra, statix

feat: add podman desktop cask
  nix/flake-parts/modules/darwin.nix
Due: alejandra, statix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  alejandra: any of: \.nix$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-fmt: any of: \.(md|markdown|mdown)$
  sqlfmt: any of: \.sql$
  statix: any of: \.nix$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
