Repository i9wa4/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, alejandra, ghalint, ghatm, pinact, ruff-check, ruff-format, rumdl-check, rumdl-fmt, sqlfmt, statix, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        types: [nix]

      - id: check-external-mention
        name: Check external mention
        entry: bash bin/check-external-mention.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: rumdl-check
        name: rumdl check
        entry: rumdl check
        language: system
        types: [markdown]

      - id: rumdl-fmt
        name: rumdl fmt
        entry: rumdl fmt
        language: system
        types: [markdown]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]
        exclude: ^config/zsh/

      - id: sqlfmt
        name: sqlfmt
        entry: uv run sqlfmt
        language: system
        types: [sql]

      - id: statix
        name: statix check
        entry: bash -c 'echo "$@" | xargs -n1 statix check --' --
        language: system
        types: [nix]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        types: [lua]

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

feat(editor): add register push command and auto-reload
  config/nvim/nvim/init.lua
  config/vim/vimrc
  docs/clipboard-strategy.md
Due: rumdl-check, rumdl-fmt

feat(nvim): improve quote toggling and quickfix navigation
  config/nvim/nvim/init.lua
  docs/clipboard-strategy.md
Due: rumdl-check, rumdl-fmt

chore(nvim): remove window resize repeat mapping
  config/nvim/nvim/init.lua
Due: none

refactor(nvim): remove quickfix focus-preserving mapping
  config/nvim/nvim/init.lua
Due: none

refactor(nvim): simplify init helpers and highlight handling
  config/nvim/nvim/init.lua
Due: none

fix(codex): contain WAL growth under storage pressure
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(nvim): highlight trailing whitespace and markdown markers
  config/nvim/nvim/init.lua
Due: none

style(nvim): enable markdown highlight links
  config/nvim/nvim/init.lua
Due: none

chore(deps): update flake inputs
  flake.lock
Due: none

chore(zsh): remove obsolete prompt comments
  config/zsh/prompt.zsh
Due: none

refactor(vim): simplify vimrc initialization
  config/vim/vimrc
Due: none

chore(zsh): set nvim as default editor and reorder zoxide init
  config/zsh/zinit.zsh
  nix/home-manager/modules/zsh.nix
Due: alejandra, statix

chore(zeno): remove unused snippets
  config/zeno/config.yaml
Due: none

refactor(zsh): replace zeno with native widgets
  config/zeno/config.yaml
  config/zsh/completion.zsh
  config/zsh/history-fzf.zsh
  config/zsh/snippet.zsh
  config/zsh/zinit.zsh
  config/zsh/zoxide.zsh
  nix/flake-parts/modules/apps.nix
  nix/home-manager/default.nix
  nix/home-manager/modules/zsh.nix
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/boot-failure-modes.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

refactor(nvim): simplify keymaps and add parent directory shortcut
  config/nvim/nvim/init.lua
Due: none

style(nvim): reorder normal-mode navigation keymaps
  config/nvim/nvim/init.lua
Due: none

refactor(nvim): simplify location list keymaps
  config/nvim/nvim/init.lua
Due: none

refactor(worktree): use native git worktree backend
  bin/issue-worktree-create
  bin/ubuntu/list-stale-nix-gcroots.sh
  bin/worktree-cleanup-merged
  bin/worktree-remove
Due: none

style(nvim): use lua callbacks for loclist keymaps
  config/nvim/nvim/init.lua
Due: none

chore(worktree): remove vde-worktree package config
  config/vde/worktree/config.yml
  nix/home-manager/modules/git.nix
  nix/home-manager/modules/npm.nix
Due: alejandra, statix

docs(worktree): describe native git workflow
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

chore(flake): bump mcp-servers-nix lockfile
  flake.lock
Due: none

style(kitty): increase background opacity
  config/kitty/kitty.conf
Due: none

chore(worktree): remove merged cleanup command
  bin/worktree-cleanup-merged
  docs/worktree-development.md
  docs/worktree-tool-evaluation.md
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

chore(nix): remove efm-langserver
  nix/home-manager/default.nix
  nix/home-manager/modules/efm-langserver.nix
Due: alejandra, statix

fix(home-manager): symlink kitty config from dotfiles directory
  nix/home-manager/default.nix
Due: alejandra, statix

chore(codex): run storage relief every 10 minutes
  nix/home-manager/agents/codex/default.nix
  skills/agent-harness-engineering/references/codex-cli.md
Due: alejandra, rumdl-check, rumdl-fmt, statix

fix(worktree): accept squash-merged cleanup branches
  bin/worktree-remove
  docs/worktree-development.md
  skills/agent-workspace/references/worktree-workflow.md
Due: rumdl-check, rumdl-fmt

chore(nix): package waza
  nix/flake-parts/default.nix
  nix/flake-parts/modules/apps.nix
  nix/flake-parts/modules/waza.nix
  nix/home-manager/default.nix
  nix/packages/update-waza-nix.sh
  nix/packages/waza.nix
Due: alejandra, statix

docs(skills): use waza for skill management
  skills/agent-skill-management/SKILL.md
  skills/agent-skill-management/references/waza-publishing.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact bash skill
  skills/bash/SKILL.md
  skills/bash/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact agent-harness-engineering skill
  skills/agent-harness-engineering/SKILL.md
  skills/agent-harness-engineering/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact agent-workspace skill
  skills/agent-workspace/SKILL.md
  skills/agent-workspace/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact aws-auth skill
  skills/aws-auth/SKILL.md
  skills/aws-auth/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact bigquery-local skill
  skills/bigquery-local/SKILL.md
  skills/bigquery-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact brainstorming skill
  skills/brainstorming/SKILL.md
  skills/brainstorming/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact create-review-comment skill
  skills/create-review-comment/SKILL.md
  skills/create-review-comment/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact databricks-local skill
  skills/databricks-local/SKILL.md
  skills/databricks-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact dbt-local skill
  skills/dbt-local/SKILL.md
  skills/dbt-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt

docs(skills): waza-compact drawio-local skill
  skills/drawio-local/SKILL.md
  skills/drawio-local/references/preserved-guidance.md
Due: rumdl-check, rumdl-fmt
